<div class="map">
    <div class="wrapper">
        <h3 class="title">
            <span>Карта проектов</span>
        </h3>
        <p class="text">
            В Казахстане ЮНИСЕФ привлек более 8 000 молодых людей в качестве волонтеров, охватив таким образом более 80 000 школьников.
        </p>
        <div id="mapa"></div>
    </div>
</div>

<script>
    var simplemaps_countrymap_mapdata = {
        main_settings: {
            width: "1200",
            background_color: "#FFFFFF",
            background_transparent: "yes",
            border_color: "#ffffff",

            state_description: "",
            state_color: "#D9D9DE",
            state_hover_color: "#1CABE2",
            state_url: "",
            border_size: 1.5,
            all_states_inactive: "no",
            all_states_zoomable: "no",

            location_description: "",
            location_url: "",
            location_color: "#FF0067",
            location_opacity: 0.8,
            location_hover_opacity: 1,
            location_size: 25,
            location_type: "square",
            location_image_source: "frog.png",
            location_border_color: "#FFFFFF",
            location_border: 2,
            location_hover_border: 2.5,
            all_locations_inactive: "no",
            all_locations_hidden: "no",

            label_color: "#d5ddec",
            label_hover_color: "#d5ddec",
            label_size: 22,
            label_font: "Arial",
            hide_labels: "no",
            hide_eastern_labels: "no",

            zoom: "yes",
            manual_zoom: "no",
            back_image: "no",
            initial_back: "no",
            initial_zoom: "-1",
            initial_zoom_solo: "no",
            region_opacity: 1,
            region_hover_opacity: 0.6,
            zoom_out_incrementally: "yes",
            zoom_percentage: 0.99,
            zoom_time: 0.5,

            popup_color: "white",
            popup_opacity: 0.9,
            popup_shadow: 1,
            popup_corners: 5,
            popup_font: "12px/1.5 Verdana, Arial, Helvetica, sans-serif",
            popup_nocss: "no",

            div: "mapa",
            auto_load: "yes",
            url_new_tab: "no",
            images_directory: "default",
            fade_time: 0.1,
            link_text: "View Website",
            popups: "detect",
            state_image_url: "",
            state_image_position: "",
            location_image_url: "static/img/minified-svg/marker.svg"
        },
        state_specific: {
            KAZ3205: {
                name: "Павлодар облысы",
                color: "#D9D9DE",
                description: "Орындалған жобалар: 3",
                url: "https://qazvolunteer.kz/kk/projects?region_id=1"
            },
            KAZ3207: {
                name: "Алматы облысы",
                color: "#D9D9DE",
                description: "Орындалған жобалар: 14",
                url: "https://qazvolunteer.kz/kk/projects?region_id=2"
            },
            KAZ3195: {
                name: "Ақтөбе облысы",
                color: "#D9D9DE",
                description: "Орындалған жобалар: 18",
                url: "https://qazvolunteer.kz/kk/projects?region_id=3"
            },
            KAZ3196: {
                name: "Қостанай облысы",
                color: "#D9D9DE",
                description: "Орындалған жобалар: 10",
                url: "https://qazvolunteer.kz/kk/projects?region_id=4"
            },
            KAZ3197: {
                name: "Қызылорда облысы",
                color: "#D9D9DE",
                description: "Орындалған жобалар: 13",
                url: "https://qazvolunteer.kz/kk/projects?region_id=5"
            },
            KAZ3198: {
                name: "Атырау облысы",
                color: "#D9D9DE",
                description: "Орындалған жобалар: 0",
                url: "https://qazvolunteer.kz/kk/projects?region_id=6"
            },
            KAZ3201: {
                name: "Батыс Қазақстан облысы",
                color: "#D9D9DE",
                description: "Орындалған жобалар: 12",
                url: "https://qazvolunteer.kz/kk/projects?region_id=7"
            },
            KAZ3202: {
                name: "Ақмола облысы",
                color: "#D9D9DE",
                description: "Орындалған жобалар: 8",
                url: "https://qazvolunteer.kz/kk/projects?region_id=8"
            },
            KAZ3203: {
                name: "Қарағанды ​​облысы",
                color: "#D9D9DE",
                description: "Орындалған жобалар: 8",
                url: "https://qazvolunteer.kz/kk/projects?region_id=9"
            },
            KAZ3204: {
                name: "Солтүстік Қазақстан облысы",
                color: "#D9D9DE",
                description: "Орындалған жобалар: 4",
                url: "https://qazvolunteer.kz/kk/projects?region_id=10"
            },
            KAZ3206: {
                name: "Шығыс Қазақстан облысы",
                color: "#D9D9DE",
                description: "Орындалған жобалар: 36",
                url: "https://qazvolunteer.kz/kk/projects?region_id=11"
            },
            KAZ3236: {
                name: "Маңғыстау облысы",
                color: "#D9D9DE",
                description: "Орындалған жобалар: 2",
                url: "https://qazvolunteer.kz/kk/projects?region_id=12"
            },
            KAZ3251: {
                name: "Түркістан облысы",
                color: "#D9D9DE",
                description: "Орындалған жобалар: 2",
                url: "https://qazvolunteer.kz/kk/projects?region_id=13"
            },
            KAZ3252: {
                name: "Жамбыл облысы",
                color: "#D9D9DE",
                description: "Орындалған жобалар: 7",
                url: "https://qazvolunteer.kz/kk/projects?region_id=14"
            }
        },
        locations: {
            "0": {
                lat: "52.3166599",
                lng: "76.8947627",
                name: "Павлодар",
                type: "image",
                size: "50",
                opacity: "1"
            },
            "1": {
                lat: "51.7261692",
                lng: "75.2844142",
                name: "Екібастұз",
                type: "image",
                size: "50",
                opacity: "1"
            },
            "2": {
                lat: "43.2173885",
                lng: "76.8040827",
                name: "Алматы",
                type: "image",
                size: "50",
                opacity: "1"
            },
            "3": {
                lat: "45.0106102",
                lng: "78.3548351",
                name: "Талдықорған",
                type: "image",
                size: "50",
                opacity: "1"
            },
            "4": {
                lat: "50.2737724",
                lng: "57.1237494",
                name: "Ақтөбе",
                type: "image",
                size: "50",
                opacity: "1"
            },
            "5": {
                lat: "53.2055331",
                lng: "63.551787",
                name: "Қостанай",
                type: "image",
                size: "50",
                opacity: "1"
            },
            "6": {
                lat: "52.975533",
                lng: "63.0861993",
                name: "Рудный",
                type: "image",
                size: "50",
                opacity: "1"
            },
            "7": {
                lat: "44.8281369",
                lng: "65.4700314",
                name: "Қызылорда",
                type: "image",
                size: "50",
                opacity: "1"
            },
            "8": {
                lat: "47.0972372",
                lng: "51.8662627",
                name: "Атырау",
                type: "image",
                size: "50",
                opacity: "1"
            },
            "9": {
                lat: "51.2182048",
                lng: "51.3160907",
                name: "Орал",
                type: "image",
                size: "50",
                opacity: "1"
            },
            "10": {
                lat: "51.1480774",
                lng: "71.3393081",
                name: "Нұр-Султан",
                type: "image",
                size: "50",
                opacity: "1"
            },
            "11": {
                lat: "53.2989393",
                lng: "69.3754431",
                name: "Көкшетау",
                type: "image",
                size: "50",
                opacity: "1"
            },
            "12": {
                lat: "49.8241195",
                lng: "73.0288872",
                name: "Қарағанды",
                type: "image",
                size: "50",
                opacity: "1"
            },
            "13": {
                lat: "49.567335",
                lng: "72.879909",
                name: "Теміртау",
                type: "image",
                size: "50",
                opacity: "1"
            },
            "14": {
                lat: "54.8739717",
                lng: "69.0904091",
                name: "Петропавл",
                type: "image",
                size: "50",
                opacity: "1"
            },
            "15": {
                lat: "50.4130211",
                lng: "80.2054884",
                name: "Семей",
                type: "image",
                size: "50",
                opacity: "1"
            },
            "16": {
                lat: "49.9666298",
                lng: "82.5361189",
                name: "Өскемен",
                type: "image",
                size: "50",
                opacity: "1"
            },
            "17": {
                lat: "43.659588",
                lng: "51.175688",
                name: "Ақтау",
                type: "image",
                size: "50",
                opacity: "1"
            },
            "18": {
                lat: "43.3037389",
                lng: "68.2255693",
                name: "Түркістан",
                type: "image",
                size: "50",
                opacity: "1"
            },
            "19": {
                lat: "42.341926",
                lng: "69.519766",
                name: "Шымкент",
                type: "image",
                size: "50",
                opacity: "1"
            },
            "20": {
                lat: "42.8962377",
                lng: "71.2988216",
                name: "Тараз",
                type: "image",
                size: "50",
                opacity: "1"
            },
            "21": {
                lat: "",
                lng: "",
                name: "Жезқазған",
                type: "image",
                size: "50",
                opacity: "1"
            },
            "22": {
                lat: "",
                lng: "",
                name: "Арқалық",
                type: "image",
                size: "50",
                opacity: "1"
            },
            "23": {
                lat: "",
                lng: "",
                name: "Қапшағай",
                type: "image",
                size: "50",
                opacity: "1"
            }
        },
        labels: {},
        regions: {}
    };
</script>