<!DOCTYPE html>
<html class="no-js" lang="ru">

<head>
    {{> head/head head.defaults}}
</head>

<body class="page">
    %=symbols=%

    <div class="align-top admin">

        {{>navbar/navbar}}

        <div class="admin-content">
            <div class="align-center admin-head">
                <span>Страницы</span>
                <a href="#" class="btn btn-blue">Добавить страницу</a>
            </div>
            <div class="admin-view">
                <div class="container-fluid">

                    <div class="table">
                        <table>
                            <thead>
                                <tr>
                                    <th>
                                        <label class="check">
                                            <input type="checkbox">
                                            <span class="align-center check-box"></span>
                                        </label>
                                    </th>
                                    <th>
                                        <span>ID</span>
                                    </th>
                                    <th> <!-- .active - при сортировке -->
                                        <span>Название</span>
                                    </th>
                                    <th>
                                        <span>Категория</span>
                                    </th>
                                    <th>
                                        <span>Дата</span>
                                    </th>
                                    <th>
                                        <span>Статус</span>
                                    </th>
                                    <th>
                                        <span>Действие</span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <label class="check">
                                            <input type="checkbox">
                                            <span class="align-center check-box"></span>
                                        </label>
                                    </td>
                                    <td>02</td>
                                    <td>Премия «Волонтер Года»</td>
                                    <td>Новости</td>
                                    <td>19.10.2021</td>
                                    <td>Опубликована</td>
                                    <td>
                                        <div class="align-center table-actions">
                                            <div>
                                                {{Icon iconName="edit"}}
                                            </div>
                                            <div>
                                                {{Icon iconName="delete"}}
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{>bottom/bottom}}
</body>

</html>