<!DOCTYPE html>
<html class="no-js" lang="ru">

<head>
    {{> head/head head.defaults}}
</head>

<body class="page">
    %=symbols=%

    <div class="align-top admin">

        {{>navbar/navbar}}

        <div class="admin-content">
            <div class="admin-head">Сводка - школы</div>
            <div class="admin-view">
                <div class="container">
                    <div class="align-center admin-info">
                        <div class="admin-info-title">Информация по школам</div>
                        <div class="align-center admin-info-export">
                            {{Icon iconName="export"}}
                            <span>Экспорт</span>
                        </div>
                        <div class="align-center admin-info-date">
                            {{Icon iconName="calendar"}}
                            <input type="text" class="monthpicker" placeholder="Выберите месяц">
                        </div>
                    </div>

                    <div class="table">
                        <table>
                            <thead>
                                <tr>
                                    <th>
                                        <span>Группа</span>
                                    </th>
                                    <th class="sort active">
                                        <span>Количество</span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Общее кол-во школ, принявших участие в проекте</td>
                                    <td>201</td>
                                </tr>
                                <tr>
                                    <td>Количество школ по регионам</td>
                                    <td>201</td>
                                </tr>
                                <tr>
                                    <td>Нур-Султан</td>
                                    <td>201</td>
                                </tr>
                                <tr>
                                    <td>Алматы</td>
                                    <td>201</td>
                                </tr>
                                <tr>
                                    <td>Шымкент</td>
                                    <td>201</td>
                                </tr>
                                <tr>
                                    <td>Акмолинская</td>
                                    <td>201</td>
                                </tr>
                                <tr>
                                    <td>Акмолинская</td>
                                    <td>201</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{>bottom/bottom}}
</body>

</html>