<!DOCTYPE html>
<html class="no-js" lang="ru">

<head>
    {{> head/head head.defaults}}
</head>

<body class="page">
    %=symbols=%

    <div class="align-top admin">

        {{>navbar/navbar}}

        <div class="admin-content">
            <div class="align-center admin-head">
                <span>Пользователи - волонтеры</span>
                <button class="btn btn-blue">Добавить волонтера</button>
            </div>
            <div class="admin-view">
                <div class="container-fluid">
                    <div class="align-center admin-info">
                        <div class="input input-search">
                            <div class="input-icon">
                                {{Icon iconName="loupe"}}
                            </div>
                            <input type="text" placeholder="Поиск">
                        </div>
                        <div class="input">
                            <select class="nice-select">
                                <option disabled selected>ФИО</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                        </div>
                        <div class="input">
                            <select class="nice-select">
                                <option disabled selected>Пол</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                        </div>
                        <div class="input">
                            <select class="nice-select">
                                <option disabled selected>Город</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                        </div>
                        <div class="input">
                            <select class="nice-select">
                                <option disabled selected>Направление</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                        </div>
                        <div class="input">
                            <select class="nice-select">
                                <option disabled selected>Язык</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                        </div>
                        <div class="input">
                            <select class="nice-select">
                                <option disabled selected>Статус</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                        </div>
                    </div>

                    <div class="table">
                        <div class="align-center actions">
                            <div class="align-center actions-btn">
                                <span>Действие</span>
                                {{Icon iconName="pagination-arrow"}}
                            </div>
                            <div class="align-center actions-selected">
                                Отмечено 
                                <span id="current"></span>
                                /
                                <span id="all"></span>
                            </div>

                            <div class="actions-drop">
                                <div class="actions-links">
                                    <div class="actions-link">Импортировать</div>
                                    <div class="actions-link">Экспортировать</div>
                                </div>
                                <div class="actions-links">
                                    <div class="actions-link">Отправить Email</div>
                                </div>
                                <div class="actions-links">
                                    <div class="actions-link">Заблокировать</div>
                                    <div class="actions-link">Удалить</div>
                                </div>
                            </div>
                        </div>
                        <table>
                            <thead>
                                <tr>
                                    <th>
                                        <label class="check">
                                            <input type="checkbox">
                                            <span class="align-center check-box"></span>
                                        </label>
                                    </th>
                                    <th>
                                        <span>ID</span>
                                    </th>
                                    <th class="sort active"> <!-- .active - при сортировке -->
                                        <span>ФИО</span>
                                    </th>
                                    <th class="sort">
                                        <span>Телефон</span>
                                    </th>
                                    <th class="sort">
                                        <span>E-mail</span>
                                    </th>
                                    <th class="sort">
                                        <span>Город</span>
                                    </th>
                                    <th class="sort">
                                        <span>Язык</span>
                                    </th>
                                    <th class="sort">
                                        <span>Направление</span>
                                    </th>
                                    <th class="sort">
                                        <span>Пол</span>
                                    </th>
                                    <th class="sort">
                                        <span>Поток</span>
                                    </th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <label class="check">
                                            <input type="checkbox">
                                            <span class="align-center check-box"></span>
                                        </label>
                                    </td>
                                    <td>02</td>
                                    <td>Зиновьев Илья Сергеевич</td>
                                    <td>+7 (000) 000-00-00</td>
                                    <td>nursultan1994@gmail.com</td>
                                    <td>Нур-Султан</td>
                                    <td>русский</td>
                                    <td>GenU Эко</td>
                                    <td>Мужской</td>
                                    <td>
                                        1
                                    </td>
                                    <td class="status success">
                                        <span>Активный</span>
                                    </td>
                                    <td>
                                        <div class="table-more">
                                            {{Icon iconName="three-dots"}}
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="check">
                                            <input type="checkbox">
                                            <span class="align-center check-box"></span>
                                        </label>
                                    </td>
                                    <td>02</td>
                                    <td>Зиновьев Илья Сергеевич</td>
                                    <td>+7 (000) 000-00-00</td>
                                    <td>nursultan1994@gmail.com</td>
                                    <td>Нур-Султан</td>
                                    <td>русский</td>
                                    <td>GenU Эко</td>
                                    <td>Мужской</td>
                                    <td>
                                        1
                                    </td>
                                    <td class="status error">
                                        <span>Бан</span>
                                    </td>
                                    <td>
                                        <div class="table-more">
                                            {{Icon iconName="three-dots"}}
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="check">
                                            <input type="checkbox">
                                            <span class="align-center check-box"></span>
                                        </label>
                                    </td>
                                    <td>02</td>
                                    <td>Зиновьев Илья Сергеевич</td>
                                    <td>+7 (000) 000-00-00</td>
                                    <td>nursultan1994@gmail.com</td>
                                    <td>Нур-Султан</td>
                                    <td>русский</td>
                                    <td>GenU Эко</td>
                                    <td>Мужской</td>
                                    <td>
                                        1
                                    </td>
                                    <td class="status waiting">
                                        <span>Модерация</span>
                                    </td>
                                    <td>
                                        <div class="table-more">
                                            {{Icon iconName="three-dots"}}
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <!-- <tbody> 
                                <tr>
                                    <td class="table-empty">Ничего не найдено</td>
                                </tr>
                            </tbody> -->
                            <!-- Показывать когда нет результатов -->
                        </table>
                    </div>

                    <div class="align-center view-more">
                        <div class="align-center view-option">
                            <select class="nice-select">
                                <option value="10">10</option>
                                <option value="10">20</option>
                                <option value="10">30</option>
                            </select>
                            <div class="view-showed">Отображено 1 - 4 (всего 10 474 элементов)</div>
                        </div>

                        {{>pagination/pagination}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{>bottom/bottom}}
</body>

</html>