<!DOCTYPE html>
<html class="no-js" lang="ru">

<head>
    {{> head/head head.defaults}}
</head>

<body class="page">
    %=symbols=%

    <div class="align-top admin">

        {{>navbar/navbar}}

        <div class="admin-content">
            <div class="admin-head">Сводка - волонтеры</div>
            <div class="admin-view">
                <div class="container">
                    <div class="align-center admin-info">
                        <div class="admin-info-title">Информация по волонтерам</div>
                        <div class="align-center admin-info-export">
                            {{Icon iconName="export"}}
                            <span>Экспорт</span>
                        </div>
                    </div>

                    <div class="table">
                        <table>
                            <thead>
                                <tr>
                                    <th>
                                        <span>Группа</span>
                                    </th>
                                    <th class="sort active">
                                        <span>1 поток сентябрь-декабрь 2021</span>
                                    </th>
                                    <th class="sort active">
                                        <span>2 поток январь-май 2022</span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Парней</td>
                                    <td>201</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Девушек</td>
                                    <td>300</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td>Парней с ограниченными возможностями</td>
                                    <td>300</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td>Девушек с ограниченными возможностями</td>
                                    <td>0</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Младше 16</td>
                                    <td>0</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Младше 16 девушек</td>
                                    <td>0</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Младше 16 парней</td>
                                    <td>0</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>16-18 лет</td>
                                    <td>0</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>16-18 лет Девушек</td>
                                    <td>0</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>16-18 лет Парней</td>
                                    <td>0</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>19-24 лет</td>
                                    <td>201</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>119-24 лет Парней</td>
                                    <td>201</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>119-24 лет Парней</td>
                                    <td>201</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>119-24 лет Парней</td>
                                    <td>201</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>119-24 лет Парней</td>
                                    <td>201</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>119-24 лет Парней</td>
                                    <td>201</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>119-24 лет Парней</td>
                                    <td>201</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>119-24 лет Парней</td>
                                    <td>201</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>35+ лет Парней</td>
                                    <td>201</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{>bottom/bottom}}
</body>

</html>