<!DOCTYPE html>
<html class="no-js" lang="ru">

<head>
    {{> head/head head.defaults}}
</head>

<body class="page">
    %=symbols=%

    <div class="align-top admin">

        {{>navbar/navbar}}

        <div class="admin-content">
            <div class="admin-head">Сводка - уроки</div>
            <div class="admin-view">
                <div class="container">
                    <div class="align-center admin-info">
                        <div class="admin-info-title">уроки</div>
                        <div class="align-center admin-info-export">
                            {{Icon iconName="export"}}
                            <span>Экспорт</span>
                        </div>
                        <div class="align-center admin-info-date">
                            {{Icon iconName="calendar"}}
                            <input type="text" class="datepicker-here" placeholder="Выберите дату">
                        </div>
                    </div>

                    <div class="row admin-items">
                        <div class="admin-item">
                            <div class="align-center admin-circle">
                                {{Icon iconName="circle-arrow"}}
                            </div>
                            <div class="admin-name">Запланировано занятий</div>
                            <div class="admin-value">2051</div>
                        </div>
                        <div class="admin-item">
                            <div class="align-center admin-circle">
                                {{Icon iconName="lesson-check"}}
                            </div>
                            <div class="admin-name">Проведено занятий</div>
                            <div class="admin-value">25</div>
                        </div>
                        <div class="admin-item">
                            <div class="align-center admin-circle">
                                {{Icon iconName="lesson-left-arrow"}}
                            </div>
                            <div class="admin-name">Отмененные занятия</div>
                            <div class="admin-value">11</div>
                        </div>
                        <div class="admin-item">
                            <div class="align-center admin-circle">
                                {{Icon iconName="lesson-close"}}
                            </div>
                            <div class="admin-name">Пропущенные занятия</div>
                            <div class="admin-value">35</div>
                        </div>
                    </div>

                    <div class="align-center admin-info">
                        <div class="admin-info-title">Группы пользователей</div>
                        <div class="align-center admin-info-export">
                            {{Icon iconName="export"}}
                            <span>Экспорт</span>
                        </div>
                        <div class="align-center admin-info-date">
                            {{Icon iconName="calendar"}}
                            <input type="text" class="datepicker-here" placeholder="Выберите дату">
                        </div>
                    </div>

                    <div class="row admin-items">
                        <div class="admin-item">
                            <div class="align-center admin-circle">
                                {{Icon iconName="glasses-icon"}}
                            </div>
                            <div class="admin-name">Кураторы</div>
                            <div class="admin-value">2051</div>
                        </div>
                        <div class="admin-item">
                            <div class="align-center admin-circle">
                                {{Icon iconName="users-people"}}
                            </div>
                            <div class="admin-name">Волонтеры</div>
                            <div class="admin-value">350</div>
                        </div>
                        <div class="admin-item">
                            <div class="align-center admin-circle">
                                {{Icon iconName="coordinators"}}
                            </div>
                            <div class="admin-name">Координаторы</div>
                            <div class="admin-value">11</div>
                        </div>
                        <div class="admin-item">
                            <div class="align-center admin-circle">
                                {{Icon iconName="schools"}}
                            </div>
                            <div class="admin-name">Школы</div>
                            <div class="admin-value">35</div>
                        </div>
                        <div class="admin-item">
                            <div class="align-center admin-circle">
                                {{Icon iconName="class"}}
                            </div>
                            <div class="admin-name">Классы</div>
                            <div class="admin-value">35</div>
                        </div>
                    </div>

                    <div class="align-center admin-info">
                        <div class="admin-info-title">Информация по урокам</div>
                        <div class="align-center admin-info-export">
                            {{Icon iconName="export"}}
                            <span>Экспорт</span>
                        </div>
                        <div class="align-center admin-info-date">
                            {{Icon iconName="calendar"}}
                            <input type="text" class="monthpicker" placeholder="Выберите месяц">
                        </div>
                    </div>

                    <div class="table">
                        <table>
                            <thead>
                                <tr>
                                    <th>
                                        <span>Группа</span>
                                    </th>
                                    <th class="sort active">
                                        <span>Количество</span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>На казахском языке</td>
                                    <td>201</td>
                                </tr>
                                <tr>
                                    <td>На русском языке</td>
                                    <td>201</td>
                                </tr>
                                <tr>
                                    <td>ИТОГО уроков на всех языках</td>
                                    <td>201</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{>bottom/bottom}}
</body>

</html>