<!DOCTYPE html>
<html class="no-js" lang="ru">

<head>
    {{> head/head head.defaults}}
</head>

<body class="page">
    %=symbols=%

    <div class="align-top admin">

        {{>navbar/navbar}}

        <div class="admin-content">
            <div class="admin-head">Сводка - ученики</div>
            <div class="admin-view">
                <div class="container">
                    <div class="align-center admin-info">
                        <div class="admin-info-title">Информация по ученикам</div>
                        <div class="align-center admin-info-export">
                            {{Icon iconName="export"}}
                            <span>Экспорт</span>
                        </div>
                        <div class="align-center admin-info-date">
                            {{Icon iconName="calendar"}}
                            <span>Сентябрь</span>
                        </div>
                    </div>

                    <div class="table">
                        <table>
                            <thead>
                                <tr>
                                    <th>
                                        <span>Группа</span>
                                    </th>
                                    <th class="sort active">
                                        <span>Количество</span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Количество девочек на казахском языке</td>
                                    <td>201</td>
                                </tr>
                                <tr>
                                    <td>Количество мальчиков на казахском языке</td>
                                    <td>201</td>
                                </tr>
                                <tr>
                                    <td>Количество девочек на русском языке</td>
                                    <td>201</td>
                                </tr>
                                <tr>
                                    <td>Количество мальчиков на русском языке</td>
                                    <td>201</td>
                                </tr>
                                <tr>
                                    <td>ИТОГО детей с казахским языком обучения</td>
                                    <td>201</td>
                                </tr>
                                <tr>
                                    <td>ИТОГО детей с русским языком обучения</td>
                                    <td>201</td>
                                </tr>
                                <tr>
                                    <td>ОБЩЕЕ количество детей</td>
                                    <td>201</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{>bottom/bottom}}
</body>

</html>