<!DOCTYPE html>
<html class="no-js" lang="ru">

<head>
    {{> head/head head.defaults}}
</head>

<body class="page">
    %=symbols=%

    <div class="align-top admin">

        {{>navbar/navbar}}

        <div class="admin-content">
            <div class="align-center admin-head">
                <span>Добавить страницу</span>
                <div class="align-center add">
                    <label class="align-center draft">
                        <input type="checkbox">
                        <span class="draft-box"></span>
                        <span class="draft-text">Черновик</span>
                    </label>
                    <div class="add-buttons">
                        <button class="btn btn-blue">Сохранить и добавить еще страницу</button>
                        <button class="btn btn-blue">Сохранить и закрыть</button>
                    </div>
                </div>
            </div>
            <div class="admin-view">
                <form class="add-form">
                    <div class="align-bottom add-row">
                        <div class="input input-date input-select">
                            <div class="input-placeholder">Начало:</div>
                            <div class="input-icon">
                                {{Icon iconName="calendar"}}
                            </div>
                            <input type='text' class='datepicker-here' data-language='ru' placeholder="Выберите дату"/>
                        </div>
                        <div class="input">
                            <select class="nice-select">
                                <option disabled selected>Время</option>
                                <option value="1">10:00</option>
                                <option value="2">11:00</option>
                                <option value="2">11:00</option>
                                <option value="2">11:00</option>
                                <option value="2">11:00</option>
                                <option value="2">11:00</option>
                                <option value="2">11:00</option>
                                <option value="2">11:00</option>
                                <option value="2">11:00</option>
                                <option value="2">11:00</option>
                                <option value="2">11:00</option>
                                <option value="2">11:00</option>
                                <option value="2">11:00</option>
                                <option value="2">11:00</option>
                                <option value="2">11:00</option>
                            </select>
                        </div>
                    </div>

                    <div class="add-row">
                        <div class="input-placeholder">Изображение:</div>
                        <div class="help-text">Форматы: jpg, png</div>
                        <label class="btn btn-blue">
                            <input type="file" id="file" accept="image/jpeg,image/png">
                            <span class="btn-text">выберите файл</span>
                        </label>
                    </div>

                    <div class="add-row">
                        <div class="input input-select">
                            <div class="input-placeholder">Категория:</div>
                            <select class="nice-select">
                                <option value="0" class="selected disabled">Выберите раздел</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                            </select>
                        </div>
                    </div>

                    <div class="add-row">
                        <div class="input-placeholder">Категория:</div>
                        <div class="align-center input">
                            <div class="input-flag">
                                <img src="%=static=%img/general/kz.png" alt="">
                            </div>
                            <input type="text" placeholder="Введите название">
                        </div>
                        <div class="align-center input">
                            <div class="input-flag">
                                <img src="%=static=%img/general/ru.png" alt="">
                            </div>
                            <input type="text" placeholder="Введите название">
                        </div>
                    </div>

                    <div class="add-row">
                        <div class="input-placeholder">Вводный текст:</div>
                        <div class="align-center input">
                            <div class="input-flag">
                                <img src="%=static=%img/general/kz.png" alt="">
                            </div>
                            <textarea></textarea>
                        </div>
                        <div class="align-center input">
                            <div class="input-flag">
                                <img src="%=static=%img/general/ru.png" alt="">
                            </div>
                            <textarea></textarea>
                        </div>
                    </div>

                    <div class="add-row">
                        <div class="input-placeholder">Контент:</div>
                        <div class="align-top input">
                            <div class="input-flag">
                                <img src="%=static=%img/general/kz.png" alt="">
                            </div>

                            <div id="kz-editor">
                            </div>
                        </div>
                        <div class="align-top input">
                            <div class="input-flag">
                                <img src="%=static=%img/general/ru.png" alt="">
                            </div>

                            <div id="ru-editor">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {{>bottom/bottom}}

    <script src="https://cdn.ckeditor.com/ckeditor5/31.0.0/classic/ckeditor.js"></script>
    <script>
        ClassicEditor
        .create( document.querySelector( '#kz-editor' ) )
        .catch( error => {
            console.error( error );
        } );


        ClassicEditor
        .create( document.querySelector( '#ru-editor' ) )
        .catch( error => {
            console.error( error );
        } );
    </script>
</body>

</html>