<!DOCTYPE html>
<html class="no-js" lang="ru">

<head>
    {{> head/head head.defaults}}
</head>

<body class="page">
    %=symbols=%

    <div class="align-top admin">

        {{>navbar/navbar}}

        <div class="admin-content">
            <div class="admin-head">Расписание занятий</div>
            <div class="admin-view">
                <div class="container-fluid">
                    <div class="align-center admin-info">
                        <div class="input input-date">
                            <div class="input-icon">
                                {{Icon iconName="calendar"}}
                            </div>
                            <input type='text' class='datepicker-here' data-language='ru' />
                        </div>
                        <div class="input">
                            <select class="nice-select">
                                <option disabled selected>Город</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                        </div>
                        <div class="input">
                            <select class="nice-select">
                                <option disabled selected>Школа</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                        </div>
                        <div class="input">
                            <select class="nice-select">
                                <option disabled selected>Класс</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                        </div>
                        <div class="input">
                            <select class="nice-select">
                                <option disabled selected>Направление</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                        </div>
                        <div class="input">
                            <select class="nice-select">
                                <option disabled selected>Платформа</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                        </div>
                        <div class="input">
                            <select class="nice-select">
                                <option disabled selected>Статус</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                        </div>
                        <div class="input">
                            <select class="nice-select">
                                <option disabled selected>Язык</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                        </div>
                        <div class="input input-search">
                            <div class="input-icon">
                                {{Icon iconName="loupe"}}
                            </div>
                            <input type="text" placeholder="Поиск">
                        </div>
                    </div>

                    <div class="table">
                        <table>
                            <thead>
                                <tr>
                                    <th>
                                        <span>ID</span>
                                    </th>
                                    <th class="sort active"> <!-- .active - при сортировке -->
                                        <span>Дата</span>
                                    </th>
                                    <th class="sort">
                                        <span>Время</span>
                                    </th>
                                    <th class="sort">
                                        <span>Направление</span>
                                    </th>
                                    <th class="sort">
                                        <span>Язык</span>
                                    </th>
                                    <th class="sort">
                                        <span>Город</span>
                                    </th>
                                    <th class="sort">
                                        <span>Школа</span>
                                    </th>
                                    <th class="sort">
                                        <span>Куратор</span>
                                    </th>
                                    <th class="sort">
                                        <span>Классы</span>
                                    </th>
                                    <th class="sort">
                                        <span>Платформа</span>
                                    </th>
                                    <th>
                                        <span>Волонтеры</span>
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>02</td>
                                    <td>21.09.21</td>
                                    <td>10:00 - 10:45</td>
                                    <td class="table-direct">
                                        <span>GenU</span>
                                    </td>
                                    <td>Русский</td>
                                    <td>Нур-Султан</td>
                                    <td>Школа – гимназия</td>
                                    <td>Софронова Вероника</td>
                                    <td>1-5</td>
                                    <td>
                                        <div class="platform align-center zoom">
                                            Zoom
                                        </div>
                                    </td>
                                    <td>
                                        <div class="align-center table-user">
                                            <img src="%=static=%img/general/admin.png" alt="">
                                            <span>Федоров Алексей</span>
                                        </div>
                                    </td>
                                    <td class="status success">
                                        <span>Завершен</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>32</td>
                                    <td>21.09.21</td>
                                    <td>10:00 - 10:45</td>
                                    <td class="table-direct">
                                        <span>GenU</span>
                                    </td>
                                    <td>Русский</td>
                                    <td>Караганда</td>
                                    <td>Гимназия № 5</td>
                                    <td>Софронова Вероника</td>
                                    <td>1-5</td>
                                    <td>
                                        <div class="platform align-center skype">
                                            Skype
                                        </div>
                                    </td>
                                    <td>
                                    </td>
                                    <td class="status error">
                                        <span>Отменен</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>36</td>
                                    <td>21.09.21</td>
                                    <td>10:00 - 10:45</td>
                                    <td class="table-direct">
                                        <span>GenU</span>
                                    </td>
                                    <td>Русский</td>
                                    <td>Павлодар</td>
                                    <td>Гимназия №6 имен...</td>
                                    <td>Соколова Арина</td>
                                    <td>1-5</td>
                                    <td>
                                        <div class="platform align-center whatsapp">
                                            WhatsApp
                                        </div>
                                    </td>
                                    <td>
                                        <div class="align-center table-user">
                                            <img src="%=static=%img/general/admin.png" alt="">
                                            <span>Федоров Алексей</span>
                                        </div>
                                    </td>
                                    <td class="status error">
                                        <span>Пропущен</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>36</td>
                                    <td>21.09.21</td>
                                    <td>10:00 - 10:45</td>
                                    <td class="table-direct">
                                        <span>GenU</span>
                                    </td>
                                    <td>Русский</td>
                                    <td>Павлодар</td>
                                    <td>Гимназия №6 имен...</td>
                                    <td>Никитина Дарья</td>
                                    <td>5-8</td>
                                    <td>
                                        <div class="platform align-center hangouts">
                                            Hangouts
                                        </div>
                                    </td>
                                    <td>
                                        <div class="align-center table-user">
                                            <img src="%=static=%img/general/admin.png" alt="">
                                            <span>Федоров Алексей</span>
                                        </div>
                                        <div class="align-center table-user">
                                            <img src="%=static=%img/general/admin.png" alt="">
                                            <span>Федоров Алексей</span>
                                        </div>
                                    </td>
                                    <td class="status waiting">
                                        <span>Запланирован</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{>bottom/bottom}}
</body>

</html>