<!DOCTYPE html>
<html class="no-js" lang="ru">

<head>
    {{> head/head head.defaults}}
</head>

<body class="page">
    %=symbols=%

    {{>header/header}}

    <div class="slider unicef-kz">
        <div class="swiper-slide">
            <img src="%=static=%img/general/bekind.png" alt="">
            <div class="slider-content">
                <div class="slider-title">
                    Направление <br> BeKind
                </div>
                <div class="text slider-text">
                    для создания безопасной среды в школах
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="wrapper">
            <div class="align-top content-row">
                <div class="content-left">
                    <div class="content-img">
                        <img src="%=static=%img/general/bekind-photo.png" alt="">
                    </div>
                    <div class="align-center content-socials">
                        <a href="/" class="content-social">
                            {{Icon iconName="vk-gray"}}
                        </a>
                        <a href="/" class="content-social">
                            {{Icon iconName="insta-gray"}}
                        </a>
                        <a href="/" class="content-social">
                            {{Icon iconName="ok"}}
                        </a>
                    </div>
                </div>
                <div class="content-right">
                    <h3 class="subtitle">О проекте</h3>
                    <div class="text">
                        <p>Каждый четвертый ребенок в стране ежедневно подвергается травле в школе.</p>

                        <p>Это официальная международная статистика. Проект UNICEF BeKind призван снизить «индекс» терпимости к школьной травле и помочь создать безопасную школьную среду.</p>

                        <p>Понимая Всю важность данной проблемы в стране, UNICEF разработал волонтерский проект BeKind. Проект станет первой ласточкой в информационной кампании по профилактике школьной травли, буллинга, кибербуллинга в детской и подростковой среде. </p>

                        <p>Волонтеры отправятся в школы и проведут интерактивные занятия для младших школьников, объяснив им, что о буллинге (травле) всегда необходимо сообщать немедленно! Расскажут, что такое явление как кибербуллинг – это нарушение закона нашей страны. А на родительских собраниях волонтеры проекта расскажут о том, как определить и как поступить в случае возникновения буллинга, как наладить коммуникацию со своим ребенком и поддержать его. </p>
                    </div>
                    <div class="content-text">
                        <h3 class="subtitle">Почему BeKind?</h3>
                        <div class="text">
                            <p>
                                Основная цель проекта – показать школьникам, что решить конфликт можно и нужно, сам конфликт не опасен, просто надо быть добрее к окружающим. 
                            </p>
                            <p>
                                Если дать навыки преодоления трудных жизненных ситуаций, (таких как конфликт и травля) то в школах сложится комфортная безопасная среда для учебы и общения между детьми.
                            </p>
                        </div>
                    </div>

                    <a href="#" class="btn btn-bordered-light">Поделиться</a>
                </div>
            </div>
        </div>
    </div>

    {{>gallery/gallery}}

    <div class="news">
        <div class="wrapper">
            <h3 class="title">Больше о работе ЮНИСЕФ</h3>
            <div class="row news-content">
                <a href="#" class="news-item">
                    <div class="news-info">
                        <div class="news-title">Стартовал второй поток обучения тренеров по программе «Учимся...</div>
                        <div class="align-center news-row">
                            <div class="align-center news-date">
                                {{Icon iconName="calendar"}}
                                <span>23 сентября</span>
                            </div>
                            <div class="align-center news-views">
                                {{Icon iconName="eye"}}
                                <span>250</span>
                            </div>
                            <div class="align-center news-comment">
                                {{Icon iconName="message"}}
                                <span>0</span>
                            </div>
                        </div>
                        <div class="news-text">
                            20 сентября в городе Алматы стартовал второй этап пилотного обучения для работников государственных учреждений систем здравоохранения, образования, социальной сферы...
                        </div>
                    </div>
                    <div class="align-center link news-more">
                        <span>Читать далее</span>
                        {{Icon iconName="arrow-right"}}
                    </div>
                </a>
                <a href="#" class="news-item">
                    <div class="news-info">
                        <div class="news-title">Стартовал второй поток обучения тренеров по программе «Учимся...</div>
                        <div class="align-center news-row">
                            <div class="align-center news-date">
                                {{Icon iconName="calendar"}}
                                <span>23 сентября</span>
                            </div>
                            <div class="align-center news-views">
                                {{Icon iconName="eye"}}
                                <span>250</span>
                            </div>
                            <div class="align-center news-comment">
                                {{Icon iconName="message"}}
                                <span>0</span>
                            </div>
                        </div>
                        <div class="news-text">
                            20 сентября в городе Алматы стартовал второй этап пилотного обучения для работников государственных учреждений систем здравоохранения, образования, социальной сферы...
                        </div>
                    </div>
                    <div class="align-center link news-more">
                        <span>Читать далее</span>
                        {{Icon iconName="arrow-right"}}
                    </div>
                </a>
                <a href="#" class="news-item">
                    <div class="news-title">Вручены сертификаты первым участникам менторской программы...</div>
                    <div class="align-center news-row">
                        <div class="align-center news-date">
                            {{Icon iconName="calendar"}}
                            <span>23 сентября</span>
                        </div>
                        <div class="align-center news-views">
                            {{Icon iconName="eye"}}
                            <span>250</span>
                        </div>
                        <div class="align-center news-comment">
                            {{Icon iconName="message"}}
                            <span>0</span>
                        </div>
                    </div>
                    <div class="news-text">
                        При поддержке Министерства труда и социальной защиты населения Республики Казахстан (МТСЗН) и Детского фонда ООН (ЮНИСЕФ)  общественное объединение «Сообщество...
                    </div>
                    <div class="align-center link news-more">
                        <span>Читать далее</span>
                        {{Icon iconName="arrow-right"}}
                    </div>
                </a>
                <a href="#" class="news-item">
                    <div class="news-title">Казахстанских специалистов научат «золотому стандарту»...</div>
                    <div class="align-center news-row">
                        <div class="align-center news-date">
                            {{Icon iconName="calendar"}}
                            <span>23 сентября</span>
                        </div>
                        <div class="align-center news-views">
                            {{Icon iconName="eye"}}
                            <span>250</span>
                        </div>
                        <div class="align-center news-comment">
                            {{Icon iconName="message"}}
                            <span>0</span>
                        </div>
                    </div>
                    <div class="news-text">
                        Казахстанских специалистов, ответственных за проведение диагностики детей с расстройствами аутического спектра научат «золотому стандарту»...
                    </div>
                    <div class="align-center link news-more">
                        <span>Читать далее</span>
                        {{Icon iconName="arrow-right"}}
                    </div>
                </a>
            </div>
        </div>
    </div>
    
    {{>footer/footer}}

    {{>bottom/bottom}}
</body>

</html>