<!DOCTYPE html>
<html class="no-js" lang="ru">

<head>
    {{> head/head head.defaults}}
</head>

<body class="page">
    %=symbols=%

    {{>header/header}}

    <div class="slider unicef-kz">
        <div class="swiper-slide">
            <img src="%=static=%img/general/calendar.png" alt="">
            <div class="slider-content">
                <div class="slider-title">
                    Календарь лекций
                </div>
                <div class="text slider-text">
                    Многие лекции отменяются или переводятся в онлайн. Не забудьте уточнить у координаторов, состоится ли урок с волонтером.
                </div>
            </div>
        </div>
    </div>

    <div class="layout">
        <div class="wrapper">
            <div class="align-top layout-row">
                <div class="filters">
                    <div class="subtitle filters-title">Фильтры</div>
                    <form class="filters-form">
                        <div class="input">
                            <select class="nice-select">
                                <option value="0" selected disabled>Выберите область</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                        </div>
                        <div class="input">
                            <select class="nice-select">
                                <option value="0" selected disabled>Населенный пункт</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                        </div>
                        <div class="input">
                            <select class="nice-select">
                                <option value="0" selected disabled>Направление</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                        </div>
                        <div class="input">
                            <input type="text" placeholder="Наименование">
                        </div>

                        <div class="filters-sort">
                            <div class="sort-title">Сортировка</div>
                            <div class="sort-links">
                                <a href="" class="sort-link active">По дате регистрации</a>
                                <a href="" class="sort-link">По рейтингу</a>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="layout-content">
                    <div class="table table-kurator">
                        <table>
                            <thead>
                                <tr>
                                    <th>
                                        <span>Дата</span>
                                    </th>
                                    <th>
                                        <span>Направление</span>
                                    </th>
                                    <th>
                                        <span>Классы</span>
                                    </th>
                                    <th>
                                        <span>Школа</span>
                                    </th>
                                    <th>
                                        <span>Волонтер</span>
                                    </th>
                                    <th>
                                        <span>Платформа</span>
                                    </th>
                                    <th>
                                        <span>Статус</span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>21.09</td>
                                    <td class="table-direct">
                                        <span>GenU</span>
                                    </td>
                                    <td class="shrink">1, 4, 8-11</td>
                                    <td>ГУ «Школа – гимназия №4 имени Жамбыла Жабаева» Управления образования</td>
                                    <td>
                                        <div class="shrink">Оспанов Бахтияр</div>
                                        <div class="shrink">Шубина Алена</div>
                                    </td>
                                    <td>
                                        <div class="platform align-center skype">
                                            Skype
                                        </div>
                                    </td>
                                    <td class="status success">
                                        <span>Проведен</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>22.09</td>
                                    <td class="table-eco">
                                        <span>Эко</span>
                                    </td>
                                    <td class="shrink">1-11</td>
                                    <td>ГУ «Вечерняя (сменная) школа №39»</td>
                                    <td>

                                    </td>
                                    <td>
                                        <div class="platform align-center zoom">
                                            Zoom
                                        </div>
                                    </td>
                                    <td class="status error">
                                        <span>Отменен</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>23.09</td>
                                    <td class="table-direct">
                                        <span>GenU</span>
                                    </td>
                                    <td class="shrink">7-10</td>
                                    <td>КГУ «Школа-гимназия № 80»</td>
                                    <td>
                                        <div class="shrink">Сусанин Виталий</div>
                                    </td>
                                    <td>
                                        <div class="platform align-center whatsapp">
                                            WhatsApp
                                        </div>
                                    </td>
                                    <td class="status waiting">
                                        <span>Ожидает</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="align-center view-more">
                        <div class="align-center view-option">
                            <select class="nice-select">
                                <option value="10">10</option>
                                <option value="10">20</option>
                                <option value="10">30</option>
                            </select>
                            <div class="view-showed">Отображено 1 - 4 (всего 10 474 элементов)</div>
                        </div>

                        {{>pagination/pagination}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{>footer/footer}}

    {{>bottom/bottom}}
</body>

</html>