<!DOCTYPE html>
<html class="no-js" lang="ru">

<head>
    {{> head/head head.defaults}}
</head>

<body class="page">
    %=symbols=%

    {{>header/header}}

    {{>bread/bread}}

    <div class="contacts">
        <div class="wrapper">
            <h1 class="title contacts-title">Контакты</h1>
            <ul class="align-center contacts-list">
                <li class="active">Нур-Султан</li>
                <li>Алматы</li>
            </ul>
        </div>
        <div class="contacts-tabs">
            <div class="contacts-tab active">
                <div id="map-1" class="contacts-map" data-lng="51.168408" data-lat="71.421266" data-zoom="17"></div>
                <div class="wrapper">
                    <div class="contacts-info">
                        <h2 class="title">Адрес</h2>
                        <div class="text">
                            010000, Республика Казахстан, г. Нур-Султан, ул. Бейбитшилик, 10а, Блок 1
                        </div>
                        <a href="tel:+77172322969" class="contacts-phone">+7 (7172) 32 29 69</a>
                        <a href="tel:+77172322878" class="contacts-phone">+7 (7172) 32 28 78</a>
                        <a href="tel:+77172321797" class="contacts-phone">+7 (7172) 32 17 97</a>
                        <a href="mailto:nur-sultan@unicef.org" class="contacts-email">nur-sultan@unicef.org</a>
                    </div>
                </div>
            </div>
            <div class="contacts-tab">
                <div id="map-2" class="contacts-map" data-lng="43.230050" data-lat="76.914806" data-zoom="17"></div>
                <div class="wrapper">
                    <div class="contacts-info">
                        <h2 class="title">Адрес</h2>
                        <div class="text">
                            050008, Республика Казахстан, г. Алматы, 
                            ул. Байзакова 303, здание ООН
                        </div>
                        <a href="tel:+77272582643" class="contacts-phone">+7 (7272) 58 26 43</a>
                        <a href="tel:+77272582637" class="contacts-phone">+7 (7272) 58 26 37</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{>footer/footer}}

    <script src="https://api-maps.yandex.ru/2.1/?apikey=3811ca96-3da0-469b-8ccd-f8b6159ad853&lang=ru_RU" type="text/javascript">
    </script>

    {{>bottom/bottom}}
</body>

</html>