<!DOCTYPE html>
<html class="no-js" lang="ru">

<head>
    {{> head/head head.defaults}}
</head>

<body class="page">
    %=symbols=%

    {{>header/header-only}}

    <div class="align-top response">
        <div class="response-image">
            <img src="%=static=%img/general/error-big.svg" alt="">
        </div>
        <div class="align-center response-center">
            <div class="response-icon">
                <img src="%=static=%img/general/error-small.svg" alt="">
            </div>
            <div class="response-info">
                <div class="response-404">4<span>0</span>4</div>
                <div class="title">Страница не найдена</div>
                <div class="text">Такой страницы не существует, либо неправильно набран адрес. Начните с главной страницы или воспользуйтесь поиском.</div>
                <a href="index.html" class="btn btn-blue">на главную</a>
            </div>
        </div>
    </div>

    {{>bottom/bottom}}
</body>

</html>