<!DOCTYPE html>
<html class="no-js" lang="ru">

<head>
    {{> head/head head.defaults}}
</head>

<body class="page">
    %=symbols=%

    {{>header/header}}

    <div class="slider unicef-kz">
        <div class="swiper-slide">
            <img src="%=static=%img/general/calendar.png" alt="">
            <div class="slider-content">
                <div class="slider-title">
                    Галерея
                </div>
                <div class="text slider-text">
                    Фото и видео отчеты лекций волонтеров Юнисеф
                </div>
            </div>
        </div>
    </div>

    <div class="layout">
        <div class="wrapper">
            <div class="align-top layout-row">
                <div class="filters">
                    <div class="subtitle filters-title">Фильтры</div>
                    <form class="filters-form">
                        <div class="input">
                            <select class="nice-select">
                                <option value="0" selected disabled>Выберите область</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                        </div>
                        <div class="input">
                            <select class="nice-select">
                                <option value="0" selected disabled>Населенный пункт</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                        </div>
                        <div class="input">
                            <select class="nice-select">
                                <option value="0" selected disabled>Направление</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                        </div>

                        <div class="filters-sort">
                            <div class="sort-title">Сортировка</div>
                            <div class="sort-links">
                                <a href="" class="sort-link active">По дате регистрации</a>
                                <a href="" class="sort-link">По рейтингу</a>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="row articles">
                    <div class="article">
                        <div class="article-image">
                            <img src="%=static=%img/general/article.png" alt="">
                        </div>
                        <div class="article-body">
                            <div class="align-center article-date">
                                {{Icon iconName="calendar"}}
                                <span>28 ноября</span>
                            </div>
                            <div class="article-title">Студентам-волонтерам повысят стипендию на 30% в Казахстане</div>
                        </div>
                    </div>
                    <div class="article">
                        <div class="article-image">
                            <img src="%=static=%img/general/article.png" alt="">
                        </div>
                        <div class="article-body">
                            <div class="align-center article-date">
                                {{Icon iconName="calendar"}}
                                <span>28 ноября</span>
                            </div>
                            <div class="article-title">Студентам-волонтерам повысят стипендию на 30% в Казахстане</div>
                        </div>
                    </div>
                    <div class="article">
                        <div class="article-image">
                            <img src="%=static=%img/general/article.png" alt="">
                        </div>
                        <div class="article-body">
                            <div class="align-center article-date">
                                {{Icon iconName="calendar"}}
                                <span>28 ноября</span>
                            </div>
                            <div class="article-title">Студентам-волонтерам повысят стипендию на 30% в Казахстане</div>
                        </div>
                    </div>
                    <div class="article">
                        <div class="article-image">
                            <img src="%=static=%img/general/article.png" alt="">
                        </div>
                        <div class="article-body">
                            <div class="align-center article-date">
                                {{Icon iconName="calendar"}}
                                <span>28 ноября</span>
                            </div>
                            <div class="article-title">Студентам-волонтерам повысят стипендию на 30% в Казахстане</div>
                        </div>
                    </div>
                    <div class="article">
                        <div class="article-image">
                            <img src="%=static=%img/general/article.png" alt="">
                        </div>
                        <div class="article-body">
                            <div class="align-center article-date">
                                {{Icon iconName="calendar"}}
                                <span>28 ноября</span>
                            </div>
                            <div class="article-title">Студентам-волонтерам повысят стипендию на 30% в Казахстане</div>
                        </div>
                    </div>
                    <div class="article">
                        <div class="article-image">
                            <img src="%=static=%img/general/article.png" alt="">
                        </div>
                        <div class="article-body">
                            <div class="align-center article-date">
                                {{Icon iconName="calendar"}}
                                <span>28 ноября</span>
                            </div>
                            <div class="article-title">Студентам-волонтерам повысят стипендию на 30% в Казахстане</div>
                        </div>
                    </div>
                    <div class="article">
                        <div class="article-image">
                            <img src="%=static=%img/general/article.png" alt="">
                        </div>
                        <div class="article-body">
                            <div class="align-center article-date">
                                {{Icon iconName="calendar"}}
                                <span>28 ноября</span>
                            </div>
                            <div class="article-title">Студентам-волонтерам повысят стипендию на 30% в Казахстане</div>
                        </div>
                    </div>
                    <div class="article">
                        <div class="article-image">
                            <img src="%=static=%img/general/article.png" alt="">
                        </div>
                        <div class="article-body">
                            <div class="align-center article-date">
                                {{Icon iconName="calendar"}}
                                <span>28 ноября</span>
                            </div>
                            <div class="article-title">Студентам-волонтерам повысят стипендию на 30% в Казахстане</div>
                        </div>
                    </div>
                    <div class="article">
                        <div class="article-image">
                            <img src="%=static=%img/general/article.png" alt="">
                        </div>
                        <div class="article-body">
                            <div class="align-center article-date">
                                {{Icon iconName="calendar"}}
                                <span>28 ноября</span>
                            </div>
                            <div class="article-title">Студентам-волонтерам повысят стипендию на 30% в Казахстане</div>
                        </div>
                    </div>

                    <div class="align-center view-more">
                        <div class="align-center view-option">
                            <select class="nice-select">
                                <option value="10">10</option>
                                <option value="10">20</option>
                                <option value="10">30</option>
                            </select>
                            <div class="view-showed">Отображено 1 - 4 (всего 10 474 элементов)</div>
                        </div>

                        {{>pagination/pagination}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{>footer/footer}}

    {{>bottom/bottom}}
</body>

</html>