<!DOCTYPE html>
<html class="no-js" lang="ru">

<head>
    {{> head/head head.defaults}}
</head>

<body class="page">
    %=symbols=%

    {{>header/header}}

    <div class="slider unicef-kz">
        <div class="swiper-slide">
            <img src="%=static=%img/general/calendar.png" alt="">
            <div class="slider-content">
                <div class="slider-title">
                    Галерея
                </div>
                <div class="text slider-text">
                    Фото и видео отчеты лекций волонтеров Юнисеф
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="wrapper">
            <div class="align-top content-row">
                <div class="content-left">
                    <div class="content-img">
                        <img src="%=static=%img/general/dog.png" alt="">
                    </div>
                    <div class="align-center content-socials">
                        <a href="/" class="content-social">
                            {{Icon iconName="vk-gray"}}
                        </a>
                        <a href="/" class="content-social">
                            {{Icon iconName="insta-gray"}}
                        </a>
                        <a href="/" class="content-social">
                            {{Icon iconName="ok"}}
                        </a>
                    </div>
                </div>
                <div class="content-right">
                    <h3 class="subtitle">Акция по сбору корма и средств для приютов с животными “Книга за корм”</h3>
                    <div class="content-info">
                        <div class="align-top content-info-item">
                            {{Icon iconName="calendar"}}
                            <span>21.12.19 — 21.12.19 </span>
                        </div>
                        <div class="align-top content-info-item">
                            {{Icon iconName="clock-gray"}}
                            <span>с 10:00 по 15:00 </span>
                        </div>
                        <div class="align-top content-info-item">
                            {{Icon iconName="map-pin"}}
                            <span>г. Алматы, ул. Розыбакиева 273, ТРЦ Mega Center Almaty</span>
                        </div>
                    </div>
                    <div class="content-text">
                        <h3 class="subtitle">Описание</h3>
                        <div class="text">
                            <p>Общественный фонд "Новый дом" проводит последнюю акцию в этом году по сбору подарков для приютов "Книга за корм". Каждый участник, который принесет подарки для животных, получит в качестве благодарности один из наших деревянных значков, сможет выбрать себе книгу из тех, что будут представлены, получить купон на скидку в сети магазинов "Меломан", а также принять участие в розыгрыше двух сертификатов.</p>

                            <p>В холле первого этажа Меги будет организована зона по сбору корма и других пожертвований, которые после акции разлетятся по партнёрам.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content content-s full-gallery">
        <div class="wrapper">
            <div class="align-top content-row">
                <div class="content-left"></div>
                <div class="content-right">
                    <div class="align-top content-gallery wrap">
                        <a href="%=static=%img/general/bekind-photo.png" class="align-center content-photo" data-fancybox="gallery">
                            <img src="%=static=%img/general/bekind-photo.png" alt="">
                        </a>
                        <a href="%=static=%img/general/genu-photo.png" class="align-center content-photo" data-fancybox="gallery">
                            <img src="%=static=%img/general/genu-photo.png" alt="">
                        </a>
                        <a href="%=static=%img/general/plastic-photo.png" class="align-center content-photo" data-fancybox="gallery">
                            <img src="%=static=%img/general/plastic-photo.png" alt="">
                        </a>
                        <a href="%=static=%img/general/bekind-photo.png" class="align-center content-photo" data-fancybox="gallery">
                            <img src="%=static=%img/general/bekind-photo.png" alt="">
                        </a>
                        <a href="%=static=%img/general/genu-photo.png" class="align-center content-photo" data-fancybox="gallery">
                            <img src="%=static=%img/general/genu-photo.png" alt="">
                        </a>
                        <a href="%=static=%img/general/plastic-photo.png" class="align-center content-photo" data-fancybox="gallery">
                            <img src="%=static=%img/general/plastic-photo.png" alt="">
                        </a>
                        <a href="%=static=%img/general/bekind-photo.png" class="align-center content-photo" data-fancybox="gallery">
                            <img src="%=static=%img/general/bekind-photo.png" alt="">
                        </a>
                        <a href="%=static=%img/general/genu-photo.png" class="align-center content-photo" data-fancybox="gallery">
                            <img src="%=static=%img/general/genu-photo.png" alt="">
                        </a>
                        <a href="%=static=%img/general/plastic-photo.png" class="align-center content-photo" data-fancybox="gallery">
                            <img src="%=static=%img/general/plastic-photo.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{>footer/footer}}

    {{>bottom/bottom}}
</body>

</html>