<!DOCTYPE html>
<html class="no-js" lang="ru">

<head>
    {{> head/head head.defaults}}
</head>

<body class="page">
    %=symbols=%

    {{>header/header}}

    <div class="slider unicef-kz">
        <div class="swiper-slide">
            <img src="%=static=%img/general/genu.png" alt="">
            <div class="slider-content">
                <div class="slider-title">
                    Направление <br> GenU ЮНИСЕФ
                </div>
                <div class="text slider-text">
                    Наше время. Наша очередь. Наше будущее.
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="wrapper">
            <div class="align-top content-row">
                <div class="content-left">
                    <div class="content-img">
                        <img src="%=static=%img/general/genu-photo.png" alt="">
                    </div>
                    <div class="align-center content-socials">
                        <a href="/" class="content-social">
                            {{Icon iconName="vk-gray"}}
                        </a>
                        <a href="/" class="content-social">
                            {{Icon iconName="insta-gray"}}
                        </a>
                        <a href="/" class="content-social">
                            {{Icon iconName="ok"}}
                        </a>
                    </div>
                </div>
                <div class="content-right">
                    <h3 class="subtitle">О проекте</h3>
                    <div class="text">
                        <p>Generation Unlimited - это новое партнерство, которое призвано помочь молодежи добиться успеха.</p>

                        <p>Цель Generation Unlimited - обеспечить,чтобы к 2030 году все молодые люди в возрасте от 10 до 24 лет в той или иной форме учились, проходили профессиональную подготовку или работали.</p>

                        <p>Generation Unlimited объединяет государственных и частных партнеров и молодых людей для выявления и масштабирования решений, высвобождения инвестиций и расширения возможностей всех молодых людей, чтобы они играли конструктивную роль в своих обществах.</p>

                        <p>GenU дает молодым людям возможность высказаться, способствует синергии между ключевыми глобальными игроками и ускоряет темпы достижения Целей устойчивого развития.</p>

                        <p>Generation Unlimited уделяет первоочередное внимание девочкам и мальчикам подросткового возраста, молодым мужчинам и женщинам и всем молодым людям, особенно тем, кто рискует оcтаться  брошенными на произвол судьбы:девочкам, бедным слоям населения, молодым людям с ограниченными возможностями, молодым людям в миграционных процессах и молодым людям, пострадавшим от конфликтов и стихийных бедствий.</p>

                        <p>Generation Unlimited посвящено принятию неотложных мер сегодня с целью обеспечения поддержки молодым людям, необходимой им для того, чтобы завтра взять на себя руководящие роли.</p>

                        <p>Достижение этой цели - призыв нашего времени.</p>
                    </div>
                    <div class="content-text">
                        <h3 class="subtitle">Три приоритета</h3>
                        <div class="text">
                            <p>
                                Чтобы добиться максимального эффекта, Generation Unlimited сосредоточит основное внимание на трех приоритетах:
                            </p>
                        </div>
                    </div>
                    <div class="align-top content-gray">
                        <div class="content-num">1</div>
                        <div class="content-view">
                            <div class="content-title">Среднее образование</div>
                            <div class="content-area">
                                девочки и мальчики подросткового возраста нуждаются в поддержке, чтобы завершить начальное и среднее образование со значимыми результатами. Такая поддержка должна включать официально признанные и гибкие возможности обучения для тех, кто не может посещать обычные школы. Усилия нужно направить в первую очередь на поддержку наиболее уязвимых групп, таких как девочки-подростки, подростки из бедных семей, подростки с ограниченными возможностями и подростки, которые живут в конфликтных ситуациях или находятся в миграционных процессах.
                            </div>
                            <div class="align-top content-more">
                                <p>
                                    В 2016 году почти 200 миллионов подростков и молодых людей в возрасте 12-17 лет не посещали школу, и многие из них никогда не начинали или не заканчивали начальное образование.
                                </p>
                                {{Icon iconName="graduation-cap"}}
                            </div>
                        </div>
                    </div>
                    <div class="align-top content-gray">
                        <div class="content-num">2</div>
                        <div class="content-view">
                            <div class="content-title">Навыки для обучения, трудоустройства и достойного труда</div>
                            <div class="content-area">
                                молодые люди, особенно молодые женщины, должны иметь доступ к возможностям развивать навыки для обучения, трудоустройства и проявления активной гражданской позиции. Они также нуждаются в поддержке, поскольку переходят от образования к трудоустройству. Примерами поддержки являются профессиональное обучение и стажировки. Молодым людям потребуются цифровые и технологические навыки, чтобы стать рабочей силой будущего и работать в странах с развивающимся рынком.
                            </div>
                            <div class="align-top content-more">
                                <p>
                                    В 2017 году, по оценкам, 21,8% молодых людей не имели работы, образования или профессиональной подготовки (NEET), 76,9% из них - женщины.
                                </p>

                                {{Icon iconName="worldwide"}}
                            </div>
                        </div>
                    </div>
                    <div class="align-top content-gray">
                        <div class="content-num">3</div>
                        <div class="content-view">
                            <div class="content-title">Расширение прав и возможностей с акцентом на девочек</div>
                            <div class="content-area">
                                девочкам и мальчикам подросткового возраста и другим молодым людям необходима помощь для осознания своих прав, создания собственных возможностей и достижения независимости. Это включает в себя возможности гражданского участия, в том числе в цифровой форме, и возможность подростков и молодежи высказывать свое мнение по вопросам, затрагивающим их жизнь. Изначально находясь в невыгодном положении, девочки нуждаются в дополнительной поддержке для создания таких активов, как связи и контакты, капитал, знания, навыки и уверенность в себе.
                            </div>
                            <div class="align-top content-more">
                                <p>
                                    Нищета, конфликты, дискриминация, насилие по признаку пола, сексуальное насилие и ограничивающие социальные и гендерные нормы могут стать препятствием для расширения прав и возможностей и для осмысленного участия. Они усугубляют уязвимость маргинализованных молодых людей во время переходного периода жизни, когда им нужна поддержка, чтобы обучаться, творить, расти и способствовать искоренению неравенства.
                                </p>

                                {{Icon iconName="woman"}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section-gray">
        <div class="wrapper">
            <div class="align-top content-row">
                <div class="content-left"></div>
                <div class="content-right">
                    <h3 class="subtitle subtitle-small">Совместное создание решений</h3>
                    <div class="text">
                        Generation Unlimited фокусируется на выявлении, совместной разработке и поддержке решений, которые могут дать масштабные результаты для молодых людей, особенно тех, кто подвергается наибольшей опасности оказаться брошенными на произвол судьбы. Умея ценить и в максимальной степени укреплять имеющиеся сильные стороны, охват и опыт своих разнообразных партнеров, Generation Unlimited обеспечит платформу для мобилизации финансирования, технической помощи, политической поддержки и доступа к сетям связей и контактов и обучению для увеличения масштаба подобных решений, тем самым объединяя глобальную поддержку для реализации в отдельных странах.
                    </div>

                    <div class="examples">
                        <h3 class="subtitle">Примеры таких перспективных решений включают широкий спектр подходов:</h3>
                        <div class="align-top examples-items">
                            <div class="align-top examples-item">
                                {{Icon iconName="example"}}
                                <span>партнерские отношения между государственным и частным секторами в целях обеспечения доступа к качественному и сертифицированному среднему образованию для подростков, живущих в нищете в отдаленных сельских районах;</span>
                            </div>
                            <div class="align-top examples-item">
                                {{Icon iconName="example"}}
                                <span>онлайн и дистанционное обучение для молодых людей в труднодоступных сообществах;</span>
                            </div>
                            <div class="align-top examples-item">
                                {{Icon iconName="example"}}
                                <span>предоставление возможностей наставничества и трудоустройства для уязвимых молодых людей, особенно для девочек;</span>
                            </div>
                            <div class="align-top examples-item">
                                {{Icon iconName="example"}}
                                <span>создание и доступ к качественному профессиональному обучению и стажировкам;</span>
                            </div>
                            <div class="align-top examples-item">
                                {{Icon iconName="example"}}
                                <span>расширение прав и возможностей молодых людей для построения процветающей, устойчивой карьеры и предоставления работодателям высококвалифицированных, мотивированных и талантливых кадров;</span>
                            </div>
                            <div class="align-top examples-item">
                                {{Icon iconName="example"}}
                                <span>поощрение новых, улучшенных возможностей занятости молодежи в цифровом пространстве.</span>
                            </div>
                        </div>
                    </div>

                    <div class="content-text">
                        <div class="text">
                            <p>
                                Generation Unlimited будет постоянно работать над выявлением новых решений посредством растущей партнерской базы и числа стран, приверженных идее ускорения реализации. Существует также потенциал создания нового фонда, который может объединять гранты государственных и частных доноров для финансирования перспективных решений. 
                            </p>
                            <p>
                                Данная платформа также будет способствовать налаживанию связей между всеми партнерами и инициативами в рамках трех тематических областей, в которых основное внимание будет уделяться максимальной синергии, согласованности и влиянию. Это включает в себя выявление и усиление наилучших практик, достижение консенсуса в отношении ключевых мер, которые могут способствовать достижению масштабного внедрения и воздействия в разных контекстах, обучения и обмена опытом. Generation Unlimited также предоставит молодым людям пространство для осмысленного участия во всех своих мероприятиях и, в частности в совместной разработке и реализации решений.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="priority">
        <div class="wrapper">
            <div class="align-top priority-items">
                <div class="priority-item blue">
                    <div class="priority-title">Среднее образование</div>
                    <div class="align-center priority-icons">
                        {{Icon iconName="museum"}}
                        {{Icon iconName="student"}}
                        {{Icon iconName="student2"}}
                    </div>
                </div>
                <div class="priority-item orange">
                    <div class="priority-title">Навыки для обучения, трудоустройства и достойной работы</div>
                    <div class="align-center priority-icons">
                        {{Icon iconName="support"}}
                        {{Icon iconName="worker"}}
                        {{Icon iconName="office"}}
                    </div>
                </div>
                <div class="priority-item purple">
                    <div class="priority-title">Среднее образование</div>
                    <div class="align-center priority-icons">
                        {{Icon iconName="gender-equality"}}
                        {{Icon iconName="holding-hands"}}
                        {{Icon iconName="graduated"}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{>gallery/gallery}}

    <div class="news">
        <div class="wrapper">
            <h3 class="title">Больше о работе ЮНИСЕФ</h3>
            <div class="row news-content">
                <a href="#" class="news-item">
                    <div class="news-info">
                        <div class="news-title">Стартовал второй поток обучения тренеров по программе «Учимся...</div>
                        <div class="align-center news-row">
                            <div class="align-center news-date">
                                {{Icon iconName="calendar"}}
                                <span>23 сентября</span>
                            </div>
                            <div class="align-center news-views">
                                {{Icon iconName="eye"}}
                                <span>250</span>
                            </div>
                            <div class="align-center news-comment">
                                {{Icon iconName="message"}}
                                <span>0</span>
                            </div>
                        </div>
                        <div class="news-text">
                            20 сентября в городе Алматы стартовал второй этап пилотного обучения для работников государственных учреждений систем здравоохранения, образования, социальной сферы...
                        </div>
                    </div>
                    <div class="align-center link news-more">
                        <span>Читать далее</span>
                        {{Icon iconName="arrow-right"}}
                    </div>
                </a>
                <a href="#" class="news-item">
                    <div class="news-info">
                        <div class="news-title">Стартовал второй поток обучения тренеров по программе «Учимся...</div>
                        <div class="align-center news-row">
                            <div class="align-center news-date">
                                {{Icon iconName="calendar"}}
                                <span>23 сентября</span>
                            </div>
                            <div class="align-center news-views">
                                {{Icon iconName="eye"}}
                                <span>250</span>
                            </div>
                            <div class="align-center news-comment">
                                {{Icon iconName="message"}}
                                <span>0</span>
                            </div>
                        </div>
                        <div class="news-text">
                            20 сентября в городе Алматы стартовал второй этап пилотного обучения для работников государственных учреждений систем здравоохранения, образования, социальной сферы...
                        </div>
                    </div>
                    <div class="align-center link news-more">
                        <span>Читать далее</span>
                        {{Icon iconName="arrow-right"}}
                    </div>
                </a>
                <a href="#" class="news-item">
                    <div class="news-title">Вручены сертификаты первым участникам менторской программы...</div>
                    <div class="align-center news-row">
                        <div class="align-center news-date">
                            {{Icon iconName="calendar"}}
                            <span>23 сентября</span>
                        </div>
                        <div class="align-center news-views">
                            {{Icon iconName="eye"}}
                            <span>250</span>
                        </div>
                        <div class="align-center news-comment">
                            {{Icon iconName="message"}}
                            <span>0</span>
                        </div>
                    </div>
                    <div class="news-text">
                        При поддержке Министерства труда и социальной защиты населения Республики Казахстан (МТСЗН) и Детского фонда ООН (ЮНИСЕФ)  общественное объединение «Сообщество...
                    </div>
                    <div class="align-center link news-more">
                        <span>Читать далее</span>
                        {{Icon iconName="arrow-right"}}
                    </div>
                </a>
                <a href="#" class="news-item">
                    <div class="news-title">Казахстанских специалистов научат «золотому стандарту»...</div>
                    <div class="align-center news-row">
                        <div class="align-center news-date">
                            {{Icon iconName="calendar"}}
                            <span>23 сентября</span>
                        </div>
                        <div class="align-center news-views">
                            {{Icon iconName="eye"}}
                            <span>250</span>
                        </div>
                        <div class="align-center news-comment">
                            {{Icon iconName="message"}}
                            <span>0</span>
                        </div>
                    </div>
                    <div class="news-text">
                        Казахстанских специалистов, ответственных за проведение диагностики детей с расстройствами аутического спектра научат «золотому стандарту»...
                    </div>
                    <div class="align-center link news-more">
                        <span>Читать далее</span>
                        {{Icon iconName="arrow-right"}}
                    </div>
                </a>
            </div>
        </div>
    </div>

    {{>footer/footer}}

    {{>bottom/bottom}}
</body>

</html>