<!DOCTYPE html>
<html class="no-js" lang="ru">

<head>
    {{> head/head head.defaults}}
</head>

<body class="page">
    %=symbols=%

    {{>header/header}}

    <div class="slider">
        <div class="wrapper">
            <div class="swiper-container main-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="%=static=%img/general/main.png" alt="">
                        <div class="slider-content">
                            <div class="align-center slider-pagination">
                                <div class="slider-current"></div>
                                /
                                <div class="slider-total"></div>
                            </div>
                            <div class="slider-title">
                                Официальная образовательная платформа от ЮНИСЕФ
                            </div>
                            <div class="text slider-text">
                                Безопасная цифровая образовательная среда с видеоконференциями между школьниками и волонтерами для детей от 4 по 11 классы.
                            </div>
                            <a href="#" class="slider-button">
                                ПОдробнее
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <img src="%=static=%img/general/main.png" alt="">
                        <div class="slider-content">
                            <div class="align-center slider-pagination">
                                <div class="slider-current"></div>
                                /
                                <div class="slider-total"></div>
                            </div>
                            <div class="slider-title">
                                Открой для себя мир волонтерства
                            </div>
                            <div class="slider-text">
                                Найди проект по душе в своем городе! Здесь вы найдете организации, проекты и волонтеров
                            </div>
                            <a href="#" class="slider-button">
                                ПОдробнее
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider-nav main-left">
                {{Icon iconName="arrow-nav"}}
            </div>
            <div class="slider-nav main-right">
                {{Icon iconName="arrow-nav"}}
            </div>
        </div>
    </div>

    {{>direction/direction}}

    <div class="kids">
        <div class="wrapper">
            <div class="align-center kids-row">
                <div class="kids-image">
                    <img src="%=static=%img/general/kids.png" alt="">
                    <img src="%=static=%img/general/kids/kids1.png" alt="" class="kids-img kids-img-1 wow fadeIn" data-wow-delay="0.1s">
                    <img src="%=static=%img/general/kids/kids2.png" alt="" class="kids-img kids-img-2 wow fadeIn" data-wow-delay="0.2s">
                    <img src="%=static=%img/general/kids/kids3.png" alt="" class="kids-img kids-img-3 wow fadeIn" data-wow-delay="0.3s">
                    <img src="%=static=%img/general/kids/kids4.png" alt="" class="kids-img kids-img-4 wow fadeIn" data-wow-delay="0.4s">
                    <img src="%=static=%img/general/kids/kids5.png" alt="" class="kids-img kids-img-5 wow fadeIn" data-wow-delay="0.5s">
                    <img src="%=static=%img/general/kids/kids6.png" alt="" class="kids-img kids-img-6 wow fadeIn" data-wow-delay="0.6s">
                    <img src="%=static=%img/general/kids/kids7.png" alt="" class="kids-img kids-img-7 wow fadeIn" data-wow-delay="0.7s">
                    <img src="%=static=%img/general/kids/kids8.png" alt="" class="kids-img kids-img-8 wow fadeIn" data-wow-delay="0.8s">
                    <img src="%=static=%img/general/kids/kids9.png" alt="" class="kids-img kids-img-9 wow fadeIn" data-wow-delay="0.9s">
                    <img src="%=static=%img/general/kids/kids10.png" alt="" class="kids-img kids-img-10 wow fadeIn" data-wow-delay="1s">
                    <img src="%=static=%img/general/kids/kids11.png" alt="" class="kids-img kids-img-11 wow fadeIn" data-wow-delay="1.1s">
                    <img src="%=static=%img/general/kids/kids12.png" alt="" class="kids-img kids-img-12 wow fadeIn" data-wow-delay="1.2s">
                    <img src="%=static=%img/general/kids/kids13.png" alt="" class="kids-img kids-img-13 wow fadeIn" data-wow-delay="1.3s">
                    <img src="%=static=%img/general/kids/kids14.png" alt="" class="kids-img kids-img-14 wow fadeIn" data-wow-delay="1.4s">
                    <img src="%=static=%img/general/kids/kids15.png" alt="" class="kids-img kids-img-15 wow fadeIn" data-wow-delay="1.5s">
                    <img src="%=static=%img/general/kids/kids16.png" alt="" class="kids-img kids-img-16 wow fadeIn" data-wow-delay="1.6s">
                    <img src="%=static=%img/general/kids/kids17.png" alt="" class="kids-img kids-img-17 wow fadeIn" data-wow-delay="1.7s">
                </div>
                <ul class="kids-list" id="list">
                    <li class="align-top kids-list-item">
                        Пилотный год показал эффективность данных проектов и позволил
                        ЮНИСЕФ обратиться к огромному количеству молодежи, которая 
                        желает учиться и нести полученные знания дальше. 
                    </li>
                    <li class="align-top kids-list-item">
                        Основываясь на данных прошедшего года, можно с уверенностью сказать, что волонтерские программы несут в себе огромный потенциал,
                        как и в распространении информации, так и в использовании метода «Равный равному», где дети не чувствуют возрастного авторитета и легче воспринимают
                        информацию от сверстников.
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="numbers">
        <div class="wrapper">
            <h3 class="title">Волонтерство за год в цифрах</h3>
            <div class="align-bottom numbers-content">
                <div class="numbers-item">
                    <div class="num" data-num="8000"><span></span>+</div>
                    <div class="num-text">волонтеров по всей стране</div>
                </div>
                <div class="numbers-item">
                    <div class="num" data-num="1200"><span></span>+</div>
                    <div class="num-text">онлайн лекций</div>
                </div>
                <div class="numbers-item">
                    <div class="num" data-num="80000"><span></span>+</div>
                    <div class="num-text">детей посетили лекции</div>
                </div>
                <div class="numbers-item">
                    <div class="num" data-num="3300"><span></span></div>
                    <div class="num-text">постов в социальных сетях</div>
                </div>
                <div class="numbers-item">
                    <div class="num" data-num="800000"><span></span></div>
                    <div class="num-text">пользователей достигнуто</div>
                </div>
            </div>
        </div>
    </div>

    {{>map/map}}

    <div class="mission">
        <div class="wrapper">
            <div class="mission-title">
                <h3 class="title">Наша миссия:</h3>
                <h3 class="title">Дать каждому ученику свободу учиться у лучших волонтеров</h3>
                <div class="quote quote-left">“</div>
                <div class="quote quote-right">”</div>
            </div>
        </div>
    </div>

    <div class="news">
        <div class="wrapper">
            <div class="row news-content">
                <div class="news-item news-subscribe">
                    <div class="news-info">
                        <div class="news-title">Последние новости</div>
                        <div class="news-text">Подпишитесь на рассылку и будьте в курсе всех актуальных новостей</div>
                    </div>
                    <form class="news-form">
                        <div class="input">
                            <input type="text" placeholder="Электронная почта*" required>
                        </div>
                        <label class="align-top check">
                            <input type="checkbox">
                            <span class="align-center check-box"></span>
                            <span class="check-text">
                                Нажимая на кнопку “Подписаться”, я принимаю условия Политики конфиденциальности, и даю своё согласие. 
                            </span>
                        </label>
                        <button class="btn btn-orange">подписаться</button>
                    </form>
                </div>
                <div href="#" class="news-item">
                    <div class="news-info">
                        <a href="#" class="news-title">Стартовал второй поток обучения тренеров по программе «Учимся...</a>
                        <div class="align-center news-row">
                            <div class="align-center news-date">
                                {{Icon iconName="calendar"}}
                                <span>23 сентября</span>
                            </div>
                            <div class="align-center news-views">
                                {{Icon iconName="eye"}}
                                <span>250</span>
                            </div>
                            <div class="align-center news-comment">
                                {{Icon iconName="message"}}
                                <span>0</span>
                            </div>
                        </div>
                        <div class="news-text">
                            20 сентября в городе Алматы стартовал второй этап пилотного обучения для работников государственных учреждений систем здравоохранения, образования, социальной сферы...
                        </div>
                    </div>
                    <a href="#" class="align-center link news-more">
                        <span>Читать далее</span>
                        {{Icon iconName="arrow-right"}}
                    </a>
                </div>
                <div class="news-item">
                    <div class="news-title">Вручены сертификаты первым участникам менторской программы...</div>
                    <div class="align-center news-row">
                        <div class="align-center news-date">
                            {{Icon iconName="calendar"}}
                            <span>23 сентября</span>
                        </div>
                        <div class="align-center news-views">
                            {{Icon iconName="eye"}}
                            <span>250</span>
                        </div>
                        <div class="align-center news-comment">
                            {{Icon iconName="message"}}
                            <span>0</span>
                        </div>
                    </div>
                    <div class="news-text">
                        При поддержке Министерства труда и социальной защиты населения Республики Казахстан (МТСЗН) и Детского фонда ООН (ЮНИСЕФ)  общественное объединение «Сообщество...
                    </div>
                    <a href="#" class="align-center link news-more">
                        <span>Читать далее</span>
                        {{Icon iconName="arrow-right"}}
                    </a>
                </div>
                <div class="news-item">
                    <div class="news-title">Казахстанских специалистов научат «золотому стандарту»...</div>
                    <div class="align-center news-row">
                        <div class="align-center news-date">
                            {{Icon iconName="calendar"}}
                            <span>23 сентября</span>
                        </div>
                        <div class="align-center news-views">
                            {{Icon iconName="eye"}}
                            <span>250</span>
                        </div>
                        <div class="align-center news-comment">
                            {{Icon iconName="message"}}
                            <span>0</span>
                        </div>
                    </div>
                    <div class="news-text">
                        Казахстанских специалистов, ответственных за проведение диагностики детей с расстройствами аутического спектра научат «золотому стандарту»...
                    </div>
                    <a href="#" class="align-center link news-more">
                        <span>Читать далее</span>
                        {{Icon iconName="arrow-right"}}
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="lectures">
        <div class="wrapper">
            <div class="row lectures-content">
                <div class="lectures-info">
                    <h3 class="title">Последние опубликованные лекции</h3>
                    <a href="#" class="btn btn-blue">Все лекции</a>
                </div>

                <a href="#" class="lecture">
                    <div class="align-center lecture-image">{{Icon iconName="lecture1"}}</div>
                    <div class="lecture-title">Ответственность за буллинг и кибербуллинг</div>
                    <div class="lecture-info">
                        <div class="align-top lecture-row">
                            <div class="lecture-icon">
                                {{Icon iconName="user"}}
                            </div>
                            <div class="lecture-name">1-4 классы</div>
                        </div>
                        <div class="align-top lecture-row">
                            <div class="lecture-icon">
                                {{Icon iconName="map-pin"}}
                            </div>
                            <div class="lecture-name">Акмолинская область, г. Нур-Султан, Школа- лицей №1</div>
                        </div>
                        <div class="align-top lecture-row">
                            <div class="lecture-icon">
                                {{Icon iconName="clock"}}
                            </div>
                            <div class="lecture-name">23.09.2021</div>
                        </div>
                    </div>
                </a>

                <a href="#" class="lecture">
                    <div class="align-center lecture-image">{{Icon iconName="lecture2"}}</div>
                    <div class="lecture-title">Проблема загрязнения окружающей среды  пластиком</div>
                    <div class="lecture-info">
                        <div class="align-top lecture-row">
                            <div class="lecture-icon">
                                {{Icon iconName="user"}}
                            </div>
                            <div class="lecture-name">5-11 классы</div>
                        </div>
                        <div class="align-top lecture-row">
                            <div class="lecture-icon">
                                {{Icon iconName="map-pin"}}
                            </div>
                            <div class="lecture-name">Алматинская область, г. Алматы, Лицей-интернат "Білім-инновация" для...</div>
                        </div>
                        <div class="align-top lecture-row">
                            <div class="lecture-icon">
                                {{Icon iconName="clock"}}
                            </div>
                            <div class="lecture-name">01.07.2021</div>
                        </div>
                    </div>
                </a>

                <a href="#" class="lecture">
                    <div class="align-center lecture-image">{{Icon iconName="lecture3"}}</div>
                    <div class="lecture-title">Методическое пособие по разработке планов сопровождения...</div>
                    <div class="lecture-info">
                        <div class="align-top lecture-row">
                            <div class="lecture-icon">
                                {{Icon iconName="user"}}
                            </div>
                            <div class="lecture-name">1-11 классы</div>
                        </div>
                        <div class="align-top lecture-row">
                            <div class="lecture-icon">
                                {{Icon iconName="map-pin"}}
                            </div>
                            <div class="lecture-name">Акмолинская область, г. Нур-Султан, Школа-лицей № 27</div>
                        </div>
                        <div class="align-top lecture-row">
                            <div class="lecture-icon">
                                {{Icon iconName="clock"}}
                            </div>
                            <div class="lecture-name">14.06.2021</div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="use">
        <div class="wrapper">
            <div class="align-top use-content">
                <div class="use-info">
                    <h3 class="title">Как пользоваться платформой?</h3>
                    <div class="use-text">
                        <p>
                            Для использования платформы подходит любое устройство с выходом в интернет. Занятия проводяться дистанционно.
                        </p>

                        <p>
                            Преподаватель назначает ученикам онлайн урок в расписании – дети изучают материалы вместе с волонтером – преподаватель ставит отметку волонтеру – отметка автоматически отображается в электронном отчете.
                        </p>
                    </div>

                    <a href="#" class="btn btn-blue">Регистрация</a>
                </div>
                <div class="use-video">
                    <iframe src="https://www.youtube.com/embed/bXWJNkD9KBU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    {{>unicef/unicef}}

    <div class="partners">
        <div class="wrapper">
            <h3 class="title">Наши партнеры</h3>
            <div class="partners-slider">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="%=static=%img/general/partners/1.png" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="%=static=%img/general/partners/2.png" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="%=static=%img/general/partners/3.png" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="%=static=%img/general/partners/4.png" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="%=static=%img/general/partners/5.png" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="%=static=%img/general/partners/1.png" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="%=static=%img/general/partners/2.png" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="%=static=%img/general/partners/3.png" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="%=static=%img/general/partners/4.png" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="%=static=%img/general/partners/5.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="partners-nav partners-left">
                    {{Icon iconName="arrow-nav"}}
                </div>
                <div class="partners-nav partners-right">
                    {{Icon iconName="arrow-nav"}}
                </div>
            </div>
        </div>
    </div>

    {{>footer/footer}}

    {{>bottom/bottom}}

    <script src="%=static=%js/separate-js/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
</body>

</html>