<!DOCTYPE html>
<html class="no-js" lang="ru">

<head>
    {{> head/head head.defaults}}
</head>

<body class="page">
    %=symbols=%

    <div class="align-top admin">

        {{>navbar/navbar-kurator}}

        <div class="admin-content">
            <div class="align-center admin-head">
                <span>Главная страница</span>
            </div>
            <div class="admin-view">
                <div class="container-fluid">
                    <div class="align-center graph-row">
                        <div class="align-center admin-info-title">
                            <span>Запланированные занятия</span>
                            <div class="help">
                                <div class="help-icon">
                                    {{Icon iconName="help"}}
                                </div>
                                <div class="help-text">
                                    Данный график отображает информацию о запланированных занятиях. Мы можете планировать  расписание на 3 месяца. Задача Куратора заполнить расписание заранее, чтобы у волонтеров была возможность планировать занятия.
                                </div>
                            </div>
                        </div>
                        <div class="align-center graph-settings">
                            <div class="graph-setting active" data-lng="14">2 недели</div>
                            <div class="graph-setting" data-lng="30">Месяц</div>
                            <div class="graph-setting" data-lng="90">3 месяца</div>
                        </div>
                    </div>
                    <div class="graph">
                        <div class="graph-view">
                            <div class="graph-num">6</div>
                            <div class="graph-num">5</div>
                            <div class="graph-num">4</div>
                            <div class="graph-num">3</div>
                            <div class="graph-num">2</div>
                            <div class="graph-num">1</div>
                            <div class="graph-num">0</div>
                        </div>
                        <div class="align-center graph-bottom"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{>bottom/bottom}}

</script>   
</body>

</html>