<!DOCTYPE html>
<html class="no-js" lang="ru">

<head>
    {{> head/head head.defaults}}
</head>

<body class="page">
    %=symbols=%

    <div class="align-top admin">

        {{>navbar/navbar-kurator}}

        <div class="admin-content">
            <div class="align-center admin-head">
                <span>Расписание занятий</span>
                <a href="#" class="btn btn-blue">Добавить занятие</a>
            </div>
            <div class="admin-view">
                <div class="container-fluid">
                    <div class="table table-kurator">
                        <table>
                            <thead>
                                <tr>
                                    <th class="sort">
                                        <span>Школа</span>
                                    </th>
                                    <th class="sort">
                                        <span>Класс</span>
                                    </th>
                                    <th class="sort">
                                        <span>Язык</span>
                                    </th>
                                    <th class="sort">
                                        <span>Преподаватель</span>
                                    </th>
                                    <th>
                                        <span>Телефон</span>
                                    </th>
                                    <th>
                                        <span>E-mail</span>
                                    </th>
                                    <th>Статус</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Специальная школа № 3</td>
                                    <td>1 А</td>
                                    <td>
                                        Русский
                                    </td>
                                    <td>Иванова Анастасия Михайловна</td>
                                    <td>
                                        +7 (000) 000 99 00
                                    </td>
                                    <td>
                                        ivanova1993@gmail.com
                                    </td>
                                    <td class="status success">
                                        <span>Завершен</span>
                                    </td>
                                    <td class="table-dots">
                                        <div class="table-more">
                                            {{Icon iconName="three-dots"}}
                                        </div>
                                        <div class="table-drop">
                                            <div class="table-links">
                                                <div class="align-center table-link">
                                                    {{Icon iconName="pen"}}
                                                    <span>Редактировать</span>
                                                </div>
                                                <div class="align-center table-link">
                                                    {{Icon iconName="triangle-alert"}}
                                                    <span>Написать отзыв</span>
                                                </div>
                                                <div class="align-center table-link">
                                                    {{Icon iconName="delete"}}
                                                    <span>Отменить занятие</span>
                                                </div>
                                            </div>
                                            <div class="table-links">
                                                <div class="align-center table-link table-delete">
                                                    {{Icon iconName="trash"}}
                                                    <span>Удалить</span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Специальная школа № 3</td>
                                    <td>1 А</td>
                                    <td>
                                        Русский
                                    </td>
                                    <td>Иванова Анастасия Михайловна</td>
                                    <td>
                                        +7 (000) 000 99 00
                                    </td>
                                    <td>
                                        ivanova1993@gmail.com
                                    </td>
                                    <td class="status waiting">
                                        <span>Черновик</span>
                                    </td>
                                    <td class="table-dots">
                                        <div class="table-more">
                                            {{Icon iconName="three-dots"}}
                                        </div>
                                        <div class="table-drop">
                                            <div class="table-links">
                                                <div class="align-center table-link">
                                                    {{Icon iconName="pen"}}
                                                    <span>Редактировать</span>
                                                </div>
                                                <div class="align-center table-link">
                                                    {{Icon iconName="triangle-alert"}}
                                                    <span>Написать отзыв</span>
                                                </div>
                                                <div class="align-center table-link">
                                                    {{Icon iconName="delete"}}
                                                    <span>Отменить занятие</span>
                                                </div>
                                            </div>
                                            <div class="table-links">
                                                <div class="align-center table-link table-delete">
                                                    {{Icon iconName="trash"}}
                                                    <span>Удалить</span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Специальная школа № 3</td>
                                    <td>1 А</td>
                                    <td>
                                        Русский
                                    </td>
                                    <td>Иванова Анастасия Михайловна</td>
                                    <td>
                                        +7 (000) 000 99 00
                                    </td>
                                    <td>
                                        ivanova1993@gmail.com
                                    </td>
                                    <td class="status waiting">
                                        <span>Черновик</span>
                                    </td>
                                    <td class="table-dots">
                                        <div class="table-more">
                                            {{Icon iconName="three-dots"}}
                                        </div>
                                        <div class="table-drop">
                                            <div class="table-links">
                                                <div class="align-center table-link">
                                                    {{Icon iconName="pen"}}
                                                    <span>Редактировать</span>
                                                </div>
                                                <div class="align-center table-link">
                                                    {{Icon iconName="triangle-alert"}}
                                                    <span>Написать отзыв</span>
                                                </div>
                                                <div class="align-center table-link">
                                                    {{Icon iconName="delete"}}
                                                    <span>Отменить занятие</span>
                                                </div>
                                            </div>
                                            <div class="table-links">
                                                <div class="align-center table-link table-delete">
                                                    {{Icon iconName="trash"}}
                                                    <span>Удалить</span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{>bottom/bottom}}
</body>

</html>