<!DOCTYPE html>
<html class="no-js" lang="ru">

<head>
    <link href="%=static=%css/separate-css/fullcalendar/packages/core/main.css" rel="stylesheet" />
    <link href='%=static=%css/separate-css/fullcalendar/packages/daygrid/main.css' rel='stylesheet' />

    <link rel="stylesheet" href="%=static=%css/separate-css/bootstrap.min.css">


    {{> head/head head.defaults}}

</head>

<body class="page">
    %=symbols=%

    <div class="align-top admin">

        {{>navbar/navbar-kurator}}

        <div class="admin-content">
            <div class="align-center admin-head">
                <span>Расписание занятий</span>
                <a href="#" class="btn btn-blue">Добавить занятие</a>
            </div>
            <div class="admin-view">
                <div class="container-fluid">
                    <div class="align-center kurator-info">
                        <div class="align-center input-column">
                            {{Icon iconName="column"}}
                        </div>
                        <div class="align-center input-column active">
                            {{Icon iconName="calendar2"}}
                        </div>
                    </div>
                    
                    <div class="row admin-top">
                        <div class="admin-rasp">
                            <div class="admin-rasp-item">
                                <div class="align-center">
                                    <div class="admin-rasp-dir">GenU</div>
                                    <div class="admin-rasp-date">23.09</div>
                                </div>
                                <div class="align-center admin-rasp-class">
                                    {{Icon iconName="graduate"}}
                                    <span>1-5</span>
                                </div>
                                <div class="admin-rasp-name">
                                    Сусанин, Иванов
                                </div>
                            </div>
                            <div class="admin-rasp-item">
                                <div class="align-center">
                                    <div class="admin-rasp-dir green">Эко</div>
                                    <div class="admin-rasp-date">20.12</div>
                                </div>
                                <div class="align-center admin-rasp-class">
                                    {{Icon iconName="graduate"}}
                                    <span>1-5</span>
                                </div>
                                <div class="admin-rasp-name">
                                    Оспанов
                                </div>
                            </div>
                            <div class="admin-rasp-item">
                                <div class="align-center">
                                    <div class="admin-rasp-dir green">Эко</div>
                                    <div class="admin-rasp-date">20.12</div>
                                </div>
                                <div class="align-center admin-rasp-class">
                                    {{Icon iconName="graduate"}}
                                    <span>1-5</span>
                                </div>
                                <div class="admin-rasp-name">
                                    Оспанов
                                </div>
                            </div>
                        </div>
                        <div id="timetable"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="%=static=%js/separate-js/jquery-3.3.1.min.js"></script>
    <script src="%=static=%js/separate-js/popper.min.js"></script>
    <script src="%=static=%js/separate-js/bootstrap.min.js"></script>

    <script src='%=static=%js/separate-js/fullcalendar/packages/core/main.js'></script>
    <script src='%=static=%js/separate-js/fullcalendar/packages/interaction/main.js'></script>
    <script src='%=static=%js/separate-js/fullcalendar/packages/daygrid/main.js'></script>
    <script src='%=static=%js/separate-js/fullcalendar/packages/timegrid/main.js'></script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const calendarEl = document.querySelector('#timetable');

            const calendar = new FullCalendar.Calendar(calendarEl, {
                plugins: [ 'interaction', 'dayGrid', 'timeGrid' ],
                header: {
                    left: '',
                    center: 'prev, title, next',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay'
                },
                locale: 'ru',
                firstDay: 1,
                defaultView: 'dayGridMonth',
                defaultDate: '2020-02-12',
                navLinks: true,
                editable: true,
                eventLimit: true, 
                buttonText: {
                    today:    'today',
                    month:    'Месяц',
                    week:     'Неделя',
                    day:      'День',
                },
                allDayText: "Все",
                dayHeaderFormat: {
                    weekday: 'long'
                },
                eventLimitText: function (n) {
                    return "+ ещё " + n;
                },
                events: [
                {
                    title: '1-11. Иванов',
                    start: '2020-02-01T09:00:00',
                },
                {
                    title: 'Long Event',
                    start: '2020-02-07',
                    end: '2020-02-10'
                },
                {
                    groupId: 999,
                    title: 'Repeating Event',
                    start: '2020-02-09T16:00:00'
                },
                {
                    groupId: 999,
                    title: 'Repeating Event',
                    start: '2020-02-16T16:00:00'
                },
                {
                    title: 'Conference',
                    start: '2020-02-11',
                    end: '2020-02-13'
                },
                {
                    title: 'Meeting',
                    start: '2020-02-12T10:30:00',
                    end: '2020-02-12T12:30:00'
                },
                {
                    title: 'Lunch',
                    start: '2020-02-12T13:00:00'
                },
                {
                    title: 'Meeting',
                    start: '2020-02-12T14:30:00'
                },
                {
                    title: 'Happy Hour',
                    start: '2020-02-12T17:30:00'
                },
                {
                    title: 'Dinner',
                    start: '2020-02-12T20:00:00'
                },
                {
                    title: 'Birthday Party',
                    start: '2020-02-13T07:00:00'
                },
                {
                    title: 'Click for Google',
                    url: 'http://google.com/',
                    start: '2020-02-28'
                }
                ],
                eventTimeFormat: { 
                    hour: '2-digit',
                    minute: '2-digit',
                    meridiem: false
                },
                slotLabelFormat: {
                    hour: '2-digit',
                    minute: '2-digit',
                    meridiem: false
                },
                slotLabelInterval: "00:30"
            });

            calendar.render();
        });
    </script>
</body>

</html>