<!DOCTYPE html>
<html class="no-js" lang="ru">

<head>
    {{> head/head head.defaults}}
</head>

<body class="page">
    %=symbols=%

    <div class="align-top admin">

        {{>navbar/navbar-kurator}}

        <div class="admin-content">
            <div class="align-center admin-head">
                <span>Добавление класса</span>
                <div class="align-center add">
                    <label class="align-center draft">
                        <input type="checkbox">
                        <span class="draft-box"></span>
                        <span class="draft-text">Черновик</span>
                    </label>
                    <div class="add-buttons">
                        <button class="btn btn-blue">Сохранить и добавить еще класс</button>
                        <button class="btn btn-blue">Сохранить и закрыть</button>
                    </div>
                </div>
            </div>
            <div class="admin-view">
                <div class="align-top">
                    <form class="add-form admin-tab active">
                        <div class="align-center form-row">
                            <div class="form-title">Школа</div>
                            <div class="input">
                                <select class="nice-select">
                                    <option value="0" class="disabled selected">Выберите школу</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </div>
                        </div>

                        <div class="align-center form-row">
                            <div class="form-title">Класс</div>
                            <div class="input">
                                <input type="text" placeholder="Номер класса">
                            </div>
                        </div>

                        <div class="align-center form-row">
                            <div class="form-title">Буква класса</div>
                            <div class="input">
                                <input type="text" placeholder="Буква">
                            </div>
                        </div>

                        <div class="align-center form-row">
                            <div class="form-title">Язык обучения</div>
                            <div class="input">
                                <select class="nice-select">
                                    <option value="0" class="disabled selected">Русский</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </div>
                        </div>

                        <div class="align-center form-row">
                            <div class="form-title">Пол преподавателя*</div>
                            <div class="align-center">
                                <label class="align-center radio">
                                    <input type="radio" name="sex">
                                    <span class="align-center radio-box"></span>
                                    <span class="radio-text">Мужской</span>
                                </label>
                                <label class="align-center radio">
                                    <input type="radio" name="sex">
                                    <span class="align-center radio-box"></span>
                                    <span class="radio-text">Женский</span>
                                </label>
                            </div>
                        </div>

                        <div class="align-center form-row">
                            <div class="form-title">Телефон*</div>
                            <div class="input">
                                <input type="text" placeholder="Буква">
                            </div>
                        </div>

                        <div class="align-center form-row">
                            <div class="form-title">Имя*</div>
                            <div class="input">
                                <input type="text" placeholder="Укажите имя преподавателя">
                            </div>
                        </div>

                        <div class="align-center form-row">
                            <div class="form-title">Фамилия*</div>
                            <div class="input">
                                <input type="text" placeholder="Укажите фамилию преподавателя">
                            </div>
                        </div>

                        <div class="align-center form-row">
                            <div class="form-title">Отчество*</div>
                            <div class="input">
                                <input type="text" placeholder="Укажите отчество">
                            </div>
                        </div>

                        <div class="align-center form-row">
                            <div class="form-title">Email*</div>
                            <div class="input">
                                <input type="text" placeholder="example@mail.com">
                            </div>
                        </div>

                        <a href="#" class="align-center back">
                            {{Icon iconName="pagination-arrow"}}
                            <span>Вернуться назад в расписание и отменить добавление</span>
                        </a>
                    </form>

                    <div class="admin-reference">
                        <div class="admin-reference-title">Справка для Куратора</div>
                        <div class="admin-reference-text">
                            <p>Как добавить учебный класс?</p>
                            <ol>
                                <li>В поле «Школа» выберете значение. Если ее нет в списке, нужно добавить в <a href="#">Настройках</a>.</li>
                                <li>В поле «Отв. преподаватель» можно выбрать одного или нескольких педагогов. По умолчанию у преподавателей есть доступ только к классам, в карточках которых они указаны как ответственные.</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{>bottom/bottom}}
</body>

</html>