<!DOCTYPE html>
<html class="no-js" lang="ru">

<head>
    {{> head/head head.defaults}}
</head>

<body class="page">
    %=symbols=%

    <div class="align-top admin">

        {{>navbar/navbar-kurator}}

        <div class="admin-content">
            <div class="align-center admin-head">
                <span>Добавить урок</span>
                <div class="align-center add">
                    <label class="align-center draft">
                        <input type="checkbox">
                        <span class="draft-box"></span>
                        <span class="draft-text">Черновик</span>
                    </label>
                    <div class="add-buttons">
                        <button class="btn btn-blue">Сохранить и добавить еще урок</button>
                        <button class="btn btn-blue">Сохранить и закрыть</button>
                    </div>
                </div>
            </div>
            <div class="admin-view">
                <div class="align-top">
                    <form class="add-form">
                        <div class="align-bottom add-row">
                            <div class="input input-date input-select">
                                <div class="input-placeholder">Начало:</div>
                                <div class="input-icon">
                                    {{Icon iconName="calendar"}}
                                </div>
                                <input type='text' class='datepicker-here' data-language='ru' readonly />
                            </div>
                            <div class="input input-select">
                                <select class="nice-select">
                                    <option value="1">10:00</option>
                                    <option value="2">11:00</option>
                                    <option value="2">11:00</option>
                                    <option value="2">11:00</option>
                                    <option value="2">11:00</option>
                                    <option value="2">11:00</option>
                                    <option value="2">11:00</option>
                                    <option value="2">11:00</option>
                                    <option value="2">11:00</option>
                                    <option value="2">11:00</option>
                                    <option value="2">11:00</option>
                                    <option value="2">11:00</option>
                                    <option value="2">11:00</option>
                                    <option value="2">11:00</option>
                                    <option value="2">11:00</option>
                                </select>
                            </div>
                        </div>

                        <div class="align-bottom add-row">
                            <div class="input input-select">
                                <div class="input-placeholder">Продолжительность</div>
                                <select class="nice-select">
                                    <option value="1">30 мин</option>
                                    <option value="2">45 мин</option>
                                </select>
                            </div>
                            <div class="input input-select">
                                <div class="input-placeholder">Часовой пояс</div>
                                <select class="nice-select">
                                    <option value="1">Время Нур-Султан</option>
                                    <option value="2">Время Нур-Султан</option>
                                </select>
                            </div>
                        </div>

                        <div class="align-bottom add-row">
                            <div class="input input-select">
                                <div class="input-placeholder">Направление</div>
                                <select class="nice-select">
                                    <option value="1">General unlimited</option>
                                    <option value="2">General unlimited</option>
                                </select>
                            </div>
                            <div class="input input-select">
                                <div class="input-placeholder">Платформа обучения*</div>
                                <select class="nice-select">
                                    <option value="0" selected disabled>Удобная для вас платформа</option>
                                    <option value="1">Zoom</option>
                                    <option value="2">Skype</option>
                                </select>
                            </div>
                        </div>

                        <div class="add-classes">
                            <div class="align-center add-row">
                                <div class="add-left">
                                    <div class="add-title">Какой класс?</div>
                                    <div class="add-text">Воспользуйтесь фильтрами или выберите вручную</div>
                                </div>
                                <div class="add-newclass">
                                    Добавить новый класс
                                </div>
                            </div>
                            <div class="align-center add-classes-list">
                                <div class="add-classes-item">1-5 классы</div>
                                <div class="add-classes-item">6-11 классы</div>
                                <div class="add-classes-item">7-10 классы</div>
                                <div class="add-classes-item">8-11 классы</div>
                                <div class="add-classes-item">Все классы</div>
                            </div>
                            <div class="add-classes-check">
                                <label class="align-center check">
                                    <input type="checkbox">
                                    <span class="align-center check-box"></span>
                                    <span class="check-text">1-А</span>
                                </label>
                                <label class="align-center check">
                                    <input type="checkbox">
                                    <span class="align-center check-box"></span>
                                    <span class="check-text">1-Б</span>
                                </label>
                                <label class="align-center check">
                                    <input type="checkbox">
                                    <span class="align-center check-box"></span>
                                    <span class="check-text">1-В</span>
                                </label>
                                <label class="align-center check">
                                    <input type="checkbox">
                                    <span class="align-center check-box"></span>
                                    <span class="check-text">1-Г</span>
                                </label>
                                <label class="align-center check">
                                    <input type="checkbox">
                                    <span class="align-center check-box"></span>
                                    <span class="check-text">2-А</span>
                                </label>
                                <label class="align-center check">
                                    <input type="checkbox">
                                    <span class="align-center check-box"></span>
                                    <span class="check-text">2-Б</span>
                                </label>
                                <label class="align-center check">
                                    <input type="checkbox">
                                    <span class="align-center check-box"></span>
                                    <span class="check-text">2-В</span>
                                </label>
                                <label class="align-center check">
                                    <input type="checkbox">
                                    <span class="align-center check-box"></span>
                                    <span class="check-text">3-А</span>
                                </label>
                                <label class="align-center check">
                                    <input type="checkbox">
                                    <span class="align-center check-box"></span>
                                    <span class="check-text">4-А</span>
                                </label>
                                <label class="align-center check">
                                    <input type="checkbox">
                                    <span class="align-center check-box"></span>
                                    <span class="check-text">5-А</span>
                                </label>
                                <label class="align-center check">
                                    <input type="checkbox">
                                    <span class="align-center check-box"></span>
                                    <span class="check-text">6-А</span>
                                </label>
                                <label class="align-center check">
                                    <input type="checkbox">
                                    <span class="align-center check-box"></span>
                                    <span class="check-text">7-А</span>
                                </label>
                                <label class="align-center check">
                                    <input type="checkbox">
                                    <span class="align-center check-box"></span>
                                    <span class="check-text">8-А</span>
                                </label>
                                <label class="align-center check">
                                    <input type="checkbox">
                                    <span class="align-center check-box"></span>
                                    <span class="check-text">8-Б</span>
                                </label>
                                <label class="align-center check">
                                    <input type="checkbox">
                                    <span class="align-center check-box"></span>
                                    <span class="check-text">9-А</span>
                                </label>
                                <label class="align-center check">
                                    <input type="checkbox">
                                    <span class="align-center check-box"></span>
                                    <span class="check-text">9-Б</span>
                                </label>
                                <label class="align-center check">
                                    <input type="checkbox">
                                    <span class="align-center check-box"></span>
                                    <span class="check-text">9-В</span>
                                </label>
                                <label class="align-center check">
                                    <input type="checkbox">
                                    <span class="align-center check-box"></span>
                                    <span class="check-text">9-С</span>
                                </label>
                                <label class="align-center check">
                                    <input type="checkbox">
                                    <span class="align-center check-box"></span>
                                    <span class="check-text">10-А</span>
                                </label>
                                <label class="align-center check">
                                    <input type="checkbox">
                                    <span class="align-center check-box"></span>
                                    <span class="check-text">10-Б</span>
                                </label>
                                <label class="align-center check">
                                    <input type="checkbox">
                                    <span class="align-center check-box"></span>
                                    <span class="check-text">10-В</span>
                                </label>
                                <label class="align-center check">
                                    <input type="checkbox">
                                    <span class="align-center check-box"></span>
                                    <span class="check-text">11-А</span>
                                </label>
                                <label class="align-center check">
                                    <input type="checkbox">
                                    <span class="align-center check-box"></span>
                                    <span class="check-text">11-Б</span>
                                </label>
                                <label class="align-center check">
                                    <input type="checkbox">
                                    <span class="align-center check-box"></span>
                                    <span class="check-text">11-В</span>
                                </label>
                            </div>
                        </div>

                        <div class="align-bottom add-row">
                            <div class="input input-select">
                                <div class="input-placeholder">Язык обучения*</div>
                                <select class="nice-select">
                                    <option value="0" selected disabled>Выберите язык</option>
                                    <option value="1">Zoom</option>
                                    <option value="2">Skype</option>
                                </select>
                            </div>
                        </div>

                        <div class="align-bottom add-row">
                            <div class="input input-select">
                                <div class="input-placeholder">Количество девочек в выбранных 
                                классах*</div>
                                <input type="text">
                            </div>
                            <div class="input input-select">
                                <div class="input-placeholder">Количество мальчиков в выбранных
                                классах*</div>
                                <input type="text">
                            </div>
                        </div>

                        <div class="align-bottom add-row">
                            <div class="input">
                                <div class="input-placeholder">Описание или комментарий</div>
                                <textarea></textarea>
                            </div>
                        </div>

                        <a href="#" class="align-center back">
                            {{Icon iconName="pagination-arrow"}}
                            <span>Вернуться назад в расписание и отменить добавление</span>
                        </a>
                    </form>

                    <div class="admin-calendar">
                        <div class="align-center admin-calendar-head">
                            {{Icon iconName="calendar2"}}
                            <span>Календарь</span>
                        </div>
                        <div class="admin-calendar-item">
                            <div class="admin-calendar-date">12 сентября 2021</div>
                            <div class="admin-calendar-elems">
                                <div class="admin-calendar-elem">
                                    <div class="elem-name">GenU</div>
                                    <div class="elem-items">
                                        <p>Классы: 1-5</p>
                                        <p>Язык: русский</p>
                                        <p>Zoom Meeting</p>
                                    </div>
                                    <div class="elem-date">10:00 - 10:40</div>
                                </div>
                                <div class="admin-calendar-elem">
                                    <div class="elem-name">Эко</div>
                                    <div class="elem-items">
                                        <p>Классы: 8-10</p>
                                        <p>Язык: қазақша</p>
                                        <p>Hangouts Meet</p>
                                    </div>
                                    <div class="elem-date">10:00 - 10:40</div>
                                </div>
                                <div class="admin-calendar-elem">
                                    <div class="elem-name">GenU</div>
                                    <div class="elem-items">
                                        <p>Классы: 1-5</p>
                                        <p>Язык: русский</p>
                                        <p>Zoom Meeting</p>
                                    </div>
                                    <div class="elem-date">10:00 - 10:40</div>
                                </div>
                            </div>
                        </div>
                        <div class="admin-calendar-item">
                            <div class="admin-calendar-date">11 сентября 2021</div>
                            <div class="admin-calendar-elems">
                                <div class="admin-calendar-elem">
                                    <div class="elem-name">GenU</div>
                                    <div class="elem-items">
                                        <p>Классы: 1-5</p>
                                        <p>Язык: русский</p>
                                        <p>Zoom Meeting</p>
                                    </div>
                                    <div class="elem-date">10:00 - 10:40</div>
                                </div>
                            </div>
                        </div>
                        <div class="admin-calendar-item">
                            <div class="admin-calendar-date">9 сентября 2021</div>
                            <div class="admin-calendar-elems">
                                <div class="admin-calendar-elem">
                                    <div class="elem-name">GenU</div>
                                    <div class="elem-items">
                                        <p>Классы: 1-5</p>
                                        <p>Язык: русский</p>
                                        <p>Zoom Meeting</p>
                                    </div>
                                    <div class="elem-date">10:00 - 10:40</div>
                                </div>
                                <div class="admin-calendar-elem">
                                    <div class="elem-name">Эко</div>
                                    <div class="elem-items">
                                        <p>Классы: 8-10</p>
                                        <p>Язык: қазақша</p>
                                        <p>Hangouts Meet</p>
                                    </div>
                                    <div class="elem-date">10:00 - 10:40</div>
                                </div>
                            </div>
                        </div>
                        <div class="admin-calendar-item">
                            <div class="admin-calendar-date">3 сентября 2021</div>
                            <div class="admin-calendar-elems">
                                <div class="admin-calendar-elem">
                                    <div class="elem-name">GenU</div>
                                    <div class="elem-items">
                                        <p>Классы: 1-5</p>
                                        <p>Язык: русский</p>
                                        <p>Zoom Meeting</p>
                                    </div>
                                    <div class="elem-date">10:00 - 10:40</div>
                                </div>
                                <div class="admin-calendar-elem">
                                    <div class="elem-name">Эко</div>
                                    <div class="elem-items">
                                        <p>Классы: 8-10</p>
                                        <p>Язык: қазақша</p>
                                        <p>Hangouts Meet</p>
                                    </div>
                                    <div class="elem-date">10:00 - 10:40</div>
                                </div>
                            </div>
                        </div>
                        <div class="admin-calendar-item">
                            <div class="admin-calendar-date">3 сентября 2021</div>
                            <div class="admin-calendar-elems">
                                <div class="admin-calendar-elem">
                                    <div class="elem-name">GenU</div>
                                    <div class="elem-items">
                                        <p>Классы: 1-5</p>
                                        <p>Язык: русский</p>
                                        <p>Zoom Meeting</p>
                                    </div>
                                    <div class="elem-date">10:00 - 10:40</div>
                                </div>
                                <div class="admin-calendar-elem">
                                    <div class="elem-name">Эко</div>
                                    <div class="elem-items">
                                        <p>Классы: 8-10</p>
                                        <p>Язык: қазақша</p>
                                        <p>Hangouts Meet</p>
                                    </div>
                                    <div class="elem-date">10:00 - 10:40</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{>bottom/bottom}}
</body>

</html>