<!DOCTYPE html>
<html class="no-js" lang="ru">

<head>
    {{> head/head head.defaults}}
</head>

<body class="page">
    %=symbols=%

    <div class="align-top admin">

        {{>navbar/navbar-kurator}}

        <div class="admin-content">
            <div class="align-center admin-head">
                <span>Расписание занятий</span>
                <a href="#" class="btn btn-blue">Добавить занятие</a>
            </div>
            <div class="admin-view">
                <div class="container-fluid">
                    <div class="align-center kurator-info">
                        <div class="align-center input-column active">
                            {{Icon iconName="column"}}
                        </div>
                        <div class="align-center input-column">
                            {{Icon iconName="calendar2"}}
                        </div>
                    </div>

                    <div class="align-center kurator-row">
                        <div class="input">
                            <select class="nice-select">
                                <option value="0" disabled selected>Направления</option>
                                <option value="1">1</option>
                                <option value="">2</option>
                                <option value="">3</option>
                            </select>
                        </div>
                        <div class="input">
                            <select class="nice-select">
                                <option value="0" disabled selected>Классы</option>
                                <option value="1">1</option>
                                <option value="">2</option>
                                <option value="">3</option>
                            </select>
                        </div>
                        <div class="input">
                            <select class="nice-select">
                                <option value="0" disabled selected>Статус</option>
                                <option value="1">1</option>
                                <option value="">2</option>
                                <option value="">3</option>
                            </select>
                        </div>
                    </div>

                    <div class="table">
                        <table>
                            <thead>
                                <tr>
                                    <th>Дата</th>
                                    <th>Время</th>
                                    <th>Направление</th>
                                    <th>Классы</th>
                                    <th>Преподаватель</th>
                                    <th>Волонтер</th>
                                    <th>Платформа</th>
                                    <th>Статус</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>21.09.21</td>
                                    <td>10:00</td>
                                    <td class="table-direct">
                                        <span>GenU</span>
                                    </td>
                                    <td>1-5</td>
                                    <td>
                                        <p>Иванова Анастасия Михайловна, +7 (000) 000-00-00</p>
                                    </td>
                                    <td class="table-volont">
                                        <p>Оспанов Б.В., +7 (000) 000-00-00</p>
                                        <p>Шубина А. М., +7 (000) 000-00-00</p>
                                    </td>
                                    <td>
                                        <div class="platform align-center skype">
                                            Skype
                                        </div>
                                    </td>
                                    <td class="status success">
                                        <span>Завершен</span>
                                    </td>
                                    <td class="table-dots">
                                        <div class="table-more">
                                            {{Icon iconName="three-dots"}}
                                        </div>
                                        <div class="table-drop">
                                            <div class="table-links">
                                                <div class="align-center table-link">
                                                    {{Icon iconName="pen"}}
                                                    <span>Редактировать</span>
                                                </div>
                                                <div class="align-center table-link">
                                                    {{Icon iconName="triangle-alert"}}
                                                    <span>Написать отзыв</span>
                                                </div>
                                                <div class="align-center table-link">
                                                    {{Icon iconName="delete"}}
                                                    <span>Отменить занятие</span>
                                                </div>
                                            </div>
                                            <div class="table-links">
                                                <div class="align-center table-link table-delete">
                                                    {{Icon iconName="trash"}}
                                                    <span>Удалить</span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>21.09.21</td>
                                    <td>10:00</td>
                                    <td class="table-direct">
                                        <span>GenU</span>
                                    </td>
                                    <td>1-5</td>
                                    <td>
                                        <p>Филимонова Эмма Тимофеевна, +7 (000) 000-00-00</p>
                                        <p>Королева Вероника Ивановна, +7 (000) 000-00-00</p>
                                    </td>
                                    <td class="table-volont">
                                        <p class="not-volont">НЕТ ВОЛОНТЕРА</p>
                                    </td>
                                    <td>
                                        <div class="platform align-center zoom">
                                            Zoom
                                        </div>
                                    </td>
                                    <td class="status error">
                                        <span>Отменен</span>
                                    </td>
                                    <td class="table-dots">
                                        <div class="table-more">
                                            {{Icon iconName="three-dots"}}
                                        </div>
                                        <div class="table-drop">
                                            <div class="table-links">
                                                <div class="align-center table-link">
                                                    {{Icon iconName="pen"}}
                                                    <span>Редактировать</span>
                                                </div>
                                                <div class="align-center table-link">
                                                    {{Icon iconName="triangle-alert"}}
                                                    <span>Написать отзыв</span>
                                                </div>
                                                <div class="align-center table-link">
                                                    {{Icon iconName="delete"}}
                                                    <span>Отменить занятие</span>
                                                </div>
                                            </div>
                                            <div class="table-links">
                                                <div class="align-center table-link table-delete">
                                                    {{Icon iconName="trash"}}
                                                    <span>Удалить</span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="align-center view-more">
                        <div class="align-center view-option">
                            <select class="nice-select">
                                <option value="10">10</option>
                                <option value="10">20</option>
                                <option value="10">30</option>
                            </select>
                            <div class="view-showed">Отображено 1 - 4 (всего 10 474 элементов)</div>
                        </div>

                        {{>pagination/pagination}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{>bottom/bottom}}
</body>

</html>