<!DOCTYPE html>
<html class="no-js" lang="ru">

<head>
    {{> head/head head.defaults}}
</head>

<body class="page">
    %=symbols=%

    <div class="align-top admin">

        {{>navbar/navbar-kurator}}

        <div class="admin-content">
            <div class="align-center admin-head">
                <span>Настройки</span>
            </div>
            <div class="admin-view">
                <div class="container-fluid">
                    <ul class="align-center admin-list">
                        <li class="admin-list-item active">Личная информация</li>
                        <li class="admin-list-item">Школа</li>
                        <li class="admin-list-item">Пароль</li>
                    </ul>
                    <div class="admin-tabs">
                        <form class="admin-tab active">
                            <div class="align-center form-row">
                                <div class="form-title">Дата рождения*</div>
                                <div class="align-center inputs">
                                    <div class="input">
                                        <select class="nice-select">
                                            <option value="0" class="disabled selected">День</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                        </select>
                                    </div>
                                    <div class="input">
                                        <select class="nice-select">
                                            <option value="0" class="disabled selected">Месяц</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                        </select>
                                    </div>
                                    <div class="input">
                                        <select class="nice-select">
                                            <option value="0" class="disabled selected">Год</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="align-center form-row">
                                <div class="form-title">Пол*</div>
                                <div class="align-center">
                                    <label class="align-center radio">
                                        <input type="radio" name="sex">
                                        <span class="align-center radio-box"></span>
                                        <span class="radio-text">Мужской</span>
                                    </label>
                                    <label class="align-center radio">
                                        <input type="radio" name="sex">
                                        <span class="align-center radio-box"></span>
                                        <span class="radio-text">Женский</span>
                                    </label>
                                </div>
                            </div>

                            <div class="align-center form-row">
                                <div class="form-title">Фамилия*</div>
                                <div class="input">
                                    <input type="text" placeholder="Укажите свою фамилию">
                                </div>
                            </div>

                            <div class="align-center form-row">
                                <div class="form-title">Имя*</div>
                                <div class="input">
                                    <input type="text" placeholder="Укажите свое имя">
                                </div>
                            </div>

                            <div class="align-center form-row">
                                <div class="form-title">Отчество*</div>
                                <div class="inputs">
                                    <div class="input">
                                        <input type="text" placeholder="Укажите свое отчество">
                                    </div>
                                    <label class="align-center radio">
                                        <input type="checkbox" id="not-patronymic">
                                        <span class="align-center radio-box"></span>
                                        <span class="radio-text">Нет отчества</span>
                                    </label>
                                </div>
                            </div>

                            <div class="align-center form-row">
                                <div class="form-title">Телефон*</div>
                                <div class="input">
                                    <input type="text" placeholder="Введите телефон">
                                </div>
                            </div>

                            <div class="align-center form-row">
                                <div class="form-title">Email*</div>
                                <div class="input">
                                    <input type="text" placeholder="example@mail.com">
                                </div>
                            </div>

                            <div class="align-center form-row">
                                <div class="form-title">ИИН</div>
                                <div class="input">
                                    <input type="text" placeholder="Введите ваш ИИН">
                                </div>
                            </div>

                            <div class="align-center form-row">
                                <div class="form-title">Часовой пояс</div>
                                <div class="input">
                                    <select class="nice-select">
                                        <option value="0" class="disabled selected">Время Нур-Султан</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                    </select>
                                </div>
                            </div>

                            <div class="align-center form-row">
                                <div class="form-title">Язык обучения</div>
                                <div class="input">
                                    <select class="nice-select">
                                        <option value="0" class="disabled selected">Русский</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                    </select>
                                </div>
                            </div>

                            <button class="btn btn-blue">сохранить</button>
                        </form>
                        <div class="admin-tab">
                            <div class="align-center school-list">
                                <div class="school-list-title">Список ваших школ</div>
                                <button type="button" class="btn btn-blue" id="add-school">+ Добавить школу</button>
                            </div>

                            <form class="school-item">
                                <div class="align-center form-row">
                                    <div class="form-title">Наименование школы</div>
                                    <div class="input">
                                        <select class="nice-select">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="align-center form-row">
                                    <div class="form-title">Телефон школы</div>
                                    <div class="input">
                                        <input type="text">
                                    </div>
                                </div>

                                <div class="align-center form-row">
                                    <div class="form-title">Область</div>
                                    <div class="input">
                                        <select class="nice-select">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                        </select>
                                    </div>
                                </div>
                                
                                <div class="align-center form-row">
                                    <div class="form-title">Населенный пункт</div>
                                    <div class="input">
                                        <select class="nice-select">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                        </select>
                                    </div>
                                </div>
                                
                                <div class="align-center form-row">
                                    <div class="form-title">Адрес школы</div>
                                    <div class="input">
                                        <input type="text">
                                    </div>
                                </div>
                                
                                <div class="align-center form-row">
                                    <div class="form-title">Почтовый индекс</div>
                                    <div class="input">
                                        <input type="text">
                                    </div>
                                </div>

                                <button class="btn btn-blue">сохранить</button>
                            </form>
                        </div>
                        <form class="admin-tab">
                            <div class="align-center form-row">
                                <div class="form-title">Старый пароль</div>
                                <div class="input">
                                    <input type="text" placeholder="Старый пароль">
                                </div>
                            </div>

                            <div class="align-center form-row">
                                <div class="form-title">Новый пароль</div>
                                <div class="input">
                                    <input type="text" placeholder="Новый пароль">
                                </div>
                            </div>

                            <div class="align-center form-row">
                                <div class="form-title">Повторите пароль</div>
                                <div class="input">
                                    <input type="text" placeholder="Повторите пароль">
                                </div>
                            </div>

                            <button class="btn btn-blue">сохранить</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{>bottom/bottom}}

</script>   
</body>

</html>