<!DOCTYPE html>
<html class="no-js" lang="ru">

<head>
    {{> head/head head.defaults}}
</head>

<body class="page">
    %=symbols=%

    <div class="align-top admin">

        {{>navbar/navbar-kurator}}

        <div class="admin-content">
            <div class="align-center admin-head">
                <span>Учебные классы</span>
            </div>
            <div class="admin-view">
                <div class="container-fluid">
                    <div class="kurator-empty">
                        {{Icon iconName="timer"}}
                        <div class="empty-title">У вас нет ни одного класса</div>
                        <div class="empty-text">Добавьте учебные классы</div>
                        <a href="#" class="btn btn-blue">Добавить класс</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{>bottom/bottom}}
</body>

</html>