<!DOCTYPE html>
<html class="no-js" lang="ru">

<head>
    {{> head/head head.defaults}}
</head>

<body class="page">
    %=symbols=%

    {{>header/header}}

    <div class="auth">
        <div class="wrapper">
            <div class="align-center title auth-text">
                <a href="/login.html" class="active">Войти</a> или <a href="/register.html">Зарегистрироваться</a>
            </div>

            <form class="auth-block auth-login">
                <div class="input">
                    <input type="text" placeholder="Ваш Email">
                </div>
                <div class="input">
                    <input type="text" placeholder="Пароль">
                </div>

                <div class="align-center auth-row">
                    <label class="align-center check">
                        <input type="checkbox">
                        <span class="align-center check-box"></span>
                        <span class="check-text">Запомнить меня</span>
                    </label>
                    <a href="#" class="text forgot">Забыли пароль?</a>
                </div>

                <button class="btn btn-bg-blue">
                    <span>войти</span>
                </button>
            </form>
        </div>
    </div>

    {{>footer/footer}}

    {{>bottom/bottom}}
</body>

</html>