<!DOCTYPE html>
<html class="no-js" lang="ru">

<head>
    {{> head/head head.defaults}}
</head>

<body class="page">
    %=symbols=%

    {{>header/header}}

    <div class="slider unicef-kz">
        <div class="swiper-slide">
            <img src="%=static=%img/general/plastic.png" alt="">
            <div class="slider-content">
                <div class="slider-title">
                    Направление <br> Plastic Free
                </div>
                <div class="text slider-text">
                    Волонтерский проект «Plastic Free» преследует цель привить детям от 7 до 10 лет культуру минимизации использования пластика.
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="wrapper">
            <div class="align-top content-row">
                <div class="content-left">
                    <div class="content-img">
                        <img src="%=static=%img/general/plastic-photo.png" alt="">
                    </div>
                    <div class="align-center content-socials">
                        <a href="/" class="content-social">
                            {{Icon iconName="vk-gray"}}
                        </a>
                        <a href="/" class="content-social">
                            {{Icon iconName="insta-gray"}}
                        </a>
                        <a href="/" class="content-social">
                            {{Icon iconName="ok"}}
                        </a>
                    </div>
                </div>
                <div class="content-right">
                    <h3 class="subtitle">О проекте</h3>
                    <div class="content-info">
                        <div class="align-top content-info-item">
                            {{Icon iconName="map-pin"}}
                            <span>География проекта: Нур-Султан и Акмолинская область</span>
                        </div>
                        <div class="align-top content-info-item">
                            {{Icon iconName="user"}}
                            <span>Предполагаемый охват: 1500 школьников 7-10 лет</span>
                        </div>
                        <div class="align-top content-info-item">
                            {{Icon iconName="user"}}
                            <span>Обучение региональных волонтеров, которые будут вести уроки в своих населенных пунктах</span>
                        </div>
                    </div>
                    <div class="content-text">
                        <h3 class="subtitle">Почему именно привитие культуры Plastic free?</h3>
                        <div class="text">
                            <p>
                                Во многих населенных пункта Казахстана не имеются центров сдачи сортированного мусора и перерабатываемых заводов, поэтому культура сортировки может демотивировать и утратить свой смысл, если всё попадет на общий мусорный полигон.
                            </p>
                            <p>
                                Культура уменьшения использования пластика очень проста и доступна для каждого, особенно для детей, они будут больше чувствовать свою причастность.
                            </p>
                            <p>
                                Школьники будут начинать от одной эко-привычки, как замена одноразовых бутылок и пакетов на многоразовые.
                            </p>
                            <p>
                                При посещении школы, магазинов и многих других общественных мест, возможно, дети будут делиться своим новым опытом, незаметно становясь амбассодорами культуры.
                            </p>
                            <p>
                                Также дома они могут прививать эти привычки родителям. 
                                Мы начинаем с одной эко-привычки, присоединяйтесь!
                            </p>
                        </div>
                    </div>

                    <a href="#" class="btn btn-bordered-light">Поделиться</a>
                </div>
            </div>
        </div>
    </div>

    <div class="section-gray">
        <div class="wrapper">
            <div class="align-top content-row">
                <div class="content-left"></div>
                <div class="content-right">
                    <div class="content-block">
                        <div class="align-center content-block-head">
                            <img src="%=static=%img/general/woman.png" alt="">
                            <div class="text">
                                Проект предполагает проведение классных чатов в школах на тему "Минимизация использования пластика"
                            </div>
                        </div>

                        <ul class="content-block-list">
                            <li>Кто такой волонтер?</li>
                            <li>Знакомимся с ЮНИСЕФ Что такое пластик?</li>
                            <li>Откуда он берется и как к нам попадает?</li>
                            <li>Куда попадает пластик после использования?</li>
                            <li>Какой вред несет пластик?</li>
                            <li>А как можно по-другому?</li>
                            <li>Как насчет одной эко-привычки?</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{>gallery/gallery}}
    
    {{>footer/footer}}

    {{>bottom/bottom}}
</body>

</html>