<!DOCTYPE html>
<html class="no-js" lang="ru">

<head>
    {{> head/head head.defaults}}
</head>

<body class="page">
    %=symbols=%

    {{>header/header}}

    <div class="auth">
        <div class="wrapper">
            <div class="align-center title auth-text">
                <a href="/login.html">Войти</a> или <a href="/register.html" class="active">Зарегистрироваться</a>
            </div>

            <div class="auth-block auth-register">
                <div class="align-center auth-header">
                    <ul class="align-center auth-list">
                        <li class="active">
                            Волонтер
                        </li>
                        <li>
                            Куратор
                        </li>
                    </ul>
                </div>

                <!-- Поля для волонтеров  -->
                <form class="auth-body active">
                    <div class="auth-step">
                        <div class="align-top auth-inputs">
                            <div class="input">
                                <div class="input-placeholder">Фамилия*</div>
                                <input type="text" placeholder="Введите фамилию">
                            </div>
                            <div class="input">
                                <div class="input-placeholder">Имя*</div>
                                <input type="text" placeholder="Введите имя">
                            </div>
                            <div class="input">
                                <div class="input-placeholder">Область*</div>
                                <select class="nice-select">
                                    <option value="0" disabled selected>Выберите область</option>
                                    <option value="1">Павлодарская</option>
                                    <option value="2">Павлодарская</option>
                                    <option value="3">Павлодарская</option>
                                    <option value="4">Павлодарская</option>
                                </select>
                            </div>
                            <div class="input">
                                <div class="input-placeholder">Населенный пункт*</div>
                                <select class="nice-select">
                                    <option value="0" disabled selected>Ваш населенный пункт</option>
                                    <option value="1">Павлодарская</option>
                                    <option value="2">Павлодарская</option>
                                    <option value="3">Павлодарская</option>
                                    <option value="4">Павлодарская</option>
                                </select>
                            </div>
                            <div class="input">
                                <div class="input-placeholder">Почтовый индекс*</div>
                                <input type="text" placeholder="Введите почтовый индекс">
                            </div>
                            <div class="input">
                                <div class="input-placeholder">ИИН</div>
                                <input type="text" placeholder="Введите ваш ИИН">
                            </div>
                            <div class="input">
                                <div class="input-placeholder">Телефон*</div>
                                <input type="text" placeholder="Введите ваш номер телефона">
                            </div>
                            <div class="input">
                                <div class="input-placeholder">Дата рождения*</div>
                                <div class="align-center selects">
                                    <div class="select">
                                        <select class="nice-select">
                                            <option value="0" disabled selected>День</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                        </select>
                                    </div>
                                    <div class="select">
                                        <select class="nice-select">
                                            <option value="0" disabled selected>Месяц</option>
                                            <option value="1">Январь</option>
                                            <option value="2">Февраль</option>
                                            <option value="3">Март</option>
                                            <option value="4">Апрель</option>
                                        </select>
                                    </div>
                                    <div class="select">
                                        <select class="nice-select">
                                            <option value="0" disabled selected>Год</option>
                                            <option value="1">1997</option>
                                            <option value="2">1998</option>
                                            <option value="3">1999</option>
                                            <option value="4">2000</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="input">
                                <div class="input-placeholder">Язык обучения</div>
                                <select class="nice-select">
                                    <option value="0" selected>Русский</option>
                                    <option value="1">Русский</option>
                                    <option value="2">Русский</option>
                                    <option value="3">Русский</option>
                                    <option value="4">Русский</option>
                                </select>
                            </div>
                            <div class="input">
                                <div class="input-placeholder">Направления*</div>
                                <select class="nice-select">
                                    <option value="0" selected disabled>Выберите направление</option>
                                    <option value="1">Русский</option>
                                    <option value="2">Русский</option>
                                    <option value="3">Русский</option>
                                    <option value="4">Русский</option>
                                </select>
                            </div>
                            <div class="input">
                                <div class="input-placeholder">Часовой пояс:</div>
                                <select class="nice-select">
                                    <option value="0" selected disabled>Время Нур-Султан</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                </select>
                            </div>
                            <div class="input">
                                <div class="input-placeholder">Пол*</div>
                                <div class="align-center radios">
                                    <label class="align-center radio">
                                        <input type="radio" name="sex">
                                        <span class="radio-box"></span>
                                        <span class="radio-text">Мужской</span>
                                    </label>
                                    <label class="align-center radio">
                                        <input type="radio" name="sex">
                                        <span class="radio-box"></span>
                                        <span class="radio-text">Женский</span>
                                    </label>
                                </div>
                            </div>
                            <div class="input">
                                <div class="input-placeholder">Эл. почта, ваш будущий логин для входа*</div>
                                <input type="text">
                            </div>
                            <div class="input">
                                <div class="input-placeholder">Telegram для уведомлений</div>
                                <input type="text">
                            </div>
                            <div class="input">
                                <div class="input-placeholder">Придумайте пароль*</div>
                                <input type="text">
                            </div>
                            <div class="input">
                                <div class="input-placeholder">Повторите пароль*</div>
                                <input type="text">
                            </div>
                        </div>
                    </div>

                    <button class="btn btn-blue">Зарегистрироваться как волонтер</button>

                    <label class="align-top check">
                        <input type="checkbox">
                        <span class="align-center check-box"></span>
                        <span class="check-text">Нажимая на кнопку “Зарегистрироваться”, я принимаю условия Политики конфиденциальности и даю своё согласие свое согласие на получение рассылки с новостями.</span>
                    </label>
                </form>

                <!-- Поля для кураторов  -->
                <form class="auth-body">
                    <div class="auth-step">
                        <div class="subtitle">Школа</div>

                        <div class="align-top auth-inputs">
                            <div class="input full">
                                <div class="input-placeholder">Наименование школы*</div>
                                <input type="text" placeholder="Выберите из списка вашу школу или введите наименование">
                            </div>
                            <div class="input">
                                <div class="input-placeholder">Адрес*</div>
                                <input type="text" placeholder="Адрес школы">
                            </div>
                            <div class="input">
                                <div class="input-placeholder">Почтовый индекс*</div>
                                <input type="text" placeholder="Ваш почтовый индекс">
                            </div>
                            <div class="input">
                                <div class="input-placeholder">Область*</div>
                                <select class="nice-select">
                                    <option value="0" disabled selected>Выберите область</option>
                                    <option value="1">Павлодарская</option>
                                    <option value="2">Павлодарская</option>
                                    <option value="3">Павлодарская</option>
                                    <option value="4">Павлодарская</option>
                                </select>
                            </div>
                            <div class="input">
                                <div class="input-placeholder">Населенный пункт*</div>
                                <select class="nice-select">
                                    <option value="0" disabled selected>Выберите населенный пункт</option>
                                    <option value="1">Павлодарская</option>
                                    <option value="2">Павлодарская</option>
                                    <option value="3">Павлодарская</option>
                                    <option value="4">Павлодарская</option>
                                </select>
                            </div>
                            <div class="input">
                                <div class="input-placeholder">Телефон школы*</div>
                                <input type="text">
                            </div>
                            <div class="input">
                                <div class="input-placeholder">Телефон Завуча*</div>
                                <input type="text">
                            </div>
                        </div>
                    </div>

                    <div class="auth-step">
                        <div class="subtitle">Контакты куратора</div>

                        <div class="align-top auth-inputs">
                            <div class="input">
                                <div class="input-placeholder">Телефон*</div>
                                <input type="text">
                            </div>
                            <div class="input">
                                <div class="input-placeholder">Дополнительный телефон</div>
                                <input type="text">
                            </div>
                            <div class="input">
                                <div class="input-placeholder">Эл. почта, ваш будущий логин для входа*</div>
                                <input type="text">
                            </div>
                            <div class="input">
                                <div class="input-placeholder">Telegram для уведомлений</div>
                                <input type="text">
                            </div>
                            <div class="input">
                                <div class="input-placeholder">Придумайте пароль*</div>
                                <input type="text">
                            </div>
                            <div class="input">
                                <div class="input-placeholder">Повторите пароль*</div>
                                <input type="text">
                            </div>
                        </div>
                    </div>

                    <button class="btn btn-blue">Зарегистрироваться как куратор</button>

                    <label class="align-top check">
                        <input type="checkbox">
                        <span class="align-center check-box"></span>
                        <span class="check-text">Нажимая на кнопку “Зарегистрироваться”, я принимаю условия Политики конфиденциальности и даю своё согласие свое согласие на получение рассылки с новостями.</span>
                    </label>
                </form>
            </div>
        </div>
    </div>
    
    {{>footer/footer}}

    {{>bottom/bottom}}
</body>

</html>