<!DOCTYPE html>
<html class="no-js" lang="ru">

<head>
    {{> head/head head.defaults}}
</head>

<body class="page">
    %=symbols=%

    {{>header/header}}

    <div class="slider unicef-kz">
        <div class="swiper-slide">
            <img src="%=static=%img/general/schools.png" alt="">
            <div class="slider-content">
                <div class="slider-title">
                    Школы
                </div>
                <div class="text slider-text">
                    Список школ, где преподают волонтеры Юнисеф
                </div>
            </div>
        </div>
    </div>

    <div class="layout">
        <div class="wrapper">
            <div class="align-top layout-row">
                <div class="filters">
                    <div class="subtitle filters-title">Фильтры</div>
                    <form class="filters-form">
                        <div class="input">
                            <select class="nice-select">
                                <option value="0" selected disabled>Выберите область</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                        </div>
                        <div class="input">
                            <select class="nice-select">
                                <option value="0" selected disabled>Населенный пункт</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                        </div>
                        <div class="input">
                            <select class="nice-select">
                                <option value="0" selected disabled>Направление</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                        </div>
                        <div class="input">
                            <input type="text" placeholder="Наименование">
                        </div>

                        <div class="filters-sort">
                            <div class="sort-title">Сортировка</div>
                            <div class="sort-links">
                                <a href="" class="sort-link active">По дате регистрации</a>
                                <a href="" class="sort-link">По рейтингу</a>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="schools">
                    <div class="school">
                        <div class="school-title">
                            ГУ «Школа – гимназия №4 имени Жамбыла Жабаева» Управления образования
                        </div>
                        <div class="align-top school-info">
                            <div class="school-place">
                                010000 г. Астана, район Алматы, ЖМ «Мичурино», ул.Алаколь, 18   
                            </div>
                            <a href="tel:+77014153161" class="school-phone">+7 701 415 31 61</a>
                            <div class="school-user">Координатор Кирилл Осин </div>
                        </div>
                    </div>
                    <div class="school">
                        <div class="school-title">
                            ГУ «Гимназия № 5» Управления образования
                        </div>
                        <div class="align-top school-info">
                            <div class="school-place">
                                010000 г. Астана, район Алматы, ж/м Күйгенжар ул. Жанатұрмыс 6/2       
                            </div>
                            <a href="tel:+77014153161" class="school-phone">+7 702 936 46 36</a>
                            <div class="school-user">Координатор Айгуль Жумагазиева</div>
                        </div>
                    </div>
                    <div class="school">
                        <div class="school-title">
                            ГУ «Средняя школа №8» Управления образования
                        </div>
                        <div class="align-top school-info">
                            <div class="school-place">
                                010000 г. Астана, район Алматы, пр. Абылайхан, 25/3     
                            </div>
                            <a href="tel:+77014153161" class="school-phone">+7 705 888 57 88</a>
                            <div class="school-user">Координатор Григорий Ким</div>
                        </div>
                    </div>
                    <div class="school">
                        <div class="school-title">
                            ГУ «Школа-гимназия №10» Управления образования
                        </div>
                        <div class="align-top school-info">
                            <div class="school-place">
                                010000 г. Астана, район Алматы, ул.Петрова 11     
                            </div>
                            <a href="tel:+77014153161" class="school-phone">+7 702 146 65 50</a>
                            <div class="school-user">Координатор Майя Шаменова </div>
                        </div>
                    </div>
                    <div class="school">
                        <div class="school-title">
                            ГУ «Школа-гимназия №31»
                        </div>
                        <div class="align-top school-info">
                            <div class="school-place">
                                010000 г. Астана, район Алматы, Ул. Кенесары,49    
                            </div>
                            <a href="tel:+77014153161" class="school-phone">+7 777 418 58 39</a>
                            <div class="school-user">Координатор Алексагдра Хегай</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{>footer/footer}}

    {{>bottom/bottom}}
</body>

</html>