<!DOCTYPE html>
<html class="no-js" lang="ru">

<head>
    {{> head/head head.defaults}}
</head>

<body class="page">
    %=symbols=%

    {{>header/header-only}}

    <div class="align-top response">
        <div class="response-image">
            <img src="%=static=%img/general/thanks-big.svg" alt="">
        </div>
        <div class="align-center response-center">
            <div class="response-icon">
                <img src="%=static=%img/general/thanks-small.svg" alt="">
            </div>
            <div class="response-info">
                <div class="response-thanks">Спасибо!</div>
                <div class="title">Ваша анкета отправлена</div>
                <div class="text">
                    В ближайшее время с вами свяжется координатор
                </div>
                <a href="index.html" class="btn btn-blue">на главную</a>
            </div>
        </div>
    </div>

    {{>bottom/bottom}}
</body>

</html>