<!DOCTYPE html>
<html class="no-js" lang="ru">

<head>
    {{> head/head head.defaults}}
</head>

<body class="page">
    %=symbols=%

    {{>header/header-only}}

    <div class="align-top response">
        <div class="response-image">
            <img src="%=static=%img/general/unavailable-big.svg" alt="">
        </div>
        <div class="align-center response-center">
            <div class="response-icon">
                <img src="%=static=%img/general/unavailable-small.svg" alt="">
            </div>
            <div class="response-info">
                <div class="title">Портал недоступен</div>
                <div class="text">
                    Мы проводим профилактические работы — обновляем сервис, чтобы сайт работал быстрее и лучше. Извините за неудобства. 
                </div>
                <div class="text">
                    Сервис начнет работать в 15:00 по времени GMT 6+
                </div>
            </div>
        </div>
    </div>

    {{>bottom/bottom}}
</body>

</html>