<!DOCTYPE html>
<html class="no-js" lang="ru">

<head>
    {{> head/head head.defaults}}
</head>

<body class="page">
    %=symbols=%

    {{>header/header}}

    <div class="slider unicef-kz">
        <div class="swiper-slide">
            <img src="%=static=%img/general/unicef-kz.png" alt="">
            <div class="slider-content">
                <div class="slider-title">
                    ЮНИСЕФ Казахстан 
                </div>
                <div class="text slider-text">
                    Узнайте, как мы поддерживаем детей 
                    и защищаем их права 
                </div>
            </div>
        </div>
    </div>

    <div class="info">
        <div class="wrapper">
            <div class="align-top info-row">
                <div class="about">
                    <h3 class="subtitle">О нас</h3>
                    <div class="text">Детский фонд ООН (ЮНИСЕФ) работает в 190 странах мира и территориях. ЮНИСЕФ наделен мандатом спасать жизни детей, отстаивать их права, способствовать развитию их способностей и продвижению благополучия каждого ребенка.</div>
                    <b>
                        Обеспечение равных возможностей для детей – одна из важнейших задач для ЮНИСЕФ как в Казахстане, так и во всем мире.
                    </b>
                </div>

                <div class="mission">
                    <h3 class="subtitle">Миссия фонда</h3>
                    <div class="text">
                        <p>Каждый ребёнок имеет право на счастливое детство, наполненное родительской заботой, безопасностью и внимательным отношением к его здоровью и развитию. ЮНИСЕФ борется за права тех детей, которые, по разным причинам, лишены возможности расти и развиваться наравне с другими.</p>
                        <p>ЮНИСЕФ был основан в 1946 году как Международный чрезвычайный детский фонд ООН, чтобы помочь детям, пострадавшим во время Второй мировой войны. Предполагалось, что фонд будет работать временно, однако необходимость в работе организации не снижалась, и меньше чем через 10 лет после создания, круг обязанностей ЮНИСЕФ был расширен, а название было изменено на Детский фонд ООН.
                        </p>
                        <p>Объединяя усилия партнёров по всему миру, ЮНИСЕФ направляет их на поддержку наиболее уязвимых детей и семей, находящихся в трудных жизненных ситуациях.
                        </p>
                    </div>
                </div>
            </div>

            <div class="align-top info-row">
                <div class="activity">
                    <h3 class="subtitle">Миссия фонда</h3>
                    <div class="text">
                        <p>16 февраля 1994 года независимый Казахстан подписал один из первых международных документов - Конвенцию о правах ребенка.</p>
                        <p>В феврале 1992 года Детский фонд ООН ЮНИСЕФ организовал первую миссию в молодую независимую республику для проведения оценки положения детей Казахстана. Последовавший за этим проект по иммунизации всех детей против кори и полиомиелита стал первым для ЮНИСЕФ в Казахстане. </p>
                        <p>За более чем 20 лет своей деятельности в Казахстане мандат ЮНИСЕФ значительно изменился: от поставки вакцин, лекарств и другой материальной помощи, мы перешли к укреплению потенциала общества и внедрению передовых социальных технологий в наилучших интересах детей и семей.</p>
                        <p>ЮНИСЕФ в тесном сотрудничестве с Правительством, местными органами управления и гражданским обществом работает над улучшением положения детей в Казахстане.</p>
                        <p>В настоящее время реализуется очередная пятилетняя программа сотрудничества Правительства Казахстана и ЮНИСЕФ на 2016-2020 годы, в основу которой положены национальные приоритеты и стратегии. В полной мере также учитываются международные обязательства страны, включая достижение Целей ООН в области устойчивого развития. Создание института Уполномоченного по правам ребенка в Республике Казахстан также открыло новые возможности для координации деятельности всех организаций, занимающихся вопросами детства.</p>
                    </div>
                </div>
                <img src="%=static=%img/general/activity.png" alt="">
            </div>
        </div>
    </div>

    {{>direction/direction}}
    
    {{>footer/footer}}

    {{>bottom/bottom}}
</body>

</html>