<!DOCTYPE html>
<html class="no-js" lang="ru">

<head>
    {{> head/head head.defaults}}
</head>

<body class="page">
    %=symbols=%

    <div class="align-top admin">

        {{>navbar/navbar-volont}}

        <div class="admin-content">
            <div class="align-center admin-head">
                <span>База знаний</span>
                <a href="#" class="align-center back">
                    {{Icon iconName="back"}}
                    <span>Вернуться назад</span>
                </a>
            </div>
            <div class="admin-view">
                <div class="container-fluid mw-1100">
                    {{> bread/bread }}

                    <div class="full-art">
                        <h2>Как организовать волонтерскую деятельность: от теории к практике</h2>
                        <p>
                            "Планируется, что с нового учебного года студентам вузов, которые будут заниматься волонтерской деятельностью в детских домах, спецшколах, домах престарелых и других учреждениях, на 30% будет повышена стипендия", - сообщил министр информации и общественного развития РК Даурен Абаев.
                        </p>
                        <p>
                            Кроме того, в стране появится волонтерское движение "Студенческая инициатива" и будет сформирована база молодых волонтеров.
                        </p>
                        <p>
                            Глава государства сообщил, что эпидемиологическая ситуация остается нестабильной, ежедневно фиксируется до 30 летальных случаев.
                        </p>
                        <img src="%=static=%img/general/vac.png" alt="">
                        <p>
                            Все это происходит на фоне снижения темпов вакцинации. Охват населения за 9 месяцев составил около 40 процентов. Большая часть стран приступила к <b>ревакцинации населения</b>. С учетом того, что мы начали активную кампанию в марте, сроки ревакцинации подошли и у нас, правительству и акимам нужно приступить к кампании ревакцинации населения", - сказал Президент на совещании по развитию моногородов.
                        </p>
                        <p>

                            Напомним, Минздрав определил нормативы ревакцинации в стране. Ее начало запланировано на III декаду ноября 2021 года. На данном этапе ревакцинация не является обязательной, не получивших третью дозу вакцины ограничивать не планируется.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{>bottom/bottom}}
</body>

</html>