<!DOCTYPE html>
<html class="no-js" lang="ru">

<head>
    {{> head/head head.defaults}}
</head>

<body class="page">
    %=symbols=%

    <div class="align-top admin">

        {{>navbar/navbar-volont}}

        <div class="admin-content">
            <div class="align-center admin-head">
                <span>Главная</span>
            </div>
            <div class="admin-view">
                <div class="container-fluid">
                    <div class="volont-slider">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="volont-img">
                                        <img src="%=static=%img/general/illustration-1.png" alt="">
                                    </div>
                                    <div class="volont-title">Как работает платформа ЮНИСЕФ?</div>
                                    <div class="volont-text">Давайте по шагам разберемся вместе</div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="volont-img">
                                        <img src="%=static=%img/general/illustration-2.png" alt="">
                                    </div>
                                    <div class="volont-title">Как устроены занятия?</div>
                                    <div class="volont-text">В разделе «Расписание занятий» вы можете подать заявку на проведение урока в любой школе страны при условии прохождения обучения по одному из направлений</div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="volont-img">
                                        <img src="%=static=%img/general/illustration-3.png" alt="">
                                    </div>
                                    <div class="volont-title">Как провести урок в школе?</div>
                                    <div class="volont-text">Чтобы провести урок, нажмите на него, затем на кнопку «Провести».</div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="volont-img">
                                        <img src="%=static=%img/general/illustration-4.png" alt="">
                                    </div>
                                    <div class="volont-title">Раздел Статистика</div>
                                    <div class="volont-text">Здесь вы можете сформировать отчет, чтобы просмотреть посещаемость и обратную связь от преподавателей</div>
                                </div>
                            </div>

                            <div class="volont-pagination"></div>
                            <div class="align-center volont-next">
                                <div class="align-center volont-circle">
                                    {{Icon iconName="arrow-right"}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{>bottom/bottom}}
</body>

</html>