<!DOCTYPE html>
<html class="no-js" lang="ru">

<head>
    {{> head/head head.defaults}}
</head>

<body class="page">
    %=symbols=%

    <div class="align-top admin">

        {{>navbar/navbar-volont}}

        <div class="admin-content">
            <div class="admin-head">Расписание занятий</div>
            <div class="admin-view">
                <div class="container-fluid">
                    <div class="align-center admin-info">
                        <div class="align-center input-column">
                            {{Icon iconName="column"}}
                        </div>
                        <div class="input input-date">
                            <div class="input-icon">
                                {{Icon iconName="calendar"}}
                            </div>
                            <input type='text' class='datepicker-here' data-language='ru' />
                        </div>
                        <div class="input">
                            <select class="nice-select">
                                <option disabled selected>Время</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                        </div>
                        <div class="input">
                            <select class="nice-select">
                                <option disabled selected>Школа</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                        </div>
                        <div class="input">
                            <select class="nice-select">
                                <option disabled selected>Класс</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                        </div>
                        <div class="input">
                            <select class="nice-select">
                                <option disabled selected>Направление</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                        </div>
                        <div class="input">
                            <select class="nice-select">
                                <option disabled selected>Платформа</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                        </div>
                        <div class="input">
                            <select class="nice-select">
                                <option disabled selected>Статус</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                        </div>
                        <div class="input">
                            <select class="nice-select">
                                <option disabled selected>Язык</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                        </div>
                    </div>

                    <div class="gray-block mw-1100">
                        {{Icon iconName="no-data"}}
                        <div class="empty-text">Пока нет запланированных занятий в школах</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{>bottom/bottom}}
</body>

</html>