<!DOCTYPE html>
<html class="no-js" lang="ru">

<head>
    {{> head/head head.defaults}}
</head>

<body class="page">
    %=symbols=%

    <div class="align-top admin">

        {{>navbar/navbar-volont}}

        <div class="admin-content">
            <div class="admin-head">Расписание занятий</div>
            <div class="admin-view">
                <div class="container-fluid">
                    <div class="align-center admin-info">
                        <div class="align-center input-column">
                            {{Icon iconName="column"}}
                        </div>
                        <div class="input input-date">
                            <div class="input-icon">
                                {{Icon iconName="calendar"}}
                            </div>
                            <input type='text' class='datepicker-here' data-language='ru' />
                        </div>
                        <div class="input">
                            <select class="nice-select">
                                <option disabled selected>Время</option>
                                <option value="1">10:00</option>
                                <option value="2">11:00</option>
                                <option value="2">11:00</option>
                                <option value="2">11:00</option>
                                <option value="2">11:00</option>
                                <option value="2">11:00</option>
                                <option value="2">11:00</option>
                                <option value="2">11:00</option>
                                <option value="2">11:00</option>
                                <option value="2">11:00</option>
                                <option value="2">11:00</option>
                                <option value="2">11:00</option>
                                <option value="2">11:00</option>
                                <option value="2">11:00</option>
                                <option value="2">11:00</option>
                            </select>
                        </div>
                        <div class="input">
                            <select class="school-select" data-placeholder="Школа">
                                <option selected disabled>Школа</option>
                                <option value="1">Школа 112312321</option>
                                <option value="2">Школа 2</option>
                                <option value="3">Школа 3</option>
                                <option value="4">Школа 4</option>
                                <option value="4">Школа 4</option>
                                <option value="4">Школа 4</option>
                                <option value="4">Школа 4</option>
                                <option value="4">Школа 4</option>
                                <option value="4">Школа 4</option>
                                <option value="4">Школа 4</option>
                                <option value="4">Школа 4</option>
                                <option value="4">Школа 4</option>
                            </select>
                            <!-- <select class="nice-select">
                                <option disabled selected>Школа</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select> -->
                        </div>
                        <div class="input">
                            <select class="nice-select">
                                <option disabled selected>Класс</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                        </div>
                        <div class="input">
                            <select class="nice-select">
                                <option disabled selected>Направление</option>
                                <option value="1">GenU</option>
                                <option value="2">Эко</option>
                            </select>
                        </div>
                        <div class="input">
                            <select class="sl2" multiple data-placeholder="Платформа">
                                <option value="1">Zoom</option>
                                <option value="2">Hangouts</option>
                                <option value="3">WhatsApp</option>
                                <option value="4">Skype</option>
                            </select>
                        </div>
                        <div class="input">
                            <select class="nice-select">
                                <option disabled selected>Статус</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                        </div>
                        <div class="input">
                            <select class="nice-select">
                                <option disabled selected>Язык</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                        </div>
                    </div>

                    <div class="table mw-1100">
                        <table>
                            <thead>
                                <tr>
                                    <th>
                                        <span>ID</span>
                                    </th>
                                    <th class="sort active"> <!-- .active - при сортировке -->
                                        <span>Дата</span>
                                    </th>
                                    <th class="sort">
                                        <span>Время</span>
                                    </th>
                                    <th class="sort">
                                        <span>Направление</span>
                                    </th>
                                    <th class="sort">
                                        <span>Язык</span>
                                    </th>
                                    <th class="sort">
                                        <span>Классы</span>
                                    </th>
                                    <th class="sort">
                                        <span>Платформа</span>
                                    </th>
                                    <th>
                                        <span>Волонтеры</span>
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>02</td>
                                    <td>21.09.21</td>
                                    <td>10:00 - 10:45</td>
                                    <td class="table-direct">
                                        <span>GenU</span>
                                    </td>
                                    <td>Русский</td>
                                    <td>1-5</td>
                                    <td>
                                        <div class="platform align-center zoom">
                                            Zoom
                                        </div>
                                    </td>
                                    <td>
                                        <div class="align-center table-user">
                                            <img src="%=static=%img/general/admin.png" alt="">
                                            <span>Федоров Алексей</span>
                                        </div>
                                    </td>
                                    <td class="status success">
                                        <span>Завершен</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>32</td>
                                    <td>21.09.21</td>
                                    <td>10:00 - 10:45</td>
                                    <td class="table-direct">
                                        <span>GenU</span>
                                    </td>
                                    <td>Русский</td>
                                    <td>1-5</td>
                                    <td>
                                        <div class="platform align-center skype">
                                            Skype
                                        </div>
                                    </td>
                                    <td>
                                    </td>
                                    <td class="status error">
                                        <span>Отменен</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>36</td>
                                    <td>21.09.21</td>
                                    <td>10:00 - 10:45</td>
                                    <td class="table-direct">
                                        <span>GenU</span>
                                    </td>
                                    <td>Русский</td>
                                    <td>1-5</td>
                                    <td>
                                        <div class="platform align-center whatsapp">
                                            WhatsApp
                                        </div>
                                    </td>
                                    <td>
                                        <div class="align-center table-user">
                                            <img src="%=static=%img/general/admin.png" alt="">
                                            <span>Федоров Алексей</span>
                                        </div>
                                    </td>
                                    <td class="status error">
                                        <span>Пропущен</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>36</td>
                                    <td>21.09.21</td>
                                    <td>10:00 - 10:45</td>
                                    <td class="table-direct">
                                        <span>GenU</span>
                                    </td>
                                    <td>Русский</td>
                                    <td>5-8</td>
                                    <td>
                                        <div class="platform align-center hangouts">
                                            Hangouts
                                        </div>
                                    </td>
                                    <td>
                                        <div class="align-center table-user">
                                            <img src="%=static=%img/general/admin.png" alt="">
                                            <span>Федоров Алексей</span>
                                        </div>
                                        <div class="align-center table-user">
                                            <img src="%=static=%img/general/admin.png" alt="">
                                            <span>Федоров Алексей</span>
                                        </div>
                                    </td>
                                    <td class="status waiting">
                                        <span>Запланирован</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{>bottom/bottom}}
</body>

</html>