<!DOCTYPE html>
<html class="no-js" lang="ru">

<head>
    {{> head/head head.defaults}}
</head>

<body class="page">
    %=symbols=%

    <div class="align-top admin">

        {{>navbar/navbar-volont}}

        <div class="admin-content">
            <div class="admin-head">База знаний</div>
            <div class="admin-view">
                <div class="container-fluid mw-1100">
                    <ul class="align-center data-list">
                        <li class="active">Статьи 7</li>
                        <li>Видео 5</li>
                        <li>Документы 3</li>
                    </ul>

                    <div class="data-tabs">
                        <div class="data-tab active">
                            <div class="align-top data-content">
                                <div class="data-items">
                                    <a href="#" class="align-center data-item">
                                        {{Icon iconName="file"}}
                                        <div class="data-title">Инструменты / Полезные функции</div>
                                    </a>
                                    <a href="#" class="align-center data-item">
                                        {{Icon iconName="file"}}
                                        <div class="data-title">Рандомизация сообщений / Спинтакс</div>
                                    </a>
                                    <a href="#" class="align-center data-item">
                                        {{Icon iconName="file"}}
                                        <div class="data-title">Загрузка номеров с именами или параметрами</div>
                                    </a>
                                    <a href="#" class="align-center data-item">
                                        {{Icon iconName="file"}}
                                        <div class="data-title">Работа через прокси</div>
                                    </a>
                                    <a href="#" class="align-center data-item">
                                        {{Icon iconName="file"}}
                                        <div class="data-title">Основные настройки / Лимиты / Таймауты / Эмуляторы</div>
                                    </a>
                                    <a href="#" class="align-center data-item">
                                        {{Icon iconName="file"}}
                                        <div class="data-title">Как сохранить аккаунт в программу?</div>
                                    </a>
                                    <a href="#" class="align-center data-item">
                                        {{Icon iconName="file"}}
                                        <div class="data-title">Работа с аккаунтами</div>
                                    </a>
                                    <a href="#" class="align-center data-item">
                                        {{Icon iconName="file"}}
                                        <div class="data-title">Рассылка личных сообщений</div>
                                    </a>
                                    <a href="#" class="align-center data-item">
                                        {{Icon iconName="file"}}
                                        <div class="data-title">Создание / Редактирование рассылки</div>
                                    </a>
                                    <a href="#" class="align-center data-item">
                                        {{Icon iconName="file"}}
                                        <div class="data-title">Особенности многопоточной работы</div>
                                    </a>
                                    <a href="#" class="align-center data-item">
                                        {{Icon iconName="file"}}
                                        <div class="data-title">Алгоритм рассылки</div>
                                    </a>
                                </div>
                                <form class="data-ctg">
                                    <div class="data-ctg-title">Категория</div>
                                    <div class="data-labels">
                                        <label class="align-center check">
                                            <input type="checkbox">
                                            <span class="align-center check-box"></span>
                                            <span class="check-text">Волонтерство</span>
                                        </label>
                                        <label class="align-center check">
                                            <input type="checkbox">
                                            <span class="align-center check-box"></span>
                                            <span class="check-text">Направление волонтерства</span>
                                        </label>
                                        <label class="align-center check">
                                            <input type="checkbox">
                                            <span class="align-center check-box"></span>
                                            <span class="check-text">Составы волонтерства</span>
                                        </label>
                                        <label class="align-center check">
                                            <input type="checkbox">
                                            <span class="align-center check-box"></span>
                                            <span class="check-text">Документы</span>
                                        </label>
                                        <label class="align-center check">
                                            <input type="checkbox">
                                            <span class="align-center check-box"></span>
                                            <span class="check-text">Конкурсы и премии</span>
                                        </label>
                                        <label class="align-center check">
                                            <input type="checkbox">
                                            <span class="align-center check-box"></span>
                                            <span class="check-text">Другое</span>
                                        </label>
                                    </div>

                                    <div class="align-center data-buttons">
                                        <button type="button" class="btn clear">Сбросить</button>
                                        <button type="submit" class="btn btn-blue">Показать</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="data-tab">
                            <div class="align-top data-content">
                                <div class="row articles">
                                    <div class="article">
                                        <div class="article-image">
                                            <img src="%=static=%img/general/article.png" alt="">
                                            <a href="https://www.youtube.com/embed/bXWJNkD9KBU" data-rel="media" class="article-play">
                                                {{Icon iconName="play"}}
                                            </a>
                                        </div>
                                        <div class="article-body">
                                            <div class="align-center article-date">
                                                {{Icon iconName="calendar"}}
                                                <span>28 ноября</span>
                                            </div>
                                            <div class="article-title">Студентам-волонтерам повысят стипендию на 30% в Казахстане</div>
                                        </div>
                                    </div>
                                    <div class="article">
                                        <div class="article-image">
                                            <img src="%=static=%img/general/article.png" alt="">
                                            <a href="" data-rel="media" class="article-play">
                                                {{Icon iconName="play"}}
                                            </a>
                                        </div>
                                        <div class="article-body">
                                            <div class="align-center article-date">
                                                {{Icon iconName="calendar"}}
                                                <span>28 ноября</span>
                                            </div>
                                            <div class="article-title">Студентам-волонтерам повысят стипендию на 30% в Казахстане</div>
                                        </div>
                                    </div>
                                    <div class="article">
                                        <div class="article-image">
                                            <img src="%=static=%img/general/article.png" alt="">
                                            <a href="" data-rel="media" class="article-play">
                                                {{Icon iconName="play"}}
                                            </a>
                                        </div>
                                        <div class="article-body">
                                            <div class="align-center article-date">
                                                {{Icon iconName="calendar"}}
                                                <span>28 ноября</span>
                                            </div>
                                            <div class="article-title">Студентам-волонтерам повысят стипендию на 30% в Казахстане</div>
                                        </div>
                                    </div>
                                    <div class="article">
                                        <div class="article-image">
                                            <img src="%=static=%img/general/article.png" alt="">
                                            <a href="" data-rel="media" class="article-play">
                                                {{Icon iconName="play"}}
                                            </a>
                                        </div>
                                        <div class="article-body">
                                            <div class="align-center article-date">
                                                {{Icon iconName="calendar"}}
                                                <span>28 ноября</span>
                                            </div>
                                            <div class="article-title">Студентам-волонтерам повысят стипендию на 30% в Казахстане</div>
                                        </div>
                                    </div>
                                    <div class="article">
                                        <div class="article-image">
                                            <img src="%=static=%img/general/article.png" alt="">
                                            <a href="" data-rel="media" class="article-play">
                                                {{Icon iconName="play"}}
                                            </a>
                                        </div>
                                        <div class="article-body">
                                            <div class="align-center article-date">
                                                {{Icon iconName="calendar"}}
                                                <span>28 ноября</span>
                                            </div>
                                            <div class="article-title">Студентам-волонтерам повысят стипендию на 30% в Казахстане</div>
                                        </div>
                                    </div>
                                </div>
                                <form class="data-ctg">
                                    <div class="data-ctg-title">Категория</div>
                                    <div class="data-labels">
                                        <label class="align-center check">
                                            <input type="checkbox">
                                            <span class="align-center check-box"></span>
                                            <span class="check-text">Волонтерство</span>
                                        </label>
                                        <label class="align-center check">
                                            <input type="checkbox">
                                            <span class="align-center check-box"></span>
                                            <span class="check-text">Направление волонтерства</span>
                                        </label>
                                        <label class="align-center check">
                                            <input type="checkbox">
                                            <span class="align-center check-box"></span>
                                            <span class="check-text">Составы волонтерства</span>
                                        </label>
                                        <label class="align-center check">
                                            <input type="checkbox">
                                            <span class="align-center check-box"></span>
                                            <span class="check-text">Документы</span>
                                        </label>
                                        <label class="align-center check">
                                            <input type="checkbox">
                                            <span class="align-center check-box"></span>
                                            <span class="check-text">Конкурсы и премии</span>
                                        </label>
                                        <label class="align-center check">
                                            <input type="checkbox">
                                            <span class="align-center check-box"></span>
                                            <span class="check-text">Другое</span>
                                        </label>
                                    </div>

                                    <div class="align-center data-buttons">
                                        <button type="button" class="btn clear">Сбросить</button>
                                        <button type="submit" class="btn btn-blue">Показать</button>
                                    </div>
                                </form>
                            </div>
                            <div class="align-center view-more">
                                <div class="align-center view-option">
                                    <select class="nice-select">
                                        <option value="10">10</option>
                                        <option value="10">20</option>
                                        <option value="10">30</option>
                                    </select>
                                    <div class="view-showed">Отображено 1 - 4 (всего 10 474 элементов)</div>
                                </div>

                                {{>pagination/pagination}}
                            </div>
                        </div>
                        <div class="data-tab">
                            <div class="align-top data-content">
                                <div class="data-items">
                                    <a href="#" class="align-center data-item">
                                        {{Icon iconName="file"}}
                                        <div class="data-title">Инструменты / Полезные функции</div>
                                        <span class="data-load">
                                            {{Icon iconName="download"}}
                                        </span>
                                    </a>
                                    <a href="#" class="align-center data-item">
                                        {{Icon iconName="file"}}
                                        <div class="data-title">Рандомизация сообщений / Спинтакс</div>
                                        <span class="data-load">
                                            {{Icon iconName="download"}}
                                        </span>
                                    </a>
                                    <a href="#" class="align-center data-item">
                                        {{Icon iconName="file"}}
                                        <div class="data-title">Загрузка номеров с именами или параметрами</div>
                                        <span class="data-load">
                                            {{Icon iconName="download"}}
                                        </span>
                                    </a>
                                    <a href="#" class="align-center data-item">
                                        {{Icon iconName="file"}}
                                        <div class="data-title">Работа через прокси</div>
                                        <span class="data-load">
                                            {{Icon iconName="download"}}
                                        </span>
                                    </a>
                                    <a href="#" class="align-center data-item">
                                        {{Icon iconName="file"}}
                                        <div class="data-title">Основные настройки / Лимиты / Таймауты / Эмуляторы</div>
                                        <span class="data-load">
                                            {{Icon iconName="download"}}
                                        </span>
                                    </a>
                                    <a href="#" class="align-center data-item">
                                        {{Icon iconName="file"}}
                                        <div class="data-title">Как сохранить аккаунт в программу?</div>
                                        <span class="data-load">
                                            {{Icon iconName="download"}}
                                        </span>
                                    </a>
                                </div>
                                <form class="data-ctg">
                                    <div class="data-ctg-title">Категория</div>
                                    <div class="data-labels">
                                        <label class="align-center check">
                                            <input type="checkbox">
                                            <span class="align-center check-box"></span>
                                            <span class="check-text">Волонтерство</span>
                                        </label>
                                        <label class="align-center check">
                                            <input type="checkbox">
                                            <span class="align-center check-box"></span>
                                            <span class="check-text">Направление волонтерства</span>
                                        </label>
                                        <label class="align-center check">
                                            <input type="checkbox">
                                            <span class="align-center check-box"></span>
                                            <span class="check-text">Составы волонтерства</span>
                                        </label>
                                        <label class="align-center check">
                                            <input type="checkbox">
                                            <span class="align-center check-box"></span>
                                            <span class="check-text">Документы</span>
                                        </label>
                                        <label class="align-center check">
                                            <input type="checkbox">
                                            <span class="align-center check-box"></span>
                                            <span class="check-text">Конкурсы и премии</span>
                                        </label>
                                        <label class="align-center check">
                                            <input type="checkbox">
                                            <span class="align-center check-box"></span>
                                            <span class="check-text">Другое</span>
                                        </label>
                                    </div>

                                    <div class="align-center data-buttons">
                                        <button type="button" class="btn clear">Сбросить</button>
                                        <button type="submit" class="btn btn-blue">Показать</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{>bottom/bottom}}
</body>

</html>