<!DOCTYPE html>
<html class="no-js" lang="ru">

<head>
    {{> head/head head.defaults}}
</head>

<body class="page">
    %=symbols=%

    <div class="align-top admin">

        {{>navbar/navbar-volont}}

        <div class="admin-content">
            <div class="align-center admin-head">
                <span>Главная</span>
                <a href="#" class="align-center tour">
                    <span>Тур по сайту</span>
                    {{Icon iconName="tour"}}
                </a>
            </div>
            <div class="admin-view">
                <div class="container-fluid">
                    <div class="admin-info-title">уроки</div>
                    <div class="row admin-items">
                        <div class="admin-item">
                            <div class="align-center admin-circle">
                                {{Icon iconName="circle-arrow"}}
                            </div>
                            <div class="admin-name">Запланировано занятий</div>
                            <div class="admin-value">2051</div>
                        </div>
                        <div class="admin-item">
                            <div class="align-center admin-circle">
                                {{Icon iconName="lesson-check"}}
                            </div>
                            <div class="admin-name">Проведено занятий</div>
                            <div class="admin-value">25</div>
                        </div>
                        <div class="admin-item">
                            <div class="align-center admin-circle">
                                {{Icon iconName="lesson-left-arrow"}}
                            </div>
                            <div class="admin-name">Отмененные занятия</div>
                            <div class="admin-value">11</div>
                        </div>
                        <div class="admin-item">
                            <div class="align-center admin-circle">
                                {{Icon iconName="lesson-close"}}
                            </div>
                            <div class="admin-name">Пропущенные занятия</div>
                            <div class="admin-value">35</div>
                        </div>
                    </div>

                    <div class="align-center graph-row">
                        <div class="admin-info-title">Запланированные занятия</div>
                        <div class="align-center graph-settings">
                            <div class="graph-setting active" data-lng="14">2 недели</div>
                            <div class="graph-setting" data-lng="30">Месяц</div>
                            <div class="graph-setting" data-lng="90">3 месяца</div>
                        </div>
                    </div>
                    <div class="graph">
                        <div class="graph-view">
                            <div class="graph-num">6</div>
                            <div class="graph-num">5</div>
                            <div class="graph-num">4</div>
                            <div class="graph-num">3</div>
                            <div class="graph-num">2</div>
                            <div class="graph-num">1</div>
                            <div class="graph-num">0</div>
                        </div>
                        <div class="align-center graph-bottom"></div>
                    </div>

                    <div class="admin-info-title">Лента событий</div>
                    <div class="events">
                        <div class="row event blue">
                            <div class="align-center event-left">
                                <div class="align-center event-icon"></div>
                                <div class="event-line"></div>
                            </div>
                            <div class="event-info">
                                <div class="event-name">Эко</div>
                                <div class="event-more">
                                    <p>Школа-гимназия №2 имени Гафу Каирбекова</p>
                                    <p>1-4 классы</p>
                                    <p>Zoom</p>
                                    <p>Партнер: Федоров Алексей</p>
                                </div>
                                <div class="align-center event-date">
                                    {{Icon iconName="calendar"}}
                                    <p>5 сентября 2021</p>
                                    <p>18.00 - 21.00</p>
                                </div>
                            </div>
                            <div class="event-status">123</div>
                        </div>
                        <div class="row event blue">
                            <div class="align-center event-left">
                                <div class="align-center event-icon"></div>
                                <div class="event-line"></div>
                            </div>
                            <div class="event-info">
                                <div class="event-name">GenU</div>
                                <div class="event-more">
                                    <p>Школа-гимназия №3</p>
                                    <p>5-8 классы</p>
                                    <p>WhatsApp</p>
                                    <p>Партнер: Евсеева Ирина</p>
                                </div>
                                <div class="align-center event-date">
                                    {{Icon iconName="calendar"}}
                                    <p>4 сентября 2021</p>
                                    <p>18.00 - 21.00</p>
                                </div>
                            </div>
                            <div class="event-status">123</div>
                        </div>
                        <div class="row event green">
                            <div class="align-center event-left">
                                <div class="align-center event-icon"></div>
                                <div class="event-line"></div>
                            </div>
                            <div class="event-info">
                                <div class="event-name">GenU</div>
                                <div class="event-more">
                                    <p>Школа-гимназия №3</p>
                                    <p>5-8 классы</p>
                                    <p>WhatsApp</p>
                                    <p>Партнер: Евсеева Ирина</p>
                                </div>
                                <div class="align-center event-date">
                                    {{Icon iconName="calendar"}}
                                    <p>3 сентября 2021</p>
                                    <p>18.00 - 21.00</p>
                                </div>
                            </div>
                            <div class="event-status">Запланирован</div>
                        </div>
                        <div class="row event red">
                            <div class="align-center event-left">
                                <div class="align-center event-icon"></div>
                                <div class="event-line"></div>
                            </div>
                            <div class="event-info">
                                <div class="event-name">GenU</div>
                                <div class="event-more">
                                    <p>Школа-гимназия №3</p>
                                    <p>5-8 классы</p>
                                    <p>WhatsApp</p>
                                    <p>Партнер: Евсеева Ирина</p>
                                </div>
                                <div class="align-center event-date">
                                    {{Icon iconName="calendar"}}
                                    <p>1 сентября 2021</p>
                                    <p>18.00 - 21.00</p>
                                </div>
                            </div>
                            <div class="event-status">Пропущенный</div>
                        </div>
                        <div class="row event blue">
                            <div class="align-center event-left">
                                <div class="align-center event-icon"></div>
                                <div class="event-line"></div>
                            </div>
                            <div class="event-info">
                                <div class="event-name">Эко</div>
                                <div class="event-more">
                                    <p>Школа-гимназия №2 имени Гафу Каирбекова</p>
                                    <p>1-4 классы</p>
                                    <p>Zoom</p>
                                    <p>Партнер: Федоров Алексей</p>
                                </div>
                                <div class="align-center event-date">
                                    {{Icon iconName="calendar"}}
                                    <p>5 сентября 2021</p>
                                    <p>18.00 - 21.00</p>
                                </div>
                            </div>
                            <div class="event-status">123</div>
                        </div>
                        <div class="row event blue">
                            <div class="align-center event-left">
                                <div class="align-center event-icon"></div>
                                <div class="event-line"></div>
                            </div>
                            <div class="event-info">
                                <div class="event-name">GenU</div>
                                <div class="event-more">
                                    <p>Школа-гимназия №3</p>
                                    <p>5-8 классы</p>
                                    <p>WhatsApp</p>
                                    <p>Партнер: Евсеева Ирина</p>
                                </div>
                                <div class="align-center event-date">
                                    {{Icon iconName="calendar"}}
                                    <p>4 сентября 2021</p>
                                    <p>18.00 - 21.00</p>
                                </div>
                            </div>
                            <div class="event-status">123</div>
                        </div>
                        <div class="row event green">
                            <div class="align-center event-left">
                                <div class="align-center event-icon"></div>
                                <div class="event-line"></div>
                            </div>
                            <div class="event-info">
                                <div class="event-name">GenU</div>
                                <div class="event-more">
                                    <p>Школа-гимназия №3</p>
                                    <p>5-8 классы</p>
                                    <p>WhatsApp</p>
                                    <p>Партнер: Евсеева Ирина</p>
                                </div>
                                <div class="align-center event-date">
                                    {{Icon iconName="calendar"}}
                                    <p>3 сентября 2021</p>
                                    <p>18.00 - 21.00</p>
                                </div>
                            </div>
                            <div class="event-status">Запланирован</div>
                        </div>
                        <div class="row event red">
                            <div class="align-center event-left">
                                <div class="align-center event-icon"></div>
                                <div class="event-line"></div>
                            </div>
                            <div class="event-info">
                                <div class="event-name">GenU</div>
                                <div class="event-more">
                                    <p>Школа-гимназия №3</p>
                                    <p>5-8 классы</p>
                                    <p>WhatsApp</p>
                                    <p>Партнер: Евсеева Ирина</p>
                                </div>
                                <div class="align-center event-date">
                                    {{Icon iconName="calendar"}}
                                    <p>1 сентября 2021</p>
                                    <p>18.00 - 21.00</p>
                                </div>
                            </div>
                            <div class="event-status">Пропущенный</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{>bottom/bottom}}

</script>   
</body>

</html>