<!DOCTYPE html>
<html class="no-js" lang="ru">

<head>
    {{> head/head head.defaults}}
</head>

<body class="page">
    %=symbols=%

    {{>header/header}}

    <div class="slider unicef-kz">
        <div class="swiper-slide">
            <img src="%=static=%img/general/volunteers.png" alt="">
            <div class="slider-content">
                <div class="slider-title">
                    Волонтеры Юнисеф
                </div>
                <div class="text slider-text">
                    Узнайте, как мы поддерживаем детей 
                    и защищаем их права 
                </div>
            </div>
        </div>
    </div>

    <div class="layout">
        <div class="wrapper">
            <div class="align-top layout-row">
                <div class="filters">
                    <div class="subtitle filters-title">Фильтры</div>
                    <form class="filters-form">
                        <div class="input">
                            <select class="nice-select">
                                <option value="0" selected disabled>Выберите область</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                        </div>
                        <div class="input">
                            <select class="nice-select">
                                <option value="0" selected disabled>Населенный пункт</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                        </div>
                        <div class="input">
                            <select class="nice-select">
                                <option value="0" selected disabled>Направление</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                        </div>
                        <div class="input">
                            <input type="text" placeholder="Имя">
                        </div>

                        <div class="filters-sort">
                            <div class="sort-title">Сортировка</div>
                            <div class="sort-links">
                                <a href="" class="sort-link active">По дате регистрации</a>
                                <a href="" class="sort-link">По рейтингу</a>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="align-top volunteers">
                    <div class="volunteer">
                        <div class="volunteer-image">
                            <img src="%=static=%img/general/volunteer.png" alt="">
                            <div class="volunteer-rating">29</div>
                        </div>
                        <div class="volunteer-info">
                            <div class="volunteer-name">Айман Шаханова</div>
                            <div class="volunteer-place">Карагандинская область</div>
                        </div>
                    </div>

                    <div class="volunteer">
                        <div class="volunteer-image">
                            <img src="%=static=%img/general/noavatar-man.png" alt="">
                            <div class="volunteer-rating">29</div>
                        </div>
                        <div class="volunteer-info">
                            <div class="volunteer-name">Виталий Дровосеков</div>
                            <div class="volunteer-place">Костанайская область</div>
                        </div>
                    </div>

                    <div class="volunteer">
                        <div class="volunteer-image">
                            <img src="%=static=%img/general/noavatar-girl.png" alt="">
                            <div class="volunteer-rating">29</div>
                        </div>
                        <div class="volunteer-info">
                            <div class="volunteer-name">Бахыт Тулегенова</div>
                            <div class="volunteer-place">Акмолинская область</div>
                        </div>
                    </div>

                    <div class="volunteer">
                        <div class="volunteer-image">
                            <img src="%=static=%img/general/volunteer.png" alt="">
                            <div class="volunteer-rating">29</div>
                        </div>
                        <div class="volunteer-info">
                            <div class="volunteer-name">Айман Шаханова</div>
                            <div class="volunteer-place">Карагандинская область</div>
                        </div>
                    </div>

                    <div class="volunteer">
                        <div class="volunteer-image">
                            <img src="%=static=%img/general/noavatar-man.png" alt="">
                            <div class="volunteer-rating">29</div>
                        </div>
                        <div class="volunteer-info">
                            <div class="volunteer-name">Айман Шаханова</div>
                            <div class="volunteer-place">Карагандинская область</div>
                        </div>
                    </div>

                    <div class="volunteer">
                        <div class="volunteer-image">
                            <img src="%=static=%img/general/noavatar-girl.png" alt="">
                            <div class="volunteer-rating">29</div>
                        </div>
                        <div class="volunteer-info">
                            <div class="volunteer-name">Айман Шаханова</div>
                            <div class="volunteer-place">Карагандинская область</div>
                        </div>
                    </div>
                    
                    <div class="volunteer">
                        <div class="volunteer-image">
                            <img src="%=static=%img/general/volunteer.png" alt="">
                            <div class="volunteer-rating">29</div>
                        </div>
                        <div class="volunteer-info">
                            <div class="volunteer-name">Айман Шаханова</div>
                            <div class="volunteer-place">Карагандинская область</div>
                        </div>
                    </div>

                    <div class="volunteer">
                        <div class="volunteer-image">
                            <img src="%=static=%img/general/noavatar-man.png" alt="">
                            <div class="volunteer-rating">29</div>
                        </div>
                        <div class="volunteer-info">
                            <div class="volunteer-name">Виталий Дровосеков</div>
                            <div class="volunteer-place">Костанайская область</div>
                        </div>
                    </div>

                    <div class="volunteer">
                        <div class="volunteer-image">
                            <img src="%=static=%img/general/noavatar-girl.png" alt="">
                            <div class="volunteer-rating">29</div>
                        </div>
                        <div class="volunteer-info">
                            <div class="volunteer-name">Бахыт Тулегенова</div>
                            <div class="volunteer-place">Акмолинская область</div>
                        </div>
                    </div>

                    <div class="volunteer">
                        <div class="volunteer-image">
                            <img src="%=static=%img/general/volunteer.png" alt="">
                            <div class="volunteer-rating">29</div>
                        </div>
                        <div class="volunteer-info">
                            <div class="volunteer-name">Айман Шаханова</div>
                            <div class="volunteer-place">Карагандинская область</div>
                        </div>
                    </div>

                    <div class="volunteer">
                        <div class="volunteer-image">
                            <img src="%=static=%img/general/noavatar-man.png" alt="">
                            <div class="volunteer-rating">29</div>
                        </div>
                        <div class="volunteer-info">
                            <div class="volunteer-name">Айман Шаханова</div>
                            <div class="volunteer-place">Карагандинская область</div>
                        </div>
                    </div>

                    <div class="volunteer">
                        <div class="volunteer-image">
                            <img src="%=static=%img/general/noavatar-girl.png" alt="">
                            <div class="volunteer-rating">29</div>
                        </div>
                        <div class="volunteer-info">
                            <div class="volunteer-name">Айман Шаханова</div>
                            <div class="volunteer-place">Карагандинская область</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{>footer/footer}}

    {{>bottom/bottom}}
</body>

</html>