body {
	.reg();
}

.wrapper {
	max-width: 1360px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}

.header {
	background: @blue;
	padding: 19px 0;

	.btn-light {
		margin-left: 28px;
	}
}

.logo {
	text-transform: uppercase;
	margin-right: 25px;
	.medium();
	margin-left: 10px;
	font-size: 30px;
	line-height: 100%;
	&-title {
		display: inline-block;
		margin-left: 10px;
		color: @light;
	}

	&-qv {
		.logo-title {
			max-width: 135px;
			font-size: 13px;
			line-height: 140%;
		}
	}
}

.socials {
	margin-left: auto;
}

.social {
	justify-content: center;
	flex-shrink: 0;
	width: 32px;
	height: 32px;
	background: @light;
	border-radius: 4px;
	margin: 0 4px;
	transition: .3s;
	svg {
		fill: @blue;
	}

	&:hover {
		transform: scale(1.1);
		transition: .3s;
	}
}

.lang{
	margin-left: 28px;
	width: 46px;
	height: 24px;
	font-size: 12px;
	line-height: 100%;
	color: @dark;
	text-align: center;
	position: relative;
	cursor: pointer;
	.reg();
	&-current {
		background: @light;
		border-radius: 1px;
		width: 100%;
		height: 100%;
		justify-content: center;

		&.active {
			background: @gray;
		}
	}
	&-container {
		position: absolute;
		display: none;
		flex-direction: column;
		left: 0;
		top: 100%;
		background: @light;
		border-radius: 0px 0px 1px 1px;
		box-shadow: -6px -6px 16px rgba(255, 255, 255, 0.5), 6px 6px 16px rgba(209, 205, 199, 0.3);
		a {
			flex-shrink: 0;
			justify-content: center;
			width: 46px;
			height: 24px;
			transition: 0.3s;
			&:hover{
				background-color: lighten(@gray, 4%);
			}
		}
	}
}

.btn {
	display: inline-block;
	border-radius: 2px;
	text-transform: uppercase;
	font-size: 13px;
	line-height: 100%;
	padding: 16px 21px 15px 21px;
	position: relative;
	overflow: hidden;
	&-light {
		background: @light;
		color: @dark;
		box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
	}
	&-orange {
		background: @orange;
		color: @light;
		.medium();
	}

	&-bg-blue {
		background: @blue;
		color: @light;
		.medium();
		&::after {
			position: absolute;
			top: 0;
			right: 150%;
			bottom: 0;
			z-index: 1;
			width: 150%;
			content: '';
			background: linear-gradient(to right,#00adef,#4ccdff);
			transform: skew(-28.5deg);
			transition: right .4s ease-in-out;
		}

		&:hover {
			&::after {
				right: -15%;
			}
		}

		span {
			position: relative;
			z-index: 2;
		}
	}

	&-blue {
		border: 1px solid @blue;
		color: @blue;
		.medium();
		&::after {
			content: '';
			position: absolute;
			top: 0;
			right: 150%;
			bottom: 0;
			z-index: -1;
			width: 150%;
			content: '';
			background: linear-gradient(to right,transparent,rgba(0,173,239,.1));
			transform: skew(-28.5deg);
			transition: right .4s ease-in-out;
		}

		&:hover {
			&::after {
				right: -15%;
			}
		}
	}
	&-bordered-light {
		border: 1px solid #D9D9DE;
		color: #333333;
		.medium();
	}
}

.nav {
	padding: 20px 0;

	& + .unicef-kz {
		margin-top: 0;
	}

	&-list {
		margin-right: auto;
		&-item {
			margin-right: 30px;
			position: relative;

			a {
				color: @dark;
				font-size: 15px;
				line-height: 100%;
			}

			&:hover{
				ul {
					opacity: 1;
					pointer-events: auto;
					transform: translateX(0px);
				}
			}
			svg {
				margin-left: 8px;
				fill: none;
				stroke: @dark;
				stroke-width: 1;
			}

			ul {
				position: absolute;
				top: calc(100% + 10px);
				left: 0px;
				padding: 12px;
				background: @light;
				box-shadow: 6px 6px 16px rgba(209, 205, 199, 0.5);
				border-radius: 2px;
				opacity: 0;
				pointer-events: none;
				transition: 0.3s;
				transform: translateX(-20px);
				width: 220px;
				display: flex;
				flex-direction: column;
				z-index: 2;

				&::after {
					content: '';
					position: absolute;
					top: -10px;
					left: 0;
					width: 100%;
					height: 10px;
					background: transparent;
				}


				a {
					margin-bottom: 8px;
					padding: 8px;
					display: inline-block;
					font-size: 13px;
					line-height: 140%;
					color: @dark;
					transition: 0.3s;
					&:last-child{
						margin-bottom: 0;
					}
					&:hover{
						text-decoration: none;
						color: @blue;
					}
				}
			}
		}
	}
}

.search {
	margin-left: auto;
	width: 255px;
	height: 40px;
	border-radius: 2px;
	overflow: hidden;
	&-input {
		width: 100%;
		height: 100%;

		input {
			width: 100%;
			height: 100%;
			padding: 12px 10px;
			background: @gray;
			.reg();
			font-size: 15px;
			color: @textcolor;
		}
	} 
	&-btn {
		width: 40px;
		height: 100%;
		flex-shrink: 0;
		background: @orange;

		svg {
			fill: none;
		}
	}
}

.login {
	margin-left: 45px;
	font-size: 15px;
	line-height: 100%;
	color: @dark;

	svg {
		fill: none;
		margin-right: 20px;
	}
}

.map {
	margin-top: 80px;
	.text {
		margin-top: 20px;
		max-width: 600px;
		color: #333333;
	}
}

#mapa {
	position: relative;
	margin: 0 auto;
	&::after {
		content: '';
		position: absolute;
		right: 0;
		bottom: 0;
		width: 200px;
		height: 30px;
		background-color: @light;
		z-index: 2;
	}
}

.title {
	.medium();
	font-size: 30px;
	line-height: 120%;
}

.text{
	font-size: 15px;
	line-height: 150%;
}

.slider {
	position: relative;

	.wrapper {
		position: relative;
	}

	&-content {
		position: absolute;
		top: 0;
		right: 0;
		max-width: 55%;
		width: 100%;
		height: 100%;
		padding: 75px 70px;
	}

	&-nav {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		cursor: pointer;

		svg {
			fill: none;
			stroke: #A7A7AB;
		}
	}

	.main-left {
		left: -40px;
	}
	.main-right {
		right: -40px;

		svg {
			transform: rotate(180deg);
		}
	}

	&-pagination {
		position: absolute;
		top: 75px;
		left: 0;
		font-size: 22px;
		line-height: 150%;
		color: #A7A7AB;
	}

	&-current {
		color: @textcolor;
	}

	&-total {
		color: #D9D9DE;
	}

	&-title {
		.medium();
		font-size: 35px;
		line-height: 120%;
		color: #333333;
	}

	&-text {
		margin-top: 20px;
		margin-left: 60px;
	}

	&-button {
		display: inline-block;
		margin-left: 120px;
		margin-top: 40px;
		border: 1px solid @blue;
		border-radius: 2px;
		padding: 18px 12px;
		.medium();
		text-transform: uppercase;
		font-size: 13px;
		line-height: 100%;
		color: @blue;
		position: relative;
		overflow: hidden;
		&::after {
			content: '';
			position: absolute;
			top: 0;
			right: 150%;
			bottom: 0;
			z-index: 1;
			width: 150%;
			content: '';
			background: linear-gradient(to right,transparent,rgba(0,173,239,.1));
			transform: skew(-28.5deg);
			transition: right .4s ease-in-out;
		}

		&:hover {
			&::after {
				right: -15%;
			}
		}
	}
}

.direction {
	margin-top: 48px;
	overflow: hidden;
	&-row {
		justify-content: space-between;
	}

	.swiper-container {
		overflow: visible;
	}

	.swiper-slide {
		display: block;
		width: calc(100% / 2 - 16px);
		margin-right: 32px;
		padding: 48px;
		height: auto;
		border-radius: 4px;
		position: relative;

		&.green {
			background: #006749;
		}

		&.blue {
			background: @blue;
		}

		&.orange {
			background: #E34E09;
		}
	}

	&-slider {
		margin-top: 28px;

		.title {
			line-height: 120%;
			color: @light;
		}
	}

	.text {
		margin-top: 20px;
		max-width: 318px;
		line-height: 146%;
		color: #E9F3FF;
	}

	&-link {
		display: inline-flex;
		margin-top: 20px;
		.medium();
		font-size: 16px;
		line-height: 146%;
		color: #E9F3FF;

		svg {
			margin-left: 10px;
			fill: @light;
		}
	}

	&-content {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;
		position: relative;
		z-index: 2;
		height: 100%;
	}

	&-img {
		display: block;
		position: absolute;
		right: 0;
		bottom: 0;
		z-index: 1;
	}
}

.link {
	.medium();
	font-size: 13px;
	line-height: 100%;
	text-transform: uppercase;
	color: @blue;
}

.kids {
	margin-top: 80px;

	&-image {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-shrink: 0;
		width: 475px;
		height: 430px;
		position: relative;
	}

	&-img {
		position: absolute;
		&-1 {
			top: 0;
			left: 50%;
			transform: translateX(-50%);
		}
		&-2 {
			top: 20px;
			right: 60px;
		}
		&-3 {
			top: 50px;
			left: 30px;
		}
		&-4 {
			top: 105px;
			left: 195px;
		}
		&-5 {
			top: 110px;
			left: 280px;
		}
		&-6 {
			top: 150px;
			right: 80px;
		}
		&-7 {
			top: 100px;
			right: 0;
		}
		&-8 {
			top: 175px;
			left: 0;
		}
		&-9 {
			top: 185px;
			left: 80px;
		}
		&-10 {
			top: 240px;
			left: 155px;
		}
		&-11 {
			top: 200px;
			right: 0;
		}
		&-12 {
			top: 270px;
			left: 235px;
		}
		&-13 {
			top: 250px;
			left: 315px;
		}
		&-14 {
			top: 285px;
			left: 40px;
		}
		&-15 {
			top: 300px;
			left: 160px;
		}
		&-16 {
			bottom: 0px;
			left: 205px;
		}
		&-17 {
			bottom: 70px;
			right: 80px;
		}
	}

	&-list {
		margin-left: 200px;
		counter-reset: list;

		&-item {
			font-size: 15px;
			line-height: 22px;
			&:not(:last-child) {
				margin-bottom: 54px;
			}

			&::before {
				counter-increment: list;
				content: counter(list);
				display: block;
				width: 30px;
				height: 30px;
				border-radius: 50%;
				background: @orange;
				flex-shrink: 0;
				margin-right: 20px;
				text-align: center;
				.medium();
				font-size: 18px;
				line-height: 30px;
				color: @light;
			}
		}
	}
}

.numbers {
	margin-top: 77px;

	&-content {
		margin-top: 40px;
	}

	&-item {
		&:not(:last-child) {
			margin-right: 40px;
		}
	}

	.num {
		.medium();
		font-size: 56px;
		line-height: 120%;
		color: @blue;
		&-text {
			line-height: 120%;
			color: #222222;
		}
	}
}

.mission {
	margin-top: 90px;

	&-title {
		text-align: center;
		padding-bottom: 45px;
		border-bottom: 1px dashed #D9D9DE;
		position: relative;

		.title {
			font-size: 25px;
			line-height: 140%;
			color: #333333;
		}
	}

	.quote {
		position: absolute;
		top: 0;
		.medium();
		font-size: 80px;
		line-height: 100%;
		color: #D9D9DE;

		&-left {
			left: 0;
		}

		&-right {
			right: 0;
		}
	}
}

.news {
	margin-top: 80px;

	&-content {
		margin: 0 -16px;
		flex-wrap: wrap;
	}

	&-item {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
		border: 1px solid #D9D9DE;
		border-radius: 4px;
		padding: 32px;
		margin: 0 16px;
		width: calc(100% / 4 - 32px);
	}

	&-subscribe {
		border: none;
		background: @blue;

		.news-title {
			color: @light;
			font-size: 22px;
		}

		.news-text {
			color: @light;
		}
	}

	&-title {
		.medium();
		font-size: 18px;
		line-height: 140%;
		color: #333333;
	}

	&-row {
		margin-top: 12px;
		font-size: 10px;
		line-height: 140%;
		color: @textcolor;

		& > div {
			margin-right: 10px;
		}

		svg {
			fill: none;
			margin-right: 6px;
		}
	}

	&-text {
		margin-top: 12px;
		font-size: 13px;
		line-height: 146%;
		color: @textcolor;
	}

	&-more {
		display: inline-flex;
		margin-top: 46px;
		svg {
			margin-left: 10px;
			fill: #EC324F;
			transition: .5s;
		}

		&:hover {
			svg {
				transform: translateX(5px);
				transition: .5s;
			}
		}
	}

	&-form {
		margin-top: 22px;

		.check {
			margin-top: 12px;
		}
	}

	.btn-orange {
		width: 100%;
		margin-top: 7px;
	}
}

.input {
	width: 100%;
	position: relative;
	input, textarea {
		width: 100%;
		height: 48px;
		.reg();
		font-size: 15px;
		line-height: 150%;
		color: @dark;
		padding: 13px 16px;
		border-radius: 2px;
		&::placeholder {
			font-size: 15px;
			line-height: 150%;
			color: #A7A7AB;
		}
		&::-webkit-input-placeholder {
			font-size: 15px;
			line-height: 150%;
			color: #A7A7AB;
		}
		&::-moz-placeholder {
			font-size: 15px;
			line-height: 150%;
			color: #A7A7AB;
		}
		&:-moz-placeholder {
			font-size: 15px;
			line-height: 150%;
			color: #A7A7AB;
		}
		&:-ms-input-placeholder {
			font-size: 15px;
			line-height: 150%;
			color: #A7A7AB;
		}
	}

	textarea {
		height: 80px;
		resize: none;
	}

	&-placeholder {
		line-height: 120%;
		margin-bottom: 7px;
	}

	.nice-select {
		width: 100%;
		height: 48px;
		line-height: 46px;
		border: 1px solid #D9D9DE;

		.list {
			width: auto;
			min-width: 100%;
			max-height: 200px;
			overflow: auto;

			&::-webkit-scrollbar {
				width: 9px;
			}

			&::-webkit-scrollbar-track {
				background: #E6E6E6;
				border-radius: 16px;
			}

			&::-webkit-scrollbar-thumb {
				background: #707683;
				border-radius: 8px;
			}
		}

		&::after {
			right: 15px;
			margin-top: -6px;
			width: 7px;
			height: 7px;
		}
	}

	&-icon {
		position: absolute;
		top: 50%;
		left: 18px;
		transform: translateY(-50%);

		& + input {
			padding-left: 50px;
		}

		svg {
			display: block;
			width: 17px;
			height: 17px;
			fill: none;
		}
	}

	&-search {
		min-width: 210px;
	}

	&-date {
		max-width: 160px;
	}

	&-column {
		justify-content: center;
		width: 53px;
		height: 48px;
		margin-right: 20px;
		background: @light;
		border-radius: 4px;
		cursor: pointer;
		flex-shrink: 0;
		svg {
			fill: #041121;
			width: 17px;
			height: 17px;
		}
	}

	.select2-container--default .select2-selection--single, .select2-container--default .select2-selection--multiple {
		height: 48px;
		border: none;
		display: flex;
		align-items: center;
		overflow: hidden;
		overflow-x: auto;
		cursor: pointer;

		&::-webkit-scrollbar {
			height: 6px;
		}

		&::-webkit-scrollbar-track {
			background: #E6E6E6;
			border-radius: 16px;
		}

		&::-webkit-scrollbar-thumb {
			background: #707683;
			border-radius: 8px;
		}
	}

	.select2-container {
		width: 150px !important;
	}

	.select2-container--default .select2-selection--single .select2-selection__rendered {
		line-height: 48px;
		font-size: 14px;
		color: #041121;
		padding-left: 18px;
	}

	.select2-container--default .select2-selection--single .select2-selection__arrow {
		top: 8px;
		right: 6px;
	}

	.select2-container--default .select2-selection--single .select2-selection__arrow b {
		border-color: none; 
		border-style: solid; 
		border-width: 0;
		border-bottom: 2px solid #999;
		border-right: 2px solid #999;
		width: 9px;
		height: 9px;
		display: block;
		transform-origin: 66% 66%;
		transform: rotate(45deg);
	}
}

.select2-dropdown {
	background: @light;
	box-shadow: 6px 6px 16px rgba(209, 205, 199, 0.5);
	border-radius: 4px;
	border: none;
}

.select2-results__option {
	display: flex;
	align-items: center;
	font-size: 15px;
	line-height: 150%;
	color: @dark;
	padding: 6px 0;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	white-space: nowrap;

	&::before {
		content: '';
		display: flex;
		align-items: center;
		justify-content: center;
		width: 16px;
		height: 16px;
		border: 1px solid #E4E4E4;
		border-radius: 2px;
		flex-shrink: 0;
		margin-right: 8px;
	}
}

.school-dropdown {
	.select2-results__option::before {
		display: none;
	}

	.select2-search--dropdown {
		padding: 10px 14px 0 14px;

		input {
			border: 1px solid #D9D9DE;
		}
	}
}

.select2-results__options {
	padding: 11px 14px;


	&::-webkit-scrollbar {
		width: 9px;
	}

	&::-webkit-scrollbar-track {
		background: #E6E6E6;
		border-radius: 16px;
	}

	&::-webkit-scrollbar-thumb {
		background: #707683;
		border-radius: 8px;
	}
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
	background: transparent;
	border: none;
	font-size: 14px;
	color: #041121;
	padding-left: 10px;
}

.select2-container .select2-selection--multiple .select2-selection__rendered {
	display: flex;
	align-items: center;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
	background: transparent;
	color: #041121;
}

.select2-container--default .select2-results__option--selected {
	background: transparent;

	&::before {
		background: #1756C5;
		border: 1px solid #1756C5;
		content: url('../img/minified-svg/checked.svg')
	}
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
	display: none;
}

.select2-container .select2-search--inline .select2-search__field {
	font-size: 14px;
	color: #041121;
	padding-left: 10px;
	margin-top: 0;

	&::placeholder {
		font-size: 14px;
		color: #041121;
	}
	&::-webkit-input-placeholder {
		font-size: 14px;
		color: #041121;
	}
	&::-moz-placeholder {
		font-size: 14px;
		color: #041121;
	}
	&:-moz-placeholder {
		font-size: 14px;
		color: #041121;
	}
	&:-ms-input-placeholder {
		font-size: 14px;
		color: #041121;
	}
}

.check {
	cursor: pointer;
	input {
		position: absolute;
		width: 1px;
		height: 1px;
		overflow: hidden;
		clip: rect(0, 0, 0, 0);

		&:checked + .check-box {
			&::after {
				content: url('../img/minified-svg/checkbox.svg');
			}
		}
	}

	&-box {
		position: relative;
		width: 14px;
		height: 14px;
		flex-shrink: 0;
		background: @light;
		border-radius: 2px;
		margin-right: 9px;

		&::after {
			content: '';
			position: absolute;
			top: -2px;
			left: 50%;
			transform: translate(-50%, 0);
		}
	}

	&-text {
		font-size: 10px;
		line-height: 140%;
		color: rgba(255, 255, 255, 0.5);
	}
}

.lectures {
	margin-top: 80px;

	&-content {
		margin: 0 -16px;		
	}

	&-info {
		max-width: 292px;
		flex-shrink: 0;
		margin: 24px 40px 0 16px;
	}

	.btn-blue {
		display: inline-block;
		margin-top: 40px;
		padding: 18px 30px;
	}
}

.lecture {
	position: relative;
	width: calc(100% / 3 - 32px);
	margin: 0 16px;
	padding: 32px 36px;
	background: #F6F7F8;
	border-radius: 4px;

	&:hover {
		background: @light;
		box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.08);
		.lecture-image {
			background: @light;
		}
	}

	&-image {
		justify-content: center;
		position: absolute;
		top: 32px;
		left: -24px;
		width: 48px;
		height: 48px;
		flex-shrink: 0;
		background: #F6F7F8;
		border: 1px solid #D9D9DE;
		border-radius: 50%;
	}

	&-title {
		font-size: 18px;
		line-height: 140%;
		color: #333333;
		.medium();
		height: 75px;
		overflow: hidden;
	}

	&-info {
		margin-top: 20px;
	}

	&-row {
		&:not(:last-child) {
			margin-bottom: 16px;
		}
	}

	&-icon {
		margin-right: 8px;
		svg {
			fill: none;
		}
	}

	&-name {
		font-size: 13px;
		line-height: 146%;
		color: #333333;
	}
}

.use {
	margin-top: 80px;
	&-info {
		max-width: 420px;
		flex-shrink: 0;
		margin-right: 85px;
	}
	.title {
		max-width: 250px;
	}
	&-text {
		margin-top: 50px;
		font-size: 13px;
		line-height: 146%;
		color: @textcolor;
		p {
			&:not(:last-child) {
				margin-bottom: 16px;
			}

		}
	}
	.btn-blue {
		margin-top: 46px;
	}

	&-video {
		width: 100%;
		height: 460px;

		& > * {
			width: 100%;
			height: 100% !important;
			border-radius: 4px;
		}
	}
}

.unicef-kz {
	margin-top: 80px;
	.swiper-slide {
		img {
			display: block;
			margin: auto;
		}
	}

	.slider-content {
		max-width: 47%;
	}

	.slider-text {
		max-width: 540px;
		margin-left: 0;
	}

	.slider-button {
		margin-left: 0;
	}
}

.partners {
	margin-top: 80px;
	.swiper-slide {
		width: auto;
		margin-right: 90px !important;
	}

	.swiper-wrapper {
		align-items: center;
	}

	&-slider {
		margin-top: 70px;
		position: relative;
	}

	&-nav {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		cursor: pointer;
		svg {
			fill: none;
			width: 6px;
			stroke: #999999;
			stroke-width: 1.6;
		}
	}

	&-left {
		left: -30px;
	}

	&-right {
		right: -30px;
		svg {
			transform: rotate(180deg);
		}
	}
}

.footer {
	margin-top: 80px;
	padding: 50px 0 40px 0;
	background: #F5F5F7;

	&-copy {
		font-size: 12px;
		line-height: 140%;
		color: @textcolor;
		margin-top: 24px;
	}

	&-item {
		margin-bottom: 20px;
	}

	&-icon {
		width: 80px;
		flex-shrink: 0;
	}

	&-name {
		font-size: 12px;
		line-height: 140%;
		color: @textcolor;
		max-width: 172px;
	}

	&-column {
		flex-direction: column;
		align-items: flex-start;
		margin-left: 95px;
		flex-shrink: 0;
	}

	&-link {
		display: block;
		margin-top: 16px;
		line-height: 120%;
		color: @textcolor;
	}

	&-title {
		.medium();
		line-height: 120%;
		color: #333333;
	}

	&-form {
		margin-left: auto;
		max-width: 245px;
	}

	&-text {
		margin-top: 23px;
		font-size: 13px;
		line-height: 146%;
		color: #333333;
	}

	.input {
		margin-top: 22px;
		input {
			border: 1px solid #D9D9DE;
		}
	}
	.check {
		margin-top: 10px;

		&-box {
			width: 16px;
			height: 16px;
			border: 1px solid @textcolor;
		}
	}
	.check-text {
		color: @textcolor;
	}

	.btn-bg-blue {
		width: 100%;
		margin-top: 7px;
	}
}

.auth {
	margin: 90px 0;

	&-text {
		justify-content: center;
		color: @textcolor;
		a {
			display: inline-block;
			margin: 0 10px;
			color: @textcolor;

			&.active {
				color: #333333;
			}
		}
	}

	&-block {
		border: 1px solid #D9D9DE;
		border-radius: 4px;
		margin: 40px auto 0 auto;
	}

	&-login {
		max-width: 500px;
		padding: 49px 33px 29px 33px;
	}

	&-register {
		max-width: 1000px;
	}

	.input {
		margin-bottom: 24px;
		input {
			border: 1px solid #D9D9DE;
			border-radius: 4px;
		}
	}

	&-row {
		justify-content: space-between;
	}

	.check {
		&-box {
			width: 16px;
			height: 16px;
			border: 1px solid @textcolor;
			border-radius: 4px;
		}
		&-text {
			font-size: 15px;
			color: @textcolor;
		}
	}

	.forgot {
		color: rgba(118, 118, 122, 0.6);
	}

	.btn-bg-blue, .btn-blue {
		display: block;
		margin-top: 20px;
		width: 100%;
	}


	&-header {
		justify-content: center;
		padding: 40px 20px;
		border-bottom: 1px solid #D9D9DE;
	}

	&-list {
		padding: 4px 6px;
		background: #F9F9F9;
		border-radius: 4px;

		li {
			display: block;
			width: 190px;
			padding: 10px 50px;
			.medium();
			font-size: 18px;
			line-height: 140%;
			color: rgba(118, 118, 122, 0.6);
			border-radius: 4px;
			cursor: pointer;

			&.active {
				background: @light;
				box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
				color: @dark;
			}
		}
	}

	&-body {
		padding: 0 50px 30px 50px;
		display: none;

		&.active {
			display: block;
		}

		.check {
			margin-top: 20px;

			&-box {
				margin-top: 4px;
			}
		}
	}

	&-step {
		padding: 40px 0;

		&:first-child {
			border-bottom: 1px solid #D9D9DE;
		}
	}

	&-inputs {
		flex-wrap: wrap;
		margin: 0 -16px -40px -16px;
		.input {
			width: calc(100% / 2 - 32px);
			margin: 0 16px 40px 16px;

			&.full {
				width: calc(100% - 32px);
			}
		}
	}

	.subtitle {
		margin-bottom: 30px;
	}

	.selects {
		margin: 0 -6px;
		.select {
			width: calc(100% / 3 - 12px);
			margin: 0 6px;
		}
	}

	.radios {
		margin-top: 25px;
	}
}

.subtitle {
	font-size: 22px;
	line-height: 140%;
	color: @dark;
	.medium();
}

.radio {
	cursor: pointer;
	margin-right: 30px;
	input {
		width: 1px;
		height: 1px;
		overflow: hidden;
		position: absolute;
		clip: rect(0, 0, 0, 0);
		&:checked + .radio-box {
			border: 2px solid @blue;

			&::after {
				background: @blue;
			}
		} 
	}
	&-box {
		position: relative;
		width: 18px;
		height: 18px;
		border: 2px solid #D9D9DE;
		border-radius: 50%;
		flex-shrink: 0;
		margin-right: 11px;

		&::after {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 6px;
			height: 6px;
			border-radius: 50%;
			background: transparent;
		}
	}
	&-text {
		font-size: 16px;
		line-height: 120%;
		color: #7C8793;
	}
}

.info {
	margin-top: 50px;
	&-row {
		justify-content: space-between;
		padding-bottom: 40px;
		color: #333333;

		&:not(:last-child) {
			border-bottom: 1px solid #D9D9DE;
			margin-bottom: 40px;
		}

		& > * {
			width: calc(100% / 2 - 30px);
		}

		b {
			display: inline-block;
			margin-top: 50px;
			.medium();
			line-height: 148%;
		}
	}

	.subtitle {
		margin-bottom: 20px;
	}

	.mission {
		margin-top: 0;
	}
	
	.text {
		p {
			&:not(:last-child) {
				margin-bottom: 16px;
			}
		}
	}

	.activity {
		.text {
			font-size: 18px;
		}
	}
}


.content {
	padding: 80px 0 60px 0;

	& + .content {
		padding: 0;
	}
	&-s {
		padding: 80px 0 20px 0;
	}
	.wrapper {
		padding-left: 133px;
	}
	&-left {
		max-width: 252px;
		width: 100%;
		flex-shrink: 0;
		margin-right: 64px;
	}

	&-right {
		flex-grow: 1;
	}

	&-img {
		width: 100%;
		height: auto;

		img {
			display: block;
		}
	}

	&-socials {
		margin-top: 30px;
		justify-content: center;
	}

	&-social {
		margin: 0 4px;
	}

	&-info {
		margin-top: 30px;
		&-item {
			margin-bottom: 10px;
			line-height: 120%;
			color: @textcolor;
			svg {
				margin-right: 7px;
				width: 16px;
				height: 16px;
				fill: none;
				stroke: #999999;
			}
		}
	}

	&-text {
		margin-top: 45px;
		max-width: 730px;
		.subtitle {
			font-size: 18px;
			line-height: 140%;
		}
	}

	.text {
		max-width: 730px;
		& > * {
			margin-top: 16px;
		}
	}

	.btn-bordered-light {
		margin-top: 60px;
	}

	&-block {
		background: @light;
		border: 1px solid #E5E5EB;
		border-radius: 2px;
		padding: 23px 17px;
		width: 100%;

		&-head {
			padding-bottom: 22px;
			border-bottom: 1px solid #E5E5EB;
			img {
				width: 40px;
				height: 40px;
				border-radius: 50%;
				margin-right: 12px;
			}
		}

		.text {
			font-size: 16px;
			line-height: 120%;
			color: #333333;
		}

		&-list {
			margin-top: 19px;

			li {
				list-style-type: disc;
				list-style-position: inside;
				font-size: 15px;
				line-height: 150%;
				color: #333333;
				margin-bottom: 2px;
			}
		}
	}

	&-gallery {
		margin: 60px -29px 0 -29px;
	}

	&-photo {
		justify-content: center;
		width: 260px;
		height: 260px;
		flex-shrink: 0;
		background: #F5F5F5;
		margin: 0 29px;
	}

	&-gray {
		margin-top: 35px;
		max-width: 730px;
		padding: 35px 40px 35px 25px;
		background: #F5F5F5;
		border-radius: 4px;
	}

	&-num {
		width: 30px;
		height: 30px;
		text-align: center;
		line-height: 30px;
		border-radius: 50%;
		background: @orange;
		flex-shrink: 0;
		margin-right: 35px;

		.medium();
		color: @light;
		font-size: 18px;
	}

	&-title {
		.medium();
		font-size: 14px;
		line-height: 136%;
		color: #333333;
		margin-bottom: 6px;
	}

	&-area {
		font-size: 14px;
		line-height: 136%;
		color: #333333;
		padding-bottom: 30px;
		border-bottom: 3px solid #E7E7E7;
	}

	&-more {
		justify-content: space-between;
		margin-top: 30px;
		font-size: 12px;
		line-height: 136%;
		color: #999999;

		p {
			max-width: 500px;
		}
	}
}

.section-gray {
	padding: 60px 0;
	background: #F5F5F5;
	border-top: 1px solid #E5E5EB;
	border-bottom: 1px solid #E5E5EB;
	
	.wrapper {
		padding-left: 133px;
	}

	.text {
		margin-top: 20px;

		& > * {
			margin-top: 20px;
		}
	}
}

.title + .news-content {
	margin-top: 24px;
}

.subtitle-small {
	font-size: 18px;
	line-height: 140%;
}

.examples {
	margin-top: 40px;

	.subtitle {
		font-size: 16px;
		line-height: 130%;
	}

	&-items {
		flex-wrap: wrap;
		margin: 0 -10px;
	}

	&-item {
		margin: 20px 10px 0 10px;
		width: calc(100% / 2 - 20px);

		font-size: 12px;
		line-height: 130%;

		svg {
			margin-right: 10px;
		}
	}
}

.priority {
	padding: 40px 0 0 0;

	&-items {
		justify-content: space-between;
		padding-bottom: 40px;
		border-bottom: 2px solid #888888;
	}

	&-item {
		max-width: 375px;
		&.blue {
			.priority-title {
				color: @blue;
			}
		}

		&.orange {
			.priority-title {
				color: @orange;
			}
		}

		&.purple {
			.priority-title {
				color: #EF5DA8;
			}
		}
	}

	&-title {
		font-size: 18px;
		line-height: 140%;
		text-align: center;
		height: 45px;
	}

	&-icons {
		margin-top: 35px;

		svg {
			margin: 0 18px;
		}
	}
}

.container {
	max-width: 810px;

	&-fluid {
		max-width: 100%;
	}
}

.mw-1100 {
	max-width: 1100px;
}

.admin {
	min-height: 100vh;
	align-items: stretch;
	&-content {
		width: 100%;
		overflow: hidden;
	}
	&-head {
		padding: 25px 40px;
		.medium();
		font-size: 20px;
		line-height: 22px;
		color: #041121;
		border-bottom: 1px solid #EAEAEF;

		.btn-blue {
			padding: 10px 20px;
			line-height: 16px;
			margin-left: auto;
			background: #1756C5;
			border: none;
			color: @light;
			border-radius: 7px;
		}

		.back {
			margin-left: auto;
			svg {
				margin-right: 6px;
			}
		}
	}

	&-view {
		padding: 30px 45px 100px 45px;
		height: 100%;

		.bread {
			margin-top: 0;

			.wrapper {
				padding: 0;
			}
		}
	}

	&-info {
		padding: 20px;
		background: #F4F7FA;
		border-radius: 4px;
		margin-bottom: 10px;
		flex-wrap: wrap;

		.input {
			width: auto;
			min-width: 100px;
			margin: 10px 20px 10px 0;
			.nice-select {
				border: none;

				&.open {
					background: #1756C5;

					.current {
						color: @light;
					}

					&::after {
						border-bottom: 2px solid @light;
						border-right: 2px solid @light;
					}
				}
			}

			.list {
				font-size: 15px;
				line-height: 150%;
				color: @dark;
			}
		}

		&-title {
			.medium();
			font-size: 13px;
			line-height: 16px;
			text-transform: uppercase;

			& + .admin-items {
				margin-top: 10px;
			}
		}

		&-export {
			margin-left: auto;
			.medium();
			font-size: 13px;
			line-height: 16px;
			text-transform: uppercase;
			color: #041121;
			cursor: pointer;

			svg {
				fill: none;
				margin-right: 14px;
				margin-top: -2px;
			}
		}

		&-date {
			margin-left: 25px;
			padding: 12px 18px;
			background: @light;
			border-radius: 4px;

			font-size: 13px;
			letter-spacing: 0.01em;

			color: #041121;

			svg {
				width: 16px;
				height: 16px;
				margin-right: 16px;
				fill: none;
				stroke: @dark;
			}

			input {
				.reg();
				font-size: 13px;
				line-height: 12px;
				letter-spacing: 0.01em;
				color: #041121;
				width: 120px;
			}
		}
	}

	&-items {
		margin-bottom: 40px;
		flex-wrap: wrap;
	}

	&-item {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 150px;
		height: 200px;
		flex-shrink: 0;
		margin-bottom: 15px;
		background: @light;
		box-shadow: 0px 4px 20px 2px rgba(0, 0, 0, 0.03);
		border-radius: 16px;
		padding: 15px;
		text-align: center;

		&:not(:last-child) {
			margin-right: 15px;
		}
	}

	&-circle {
		justify-content: center;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		background: #1756C5;

		svg {
			fill: none;
		}
	}

	&-name {
		margin-top: 10px;
		font-size: 14px;
		line-height: 120%;
		color: #4E4E4E;
	}

	&-value {
		margin-top: 10px;
		font-size: 14px;
		line-height: 120%;
	}

	&-list {
		&-item {
			width: 180px;
			padding: 10px 5px;
			.medium();
			font-size: 13px;
			line-height: 16px;
			text-transform: uppercase;
			color: #808080;
			position: relative;
			text-align: center;
			cursor: pointer;
			&.active {
				color: #4C4C4C;

				&::after {
					content: '';
					position: absolute;
					left: 0;
					bottom: -2px;
					width: 100%;
					height: 4px;
					background: #1756C5;
					border-radius: 24px;
				}
			}
		}
	}

	&-tabs {
		margin-top: 30px;
	}

	&-tab {
		max-width: 700px;
		display: none;

		&.active {
			display: block;
		}

		.btn-blue {
			display: block;
			margin-top: 10px;
			margin-left: auto;
			padding: 16px 50px;
			background: #1756C5;
			border: 1px solid #1756C5;
			color: @light;
		}
	}
}

.form-row {
	margin-bottom: 22px;
	.inputs {
		width: 100%;

		.input {
			&:not(:last-child) {
				margin-right: 13px;
			}

			.nice-select {
				height: 38px;
				line-height: 36px;
				background: #F5F5F5;
				border: 1px solid #EAEAEF;
			}
		}
	}

	.input {
		input {
			height: 38px;
			border: 1px solid #EAEAEF;
			border-radius: 7px;
		}

		.nice-select {
			height: 38px;
			line-height: 36px;
			border: 1px solid #EAEAEF;
		}

		& + .radio {
			margin-top: 12px;
		}
	}

	.radio {
		input:checked + .radio-box {
			border: 2px solid #1756C5;
			&::after {
				background: #1756C5;
			}
		}
		&-text {
			font-size: 14px;
			line-height: 13px;

			color: #7C8793;
		}
	}
}

.form-title {
	width: 200px;
	margin-right: 25px;
	flex-shrink: 0;
	font-size: 14px;
	line-height: 13px;
}

.table {
	width: 100%;
	position: relative;
	.actions {
		display: none;
		position: absolute;
		left: 75px;
		top: 0;
		width: calc(100% - 75px);
		height: 46px;		
		background: #F4F7FA;
		z-index: 2;

		&.active {
			display: flex;
		}

		&-btn {
			padding: 6px 12px;
			background: #1756C5;
			border-radius: 4px;
			font-size: 14px;
			line-height: 18px;
			color: @light;
			cursor: pointer;

			svg {
				margin-left: 10px;
				width: 24px;
				height: 24px;
				fill: @light;
				transform: rotate(-90deg);
				transition: .3s;
			}

			&.active {
				svg {
					transform: rotate(90deg);
					transition: .3s;
				}
			}
		}

		&-selected {
			.medium();
			margin-left: 14px;
			font-size: 14px;
			line-height: 110%;
			color: #757886;
			& > * {
				margin: 0 3px;
			}
		}

		&-drop {
			display: none;
			position: absolute;
			top: calc(100% + 3px);
			left: 0;
			width: 150px;
			background: @light;
			border: 1px solid #EAEAEF;
			border-radius: 4px;
			padding: 0 14px;

			&.active {
				display: block;
			}
		}

		&-links {
			padding: 14px 0;

			&:not(:last-child) {
				border-bottom: 1px solid #EAEAEF;
			}
		}

		&-link {
			display: inline-block;
			font-size: 14px;
			line-height: 110%;
			color: #041121;
			cursor: pointer;

			&:not(:last-child) {
				margin-bottom: 12px;
			}
		}
	}
	table {
		width: 100%;
		text-align: left;
	}
	th, td {
		.reg();
		padding: 15px 20px;
		font-size: 13px;
		letter-spacing: 0.01em;
		color: #707683;
		vertical-align: middle;
	}

	th {
		.check-box {
			border: 2px solid #7C8593;
		}
	}

	td {
		.check-box {
			border: 2px solid #D5D5D5;
		}
	}


	.check {
		display: block;
		&-box {
			width: 16px;
			height: 16px;
			margin-right: 0;
			border-radius: 4px;

			&::after {
				top: -1px;
			}
		}
		input:checked + .check-box {
			background: #1756C5;
			border: 2px solid #1756C5;
			&::after {
				content: url('../img/minified-svg/checked.svg');
			}
		}
	}

	thead {
		background: #F4F7FA;
		border-radius: 4px;
	}

	tbody {
		tr {
			border-bottom: 1px solid #E1E1E1;
		}

		td {
			padding: 25px 20px;
			vertical-align: middle;
		}
	}

	.sort {
		cursor: pointer;
		white-space: nowrap;
		span {
			position: relative;
			&::after {
				content: url('../img/minified-svg/dropdown.svg');
				position: absolute;
				top: 0;
				right: -15px;
			}
		}
		&.active {
			span::after {
				transform: rotate(180deg);
				top: 2px;
			}
		}
	}

	&-direct {
		span {
			position: relative;
			padding-left: 15px;
			&::before {
				content: '';
				position: absolute;
				top: 2px;
				left: 0;
				width: 10px;
				height: 10px;
				border-radius: 50%;
				background: @dark;
			}
		}
	}

	&-eco {
		span {
			position: relative;
			padding-left: 15px;
			&::before {
				content: '';
				position: absolute;
				top: 2px;
				left: 0;
				width: 10px;
				height: 10px;
				border-radius: 50%;
				background: #4CBE3B;
			}
		}
	}

	.status {
		text-align: center;
		&.success {
			span {
				border: 1px solid #155724;
				color: #155724;
			}

			&:hover {
				span {
					background: #155724;
					color: @light;
				}
			}
		}
		&.error {
			span {
				border: 1px solid #CF2637;
				color: #CF2637;
			}

			&:hover {
				span {
					background: #CF2637;
					color: @light;
				}
			}
		}
		&.waiting {
			span {
				border: 1px solid #FED83F;
			}

			&:hover {
				span {
					background: #FED83F;
				}
			}
		}
		span {
			display: block;
			padding: 7px 10px;
			font-size: 13px;
			line-height: 12px;
			letter-spacing: 0.01em;
			border-radius: 60px;
		}
	}

	&-user {
		margin-bottom: 5px;
		img {
			width: 20px;
			height: 20px;
			border-radius: 50%;
			margin-right: 8px;
		}
	}

	.platform {
		position: relative;
		&::before {
			width: 20px;
			height: 20px;
			display: block;
			margin-right: 8px;
		}
		&.zoom {
			&::before {
				content: url('../img/minified-svg/zoom.svg');
			}
		}
		&.skype {
			&::before {
				content: url('../img/minified-svg/skype.svg');
			}
		}
		&.whatsapp {
			&::before {
				content: url('../img/minified-svg/whatsapp.svg');
			}
		}
		&.hangouts {
			&::before {
				content: url('../img/minified-svg/hangouts.svg');
			}
		}
	}

	&-more {
		cursor: pointer;
	}

	&-empty {
		border-bottom: 1px solid #E1E1E1;
		letter-spacing: 0.01em;
		color: @dark !important;
	}

	&-actions {
		& > * {
			cursor: pointer;
			margin-right: 12px;

			svg {
				fill: none;
			}
		}
	}

	&-volont {
		.not-volont {
			display: inline-block;
			border: 1px solid #CF2637;
			border-radius: 16px;
			padding: 1px 5px 4px;
			font-size: 13px;
			line-height: 13px;
			text-transform: lowercase;
			color: #CF2637;
		}
	}

	&-dots {
		position: relative;
	}

	&-drop {
		display: none;
		position: absolute;
		right: 0;
		top: calc(100% - 10px);
		background: @light;
		border: 1px solid #EAEAEF;
		box-shadow: 0px 4px 23px rgba(0, 0, 0, 0.07);
		border-radius: 9px;
		z-index: 2;

		&.active {
			display: block;
		}
	}

	&-links {
		padding: 10px 7px;

		&:not(:last-child) {
			border-bottom: 1px solid #EAEAEF;
		}
	}

	&-link {
		padding: 13px;
		font-size: 13px;
		line-height: 12px;
		color: #041121;
		cursor: pointer;
		white-space: nowrap;

		svg {
			margin-right: 12px;
			fill: none;
		}
	}

	&-delete {
		color: #CF2637;
	}



	&-kurator {
		.status {
			text-align: left;
			span {
				padding: 0;
				border-radius: 0;
			}

			&.success {
				span {
					border: none;
					color: #155724;
				}

				&:hover {
					span {
						background: transparent;
						color: #155724;
					}
				}
			}

			&.error {
				span {
					border: none;
					color: #CF2637;
				}

				&:hover {
					span {
						background: transparent;
						color: #CF2637;
					}
				}
			}

			&.waiting {
				span {
					border: none;
					color: #856404;
				}

				&:hover {
					span {
						background: transparent;
						color: #856404;
					}
				}
			}
		}
	}
}

.add {
	margin-left: auto;

	.draft {
		padding-right: 40px;
		border-right: 2px solid #DCE0E9;
	}

	&-buttons {
		padding-left: 20px;

		.btn {
			margin-left: 20px;
		}
	}

	&-row {
		margin-bottom: 26px;
		.ck-content {
			min-height: 300px;
			border-color: #D9D9DE !important;
		}

		.ck.ck-toolbar {
			border: 1px solid #D9D9DE !important;
		}

		.input-date {
			input {
				height: 40px;
				border: 1px solid #EAEAEF;
			}

			.input-icon {
				top: auto;
				bottom: 13px;
				transform: none;
			}
		}
	}

	&-form {
		max-width: 660px;
		width: 100%;
		.input {
			width: 100%;
			& + .input {
				margin-top: 13px;
			}
			&-select {
				max-width: 50%;

				&:not(:last-child) {
					margin-right: 35px;
				}
			}
			.nice-select {
				width: 100%;
				height: 40px;
				line-height: 38px;
				padding-right: 80px;
				border: 1px solid #EAEAEF;
				float: none;
			}

			input, textarea {
				border: 1px solid #D9D9DE;
				border-radius: 4px;
			}

			&-flag {
				margin-right: 12px;
				flex-shrink: 0;
			}
		}

		.help-text {
			font-size: 13px;
			line-height: 120%;
			letter-spacing: 0.01em;

			color: #999999;
		}

		label.btn-blue {
			padding: 10px 15px;
			cursor: pointer;
			margin-top: 10px;
			border: 1px solid #1756C5;
			.medium();
			font-size: 13px;
			line-height: 16px;
			text-transform: uppercase;
			color: #1756C5;
			input {
				width: 1px;
				height: 1px;
				overflow: hidden;
				position: absolute;
				clip: rect(0, 0, 0, 0);
			}
		}
	}

}

.draft {
	cursor: pointer;
	input {
		position: absolute;
		width: 1px;
		height: 1px;
		overflow: hidden;
		clip: rect(0, 0, 0, 0);

		&:checked + .draft-box {
			background: #1756C5;

			&::after {
				left: auto;
				right: 4px;
				transition: .5s;
			}
		}
	}
	&-box {
		width: 46px;
		height: 26px;
		background: #BFC5DA;
		border-radius: 70px;
		margin-right: 15px;
		position: relative;

		&::after {
			content: '';
			position: absolute;
			left: 4px;
			top: 50%;
			transform: translateY(-50%);
			width: 20px;
			height: 20px;
			background: @light;
			border-radius: 50%;
			transition: .5s;
		}
	}

	&-text {
		font-size: 14px;
		line-height: 120%;
		color: #041121;
	}
}

.navbar {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	position: sticky;
	top: 0;
	left: 0;
	padding: 30px 13px;
	background: #19212C;
	min-height: 100vh;
	max-height: 100vh;
	max-width: 250px;
	flex-shrink: 0;

	&-bottom {
		width: 100%;
		margin-top: 20px;
	}

	&-menu {
		margin-top: 25px;

		&:not(:last-child) {
			border-bottom: 1px solid #2A3440;
			margin-bottom: 25px;
		}
		&-item {
			font-size: 14px;
			color: @light;
			margin-bottom: 13px;
			& > a {
				padding: 6px 12px;
				border-radius: 7px;

				&.active {
					background: #1756C5;

					& + ul {
						display: block;
					}

					svg {
						fill: @light;
					}
				}

				&:hover {
					color: @light;
				}
			}

			svg {
				width: 24px;
				margin-right: 10px;
				fill: #CCCCCC;
			}

			ul {
				display: none;
				margin-top: 8px;
				margin-left: 36px;

				li {
					list-style-type: disc;
					list-style-position: inside;
					padding: 6px 12px;
					border-radius: 4px;
					cursor: pointer;
					&:not(:last-child) {
						margin-bottom: 10px;
					}

					&.active, &:hover {
						background: #28313D;
					}
				}
			}
		}
	}
}

.profile {
	width: 100%;
	cursor: pointer;

	&.active {
		.profile-arrow {
			transform: rotate(180deg);
			transition: .5s;
		}
	}
	&-photo {
		width: 40px;
		height: 40px;
		margin-right: 10px;
		img {
			width: 100%;
			height: 100%;
			border-radius: 50%;
		}
	}
	&-name {
		font-size: 14px;
		color: @light;
	}

	&-arrow {
		display: inline-flex;
		margin-left: auto;
		transition: .5s;
	}

	&-settings {
		display: none;
		margin-bottom: 10px;
		padding: 20px 14px;
		border: 1px solid #616D7C;
		border-radius: 2px;
	}

	&-link {
		font-size: 15px;
		line-height: 150%;
		color: @light;
		&:not(:last-child) {
			margin-bottom: 12px;
		}
		svg {
			width: 16px;
			height: 16px;
			fill: none;
			margin-right: 8px;
			stroke: @light;
		}
	}

	&-rating {
		background: #28313D;
		margin-bottom: 50px;
		border-radius: 6px;
		padding: 10px 17px;

		.text {
			color: #D1D3D5;
		}

		.progress {
			margin-top: 10px;
			background: #475161;
			width: 100%;
			height: 4px;
			border-radius: 6px;
			overflow: hidden;
			position: relative;
			&-active {
				background: @light;
				border-radius: 6px;
				position: absolute;
				left: 0;
				top: 0;
				height: 100%;
				transition: .5s;
			}
		}
	}

	&-num {
		margin-top: 10px;
		font-size: 15px;
		color: @light;
	}
}

.view-more {
	padding: 24px 0;
	justify-content: space-between;
}

.view-option {
	.nice-select {
		margin-right: 10px;
		width: 60px;
		height: 32px;
		line-height: 32px;
		border: none;
		background: #F4F7FA;
		border-radius: 3px;
		padding: 0 24px 0 12px;

		&::after {
			border-bottom: 2px solid #041121;
			border-right: 2px solid #041121;
		}

		.list {
			width: 100%;
		}
		.option {
			padding-left: 10px;
			padding-right: 10px;
			min-height: 30px;
			line-height: 30px;
		}
	}
}

.view-showed {
	font-size: 14px;
	line-height: 13px;
	color: #606F89;
}

.pagination {
	&-arrow {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 32px;
		height: 32px;
		cursor: pointer;
		svg {
			fill: #42526E;
		}
		&.disabled {
			svg {
				fill: #A5ADBA;
			}
		}
	}
	&-next {
		svg {
			transform: rotate(180deg);
		}
	}
	&-num {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 32px;
		height: 32px;
		flex-shrink: 0;
		padding: 6px 12px;
		font-size: 14px;
		line-height: 20px;
		border-radius: 3px;
		cursor: pointer;

		&.active {					
			background: #1756C5;
			color: @light;
		}
	}
}

.volont {
	&-slider {
		margin-top: 40px;
		.swiper-container {
			padding-bottom: 10px;
		}
		.swiper-slide {
			text-align: center;
		}
	}
	&-title {
		margin-top: 60px;
		.medium();
		font-size: 20px;
		line-height: 120%;
		color: #1F1F1F;
	}

	&-text {
		max-width: 600px;
		margin: 15px auto 0 auto;
		font-size: 14px;
		line-height: 120%;
		color: #1F1F1F;
	}

	&-pagination {
		margin-top: 50px;
		text-align: center;
		.swiper-pagination-bullet {
			background: rgba(23, 86, 197, 0.5);
			opacity: 1;
			width: 5px;
			height: 5px;
			border-radius: 50%;

			&-active {
				background: #1756C5;
				width: 10px;
				border-radius: 5px;
			}
		}
	}

	&-next {
		margin: 60px auto 0 auto;
		justify-content: center;
		width: 70px;
		height: 70px;
		border-radius: 50%;
		border: 1px solid #1756C5;
		cursor: pointer;
		position: relative;

		&::before {
			content: '';
			position: absolute;
			top: -5px;
			left: 50%;
			transform: translateX(-50%);
			width: 10px;
			height: 10px;
			background: #1756C5;
			border-radius: 50%;
		}

		&.slide-2 {
			&::before {
				top: 50%;
				left: auto;
				right: -5px;
				transform: translateY(-50%);
			}
		}

		&.slide-3 {
			&::before {
				top: auto;
				bottom: -5px;
				left: 50%;
				transform: translateX(-50%);
			}
		}

		&.slide-4 {
			&::before {
				top: 50%;
				left: -5px;
				transform: translateY(-50%);
			}
		}
	}

	&-circle {
		justify-content: center;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		background: #1756C5;
		box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);

		svg {
			fill: @light;
		}
	}
}

.tour {
	margin-left: auto;
	padding: 12px 18px;
	background: #EAEAEF;
	border-radius: 4px;
	.reg();
	font-size: 14px;
	line-height: 100%;
	color: #17161A;

	svg {
		margin-left: 16px;
	}
}

.events {
	margin-top: 20px;
	max-width: 700px;
	max-height: 580px;
	overflow-y: auto;
	padding-right: 20px;

	&::-webkit-scrollbar {
		width: 9px;
	}

	&::-webkit-scrollbar-track {
		background: #E6E6E6;
		border-radius: 16px;
	}

	&::-webkit-scrollbar-thumb {
		background: #707683;
		border-radius: 8px;
	}
}

.event {
	margin-bottom: 16px;
	&.blue {
		.event-icon {
			border: 2px solid #1756C5;
			&::after {
				content: url(../img/minified-svg/event-blue.svg);
				height: 100%;
			}
		}
		.event-status {
			border: 1px solid #1756C5;
			color: #1756C5;
		}
	}
	&.green {
		.event-icon {
			border: 2px solid #155724;
			&::after {
				content: url(../img/minified-svg/event-green.svg);
			}
		}
		.event-status {
			border: 1px solid #155724;
			color: #155724;
		}
	}
	&.red {
		.event-icon {
			border: 2px solid #CF2637;
			&::after {
				content: url(../img/minified-svg/event-red.svg);
				height: 125%;
			}
		}
		.event-status {
			border: 1px solid #CF2637;
			color: #CF2637;
		}
	}
	&-left {
		flex-direction: column;
		justify-content: space-between;
		width: 24px;
		flex-shrink: 0;
		margin-right: 16px;
		height: 100%;
	}
	&-icon {
		justify-content: center;
		width: 24px;
		height: 24px;
		border-radius: 50%;
		margin-bottom: 4px;
		flex-shrink: 0;

		&::after {
			display: inline-block;
		}
	}
	&-line {
		height: 100%;
		width: 1px;
		background: #CCCCCC;
	}
	&-info {
		font-size: 13px;
		line-height: 120%;
		letter-spacing: 0.01em;
	}
	&-name {
		color: #4C4C4C;
	}
	&-more {
		margin-top: 8px;
		color: #808080;
		p {
			margin: 1px;
		}
	}
	&-date {
		margin-top: 8px;
		color: #4C4C4C;
		& > * {
			margin-right: 4px;
		}
		svg {
			fill: none;
		}
	}

	&-status {
		height: 26px;
		padding: 5px 15px;
		margin-left: auto;
		font-size: 13px;
		line-height: 120%;
		letter-spacing: 0.01em;
		border-radius: 60px;
	}
}

.graph {
	position: relative;
	margin-top: 35px;
	padding-bottom: 25px;
	margin-bottom: 50px;
	max-width: 1500px;
	overflow: hidden;
	overflow-x: auto;

	&::-webkit-scrollbar {
		height: 6px;
	}

	&::-webkit-scrollbar-track {
		background: #E6E6E6;
		border-radius: 16px;
	}

	&::-webkit-scrollbar-thumb {
		background: #707683;
		border-radius: 8px;
	}

	&-view {
		width: 100%;
	}
	&-num {
		.medium();
		width: 100%;
		margin-bottom: 30px;
		font-size: 14px;
		line-height: 15px;
		letter-spacing: 0.01em;
		color: #A6ACBE;
		position: relative;

		&::after {
			content: '';
			position: absolute;
			width: 100%;
			top: 50%;
			transform: translateY(-50%);
			left: 32px;
			border-bottom: 1px dashed #EDEFF5;
		}
	}
	&-bottom {
		padding: 0 80px;
	}

	&-day {
		margin-right: 80px;
		width: 32px;
		flex-shrink: 0;
		text-align: center;
		position: relative;

		&:first-child .graph-date {
			background: #1756C5;
			color: @light;
		}

		.help-date {
			.medium();
			font-size: 14px;
			line-height: 100%;
			color: @light;
		}

		.help-list {
			margin-top: 12px;
			li {
				padding: 6px 0;
				white-space: nowrap;
				font-size: 12px;
				line-height: 100%;
				color: @light;
				&:not(:last-child) {
					border-bottom: 1px solid rgba(255, 255, 255, 0.3);
				}
			}
		}
	}

	&-wrap {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: calc(100% + 37.5px);

		.help {
			position: unset;
			z-index: auto;
		}

		.help-text {
			text-align: left;
			width: 125px;
			z-index: 4;
			left: unset;
			right: calc(100% + 24px);
			&::before {
				content: '';
				position: absolute;
				top: 7px;
				right: -8px;
				left: auto;
				border: 10px solid transparent; 
				border-left: 10px solid #343A40;
				border-right: 0;
			}
		}

		&:hover .help-text {
			display: block;
		}
	}

	&-value {
		position: relative;
		width: 10px;
		height: 100%;
		background: #1756C5;
		border-radius: 5px;
		z-index: 2;
	}

	&-weekday {
		.medium();
		font-size: 14px;
		line-height: 100%;
		letter-spacing: 0.01em;
		color: #A6ACBE;
	}
	&-date {
		margin: 13px auto 0 auto;
		width: 24px;
		height: 24px;
		.medium();
		font-size: 12px;
		line-height: 24px;
		border-radius: 50%;
		text-align: center;
		letter-spacing: 0.01em;
		color: #4C5862;
	}

	&-settings {
		margin-left: auto;
	}

	&-setting {
		margin-left: 12px;
		padding: 6px 21px;
		background: @light;
		border-radius: 4px;
		position: relative;

		font-size: 14px;
		line-height: 20px;
		color: #79858F;
		cursor: pointer;

		&.active {
			background: #DEE0E9;
			color: #333333;
		}

		&::after {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			bottom: -2px;
			left: 0;
			background: #EDEDF6;
			border-radius: 4px;
			z-index: -1;
		}
	}
}

.gray-block {
	margin-top: 20px;
	background: #FAFAFA;
	border-radius: 8px;
	padding: 40px 0;
	text-align: center;

	.empty-text {
		margin-top: 40px;
		font-size: 14px;
		line-height: 120%;
		color: #4C4C4C;
	}
}

.datepicker--cell.-selected-,.datepicker--cell.-selected-.-focus-, .datepicker--cell.-focus-, .datepicker--cell.-selected-.-current- {
	background: #1756C5;
	color: @light;
}

.overlay {
	display: none;
	align-items: flex-start;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(51, 51, 51, 0.5);
	z-index: 4;
	padding: 100px;

	&.active {
		display: flex;
	}
}

.modal {
	background: @light;
	border-radius: 4px;
	display: none;
	&.active {
		display: block;
	}
	&-request, &-write {
		width: 870px;
	}

	&-anketa {
		width: 420px;
	}

	&-delete {
		width: 690px;
	}

	&-head {
		padding: 20px 35px;
		position: relative;

		& + .modal-content {
			padding-top: 0;
		}
	}

	&-title {
		.medium();
		font-size: 22px;
		line-height: 140%;
	}

	&-desc {
		margin-top: 5px;
		font-size: 13px;
		line-height: 146%;
		color: #76767A;
	}

	&-close {
		position: absolute;
		top: 50%;
		right: 34px;
		transform: translateY(-50%);
		font-size: 32px;
		line-height: 24px;
		color: #999999;
		cursor: pointer;
	}

	&-info {
		padding: 30px 35px;
		background: #F5F5F5;
	}

	&-col {
		&:not(:last-child) {
			margin-right: 45px;
		}

		&-title {
			font-size: 12px;
			line-height: 140%;
			color: #76767A;
		}

		&-text {
			margin-top: 5px;
			font-size: 15px;
			line-height: 150%;
			color: #333333;
			max-width: 160px;
		}
	}

	&-content {
		padding: 20px 35px 35px 35px;

		.input {
			margin-top: 9px;
			textarea {
				border: 2px solid #EAEAEF;
				border-radius: 8px;
			}
		}
	}

	&-volonts {
		justify-content: space-between;
		flex-wrap: wrap;
		margin-top: 10px;
	}

	&-volont {
		max-width: 50%;
		width: 100%;
		&-image {
			margin-right: 20px;
			img {
				width: 100px;
				height: 100px;
				border-radius: 50%;
			}

			& + .modal-volont-name {
				margin-top: 17px;
				padding-bottom: 20px;
				border-bottom: 1px solid #D9D9DE;
			}
		}
		&-name {
			.medium();
			font-size: 18px;
			line-height: 140%;

			.rating {
				margin-left: 14px;
				color: #1756C5;
				svg {
					margin-left: 2px;
				}
			}
		}
		&-phone, &-email {
			display: block;
			margin-top: 2px;
			font-size: 15px;
			line-height: 150%;
		}
	}

	&-link {
		margin-top: 25px;
	}

	.btn-blue {
		display: block;
		margin-top: 20px;
		margin-left: auto;
		padding: 10px 30px;
		background: #1756C5;
		border: 1px solid #1756C5;
		color: @light;
	}

	.content-socials {
		margin-top: 4px;
		justify-content: flex-start;
	}

	.content-social {
		margin-right: 8px;
		margin-left: 0;
	}
	&-row {
		margin-top: 20px;
	}
	&-name {
		margin-bottom: 4px;
		font-size: 15px;
		line-height: 150%;
		color: #999999;
	}

	&-direction {
		margin-right: 12px;
		padding: 4px 8px;
		background: #F5F5F5;
		border-radius: 4px;
		font-size: 13px;
		line-height: 146%;
	}

	&-vol {
		padding: 30px 0;
		border-bottom: 1px solid #D9D9DE;
		&-name {
			font-size: 13px;
			line-height: 146%;
			width: 125px;
			margin-right: 40px;
			flex-shrink: 0;
		}

		.radio {
			&:not(:last-child) {
				margin-bottom: 12px;
			}
			input:checked + .radio-box {
				border: 2px solid #1756C5;
				&::after {
					background: #1756C5;
				}
			}
			&-text {
				font-size: 12px;
				line-height: 140%;
				color: #333333;
			}
		}

		.input {
			textarea {
				border: 0.8px solid #D9D9DE;
			}
		}
	}

	&-radios {
		width: 85px;
		margin-right: 50px;
		flex-shrink: 0;
	}

	&-variants {
		margin-bottom: 15px;
	}

	&-variant {
		max-width: 85px;
		margin-right: 50px;
		width: 100%;
		font-size: 12px;
		line-height: 140%;
		color: #333333;
		flex-shrink: 0;
	}

	&-alert {
		padding: 12px 35px;
		background: rgba(244, 237, 178, 0.35);

		svg {
			fill: none;
			margin-right: 13px;
		}
	}
	&-group {
		width: 100%;
		.modal-col-text {
			max-width: 100%;
		}
	}

	&-remove {
		width: 245px;
		padding: 16px;
		background: #76767A;
		border-radius: 2px;
		.medium();
		font-size: 13px;
		line-height: 100%;
		color: @light;
		text-transform: uppercase;
	}

	&-cancel {
		margin-left: 25px;
		font-size: 15px;
		line-height: 100%;
		color: #1756C5;
	}
}

.no-scroll {
	overflow: hidden;
}

.help {
	.reg();
	font-size: 14px;
	line-height: 140%;
	color: @light;
	text-transform: none;
	position: relative;
	z-index: 3;

	&:hover {
		.help-text {
			display: block;
		}
	}

	&-icon {
		margin-left: 12px;
		cursor: pointer;
	}

	&-text {
		display: none;
		position: absolute;
		left: calc(100% + 24px);
		top: -10px;
		width: 285px;
		padding: 6px 12px;
		background: #343A40;
		border-radius: 4px;

		&::before {
			content: '';
			position: absolute;
			top: 7px;
			left: -18px;
			border: 10px solid transparent; 
			border-right: 10px solid #343A40;
		}
	}
}

.school-list {
	margin-bottom: 30px;
	font-size: 16px;
	line-height: 15px;
	text-transform: uppercase;
	color: @dark;

	.btn-blue {
		margin-top: 0;
		background: @light;
		padding: 5px 20px;
		border: 1px solid #1756C5;
		text-transform: uppercase;
		color: #1756C5;
	}
}

.school-item {
	width: 100%;

	&:not(:last-child) {
		border-bottom: 1px solid #D9D9DE;
		padding-bottom: 30px;
		margin-bottom: 30px;
	}
}

.kurator {
	&-info {
		.input-column {
			background: #EAEAEF;
			border-radius: 4px;

			svg {
				fill: #041121;
			}

			&.active {
				background: #1756C5;
				svg {
					fill: @light;
				}
			}
		}
	}

	&-row {
		margin: 24px 0;
		.input {
			margin-right: 13px;
			max-width: 200px;
			.nice-select {
				background: #F5F5F7;
				border-radius: 2px;
				height: 42px;
				line-height: 40px;
				color: #7C8793;
			}
		}
	}

	&-empty {
		margin-top: 50px;
		text-align: center;

		.empty-title {
			margin-top: 25px;
			.medium();
			font-size: 18px;
			line-height: 117.5%;
			color: rgba(4, 17, 33, 0.8);
		}

		.empty-text {
			margin-top: 8px;
			font-size: 14px;
			line-height: 117.5%;
			color: rgba(4, 17, 33, 0.6);
		}

		.btn-blue {
			margin-top: 22px;
			border-radius: 7px;
			background: #1756C5;
			padding: 12px 22px;
			border: none;
			text-transform: uppercase;
			color: @light;
		}
	}
}

.add-classes {
	margin-top: 30px;
	margin-bottom: 30px;
	padding-top: 30px;
	padding-bottom: 30px;
	border-top: 1px solid #EAEAEF;
	border-bottom: 1px solid #EAEAEF;

	.add-title {
		font-size: 14px;
		line-height: 13px;
		color: #041121;
	}
	.add-text {
		margin-top: 4px;
		font-size: 12px;
		line-height: 150%;
		color: #999999;
	}

	.add-newclass {
		margin-left: auto;
		font-size: 13px;
		line-height: 124%;
		text-align: right;
		text-transform: uppercase;
		color: #1756C5;
		border-bottom: 1px solid #1756C5;
		cursor: pointer;
	}

	&-item {
		margin-right: 12px;
		background: #F5F5F5;
		border-radius: 4px;
		padding: 4px 8px;
		font-size: 13px;
		line-height: 146%;
		cursor: pointer;
	}

	&-check {
		margin-top: 20px;
		column-count: 4;
		column-gap: 85px;
	}

	.check {
		display: inline-flex;
		width: 100%;
		margin-top: 6px;
		&-box {
			border: 1px solid #E4E4E4;
			width: 16px;
			height: 16px;
			margin-right: 8px;
			border-radius: 4px;

			&::after {
				top: -1px;
			}
		}
		input:checked + .check-box {
			background: #1756C5;
			border: 2px solid #1756C5;
			&::after {
				content: url('../img/minified-svg/checked.svg');
				margin-top: -3px;
			}
		}

		&-text {
			font-size: 15px;
			line-height: 150%;
			color: @dark;
		}
	}
}

.back {
	font-size: 14px;
	line-height: 13px;
	color: #79858F;

	svg {
		fill: #79858F;
	}
}

.admin-calendar {
	margin-left: 20px;
	width: 270px;
	flex-shrink: 0;
	background: #FFFFFF;
	box-shadow: 0px 5.008px 21.8px rgba(15, 34, 81, 0.1);
	border-radius: 4px;
	max-height: 1000px;
	overflow: hidden;
	overflow-y: auto;
	&::-webkit-scrollbar {
		width: 9px;
	}

	&::-webkit-scrollbar-track {
		background: #E6E6E6;
		border-radius: 16px;
	}

	&::-webkit-scrollbar-thumb {
		background: #BFC5DA;
		border-radius: 8px;
	}
	&-head {
		padding: 20px;
		font-size: 14px;
		line-height: 120%;
		color: #041121;
		svg {
			margin-right: 10px;
			fill: #BFC5DA;
		}
	}
	&-date {
		text-align: right;
		padding-right: 8px;
		border-bottom: 1px solid #CCCCCC;
		font-size: 12px;
		line-height: 120%;
		color: #4C4C4C;
	}

	&-elem {
		padding: 16px;

		.elem-name {
			.medium();
			font-size: 14px;
			line-height: 120%;
			color: #5C5C5C;
		}

		.elem-items {
			font-size: 14px;
			line-height: 120%;
			color: #4C4C4C;
		}

		.elem-date {
			margin-top: 4px;
			font-size: 12px;
			line-height: 120%;
			color: #808080;
		}
	}
}

.alerts {
	display: none;
	position: fixed;
	right: 40px;
	bottom: 40px;
	z-index: 5;
	&.active {
		display: block;
	}
}

.alert {
	width: 360px;
	margin-top: 30px;
	filter: drop-shadow(0px 9px 36px rgba(0, 0, 0, 0.08));
	border-radius: 4px;
	&.error {
		background: #F5C6CB;
		.alert-head {
			border-bottom: 1.5px solid rgb(45%, 11%, 14%, .64);
		}
		.alert-text {
			color: #CF2637;
		}
	}
	&.success {
		background: #C3E6CB;
		.alert-head {
			border-bottom: 1.5px solid rgb(8%, 34%, 14%, .64);
		}
		.alert-text {
			color: #155724;
		}
	}
	&.warning {
		background: #FFEEBA;
		.alert-head {
			border-bottom: 1.5px solid rgb(52%, 39%, 2%, 0.64);
		}
		.alert-text {
			color: #856404;
		}
	}
	&-head {
		padding: 12px 20px;
	}
	&-close {
		margin-left: auto;
		font-size: 36px;
		color: #79858F;
		cursor: pointer;
	}
	&-text {
		padding: 12px 20px 20px 20px;
		font-size: 16px;
		line-height: 132%;
		letter-spacing: 0.01em;
	}

	&-path {
		fill: none !important;
	}
}

.admin-reference {
	margin-left: 64px;
	max-width: 470px;

	&-title {
		.medium();
		font-size: 16px;
		line-height: 15px;
		color: #041121;
	}

	&-text {
		margin-top: 10px;
		font-size: 12px;
		line-height: 120%;
		color: #041121;

		li, p {
			margin-bottom: 10px;
		}

		a {
			color: @blue;
			border-bottom: 1px solid @blue;
		}

		li {
			list-style-type: numeric;
			list-style-position: inside;
		}
	}
}


.admin {

	.fc table {
		box-sizing: content-box;
		border-color: #B5BDC5;
	}

	.fc-header-toolbar {
		padding: 0;
	}

	.fc-button-primary {
		background: #EAEAEF;
		padding: 12px 24px;
		.reg();
		font-size: 18px;
		line-height: 100%;
		color: #19212C;
		border: none ;

		&:hover {
			border: none;
		}
	}

	.fc-button-group > .fc-button:not(:first-child) {
		margin-left: 0;
	}

	.fc-unthemed td.fc-today {
		background: none;
	}

	.fc-button-primary:not(:disabled):active, .fc-button-primary:not(:disabled).fc-button-active {
		color: @light;
		background-color: #1756C5;
		border-color: #1756C5;
	}

	.fc-unthemed th, .fc-unthemed td,  .fc-unthemed .fc-divider, .fc-unthemed .fc-row, .fc-unthemed .fc-content, .fc-unthemed .fc-popover, .fc-unthemed .fc-list-view, .fc-unthemed .fc-list-heading td {
		border-color: #B5BDC5;
	}

	.fc th {
		.bold();
		padding: 16px;
		font-size: 24px;
		line-height: 100%;
		text-align: center;
		color: #79858F;
		background: rgba(230, 238, 247, 0.32);
		text-transform: capitalize;

		&.fc-axis {
			padding: 0;
		}
	}

	.fc .fc-row .fc-content-skeleton table, .fc .fc-row .fc-content-skeleton td, .fc .fc-row .fc-mirror-skeleton td {
		.reg();
		font-size: 14px;
		line-height: 100%;
		color: #19212C;
	}

	.fc-day, .fc-day-top {
		// height: 204px;
	}

	.fc-day-number {
		margin: 12px;
	}

	.fc-center {
		display: flex;
		align-items: center;

		.fc-button-primary {
			background: transparent;
			padding: 0;
		}
	}

	.fc-toolbar h2 {
		.reg();
		font-size: 20px;
		line-height: 100%;
		color: #17161A;
	}

	.fc-dayGrid-view .fc-body .fc-row {
		height: 204px !important;
	}

	.fc-day-grid-container, .fc-scroller {
		height: 100% !important;
		overflow: hidden !important;
	}

	.fc-event, .fc-event-dot {
		padding: 10px;
		background: rgba(25, 33, 44, 0.24);
		border-radius: 4px;
		border: none;
	}

	.fc-event .fc-content {
		display: flex;
		padding: 0;
		.reg();
		font-size: 14px;
		line-height: 100%;
		color: #17161A;

		.fc-time {
			margin-right: 5px;
		}
	}

	.fc-ltr .fc-h-event.fc-not-start, .fc-rtl .fc-h-event.fc-not-end {
		margin: 1px 2px 0;
		border-left-width: 1px;
		padding-left: 10px;
		border-top-left-radius: 4px; 
		border-bottom-left-radius: 4px;
	}

	.fc-divider {
		// display: none;
	}

	.fc-axis {
		.reg();
		font-size: 14px;
		line-height: 100%;
		color: #79858F;
		height: 45px;
		width: 60px !important;
	}

	.fc-slats, .fc-bg {
		.fc-axis {
			border: none;
		}

		.fc-widget-content {
			box-sizing: border-box;
			padding: 5px;
			border-bottom: 0;
			border-right: 0;
		}
	}

	.fc-time-grid .fc-content-skeleton {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;

		table {
			height: 100%;
			& * {
				border: none !important;
			}
		}
	}

	.fc-row .fc-bg, .fc-row .fc-content-skeleton {
		// display: none;
	}

	.fc-popover .fc-header .fc-title {
		color: @dark;
	}
}

.admin-top {
	margin-top: 40px;
	flex-wrap: nowrap;
}

.admin-rasp {
	width: 162px;
	margin-right: 15px;
	margin-top: 65px;
	background: #F7F9FC;
	border: 1px solid #B5BDC5;
	border-radius: 8px;
	flex-shrink: 0;
	padding: 10px;
	&-item {
		background: @light;
		border: 0.972464px solid #EAEAEF;
		border-radius: 5.83478px;
		padding: 10px;
		margin-bottom: 10px;
	}

	&-dir {
		display: flex;
		align-items: center;
		font-size: 11px;
		line-height: 11px;
		color: #041121;

		&::before {
			content: '';
			margin-right: 5px;
			width: 8px;
			height: 8px;
			background: #17161A;
			border-radius: 50%;
		}

		&.green {
			&::before {
				background: #4CBE3B;
			}
		}
	}
	&-date {
		padding: 4px 10px;
		margin-left: auto;
		background: #F5F5F5;
		border-radius: 78.3089px;
		font-size: 11px;
		line-height: 11px;
		color: #041121;
	}

	&-class {
		margin-top: 5px;
		font-size: 12px;
		line-height: 11px;
		color: #041121;

		svg {
			margin-right: 6px;
		}
	}

	&-name {
		margin-top: 9px;
		font-size: 11px;
		line-height: 11px;
		color: @dark;
	}
}

.burger {
	display: none;
	cursor: pointer;
	height: 24px;
	margin-right: 20px;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	span {
		display: block;
		width: 32px;
		height: 3px;
		background: @dark;
		flex-shrink: 0;
		transition: .5s;
	}

	&.active {
		span {
			transition: .5s;
			&:nth-child(1) {
				transform: rotate(45deg) translate(7px, 7px);
				transition: .5s;
			}
			&:nth-child(2) {
				opacity: 0;
			}
			&:nth-child(3) {
				transform: rotate(-45deg) translate(7px, -7px);
				transition: .5s;
			}
		}
	}
}

.mobile-menu {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 250px;
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
	transform: translateX(-200%);
	transition: .5s;
	background: @light;
	z-index: 4;
	&.active {
		transform: translateX(0);
		transition: .5s;
	}
	.mobile-close {
		text-align: right;
		font-size: 32px;
		line-height: 24px;
		margin: 10px;
		color: @light;
	}

	.logo {
		margin-bottom: 15px;
	}
	.mobile-head {
		padding: 15px;
		width: 100%;
		background: @blue;
	}

	.nav-list {
		display: none;
	}
}

.bread {
	margin: 30px 0;
	&-row {
		flex-wrap: wrap;
	}
	&-link {
		font-size: 12px;
		line-height: 140%;
		color: #999999;

		&:not(:last-child) {
			margin-right: 20px;

			&::after {
				content: url(../img/minified-svg/bread-arrow.svg);
				margin-left: 15px;
			}
		}
	}
}

.contacts {

	& + .footer {
		margin-top: 0;
	}

	&-title {
		font-size: 40px;
		color: #333;
	}

	&-list {
		margin-top: 45px;
		li {
			margin-right: 40px;
			.medium();
			font-size: 18px;
			line-height: 140%;
			cursor: pointer;
			position: relative;
			&.active {
				&::after {
					content: '';
					position: absolute;
					left: 0;
					bottom: -10px;
					width: 100%;
					height: 4px;
					background: #008DA3;
				}
			}
		}
	}
	&-tabs {
		margin-top: 70px;
	}
	&-tab {
		display: none;
		position: relative;
		&.active {
			display: block;
		}

		.wrapper {
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			height: 100%;
			z-index: 2;
		}
	}

	&-map {
		width: 100%;
		height: 690px;
	}

	&-info {
		position: absolute;
		top: 50%;
		left: 0;
		background: @light;
		border-radius: 4px;
		transform: translateY(-50%);
		width: 500px;
		height: 345px;
		padding: 27px 35px;

		.title {
			color: #1CABE2;
		}

		.text {
			margin-top: 19px;
		}
	}

	&-phone {
		display: block;
		margin-top: 15px;
		.medium();
		font-size: 22px;
		line-height: 140%;
		color: #333333;

		&:hover {
			color: #1CABE2;
		}
	}

	&-email {
		display: block;
		margin-top: 11px;
		line-height: 24px;
		color: #333333;
	}
}

.response {
	justify-content: center;
	position: relative;
	min-height: 120vh;

	&-image {
		position: absolute;
		left: 0;
		top: 0;
		pointer-events: none;
	}

	&-center {
		margin-top: 175px;
		.title {
			color: #333;
		}
		.text {
			margin-top: 16px;
			max-width: 520px;
		}
		.btn {
			margin-top: 20px;
		}
	}

	&-icon {
		margin-right: 70px;
	}

	&-404 {
		.medium();
		font-size: 240px;
		line-height: 120%;
		color: #1CABE2;

		span {
			color: #EC324F;
		}
	}

	&-thanks {
		.medium();
		font-size: 140px;
		line-height: 120%;
		color: #E34E09;
	}
}

.layout {
	margin-top: 50px;
	padding-bottom: 100px;

	.table th, .table td {
		padding: 15px 10px;
		vertical-align: top;
	}

	&-content {
		margin-top: 50px;
	}

	.shrink {
		white-space: nowrap;
	}
}

.filters {
	width: 282px;
	flex-shrink: 0;
	margin-right: 70px;
	&-title {

	}

	&-form {
		margin-top: 25px;

		.input {
			margin-bottom: 20px;
			.nice-select, input {
				border: none;
				background: #FAFAFA;
				border-radius: 4px;
				float: none;
			}
		}
	}

	&-sort {
		margin-top: 30px;
		.sort-title {
			line-height: 120%;
			color: #7C8793;
			padding-bottom: 15px;
			border-bottom: 1px solid #D9D9DE;
		}

		.sort-link {
			display: block;
			margin-top: 15px;
			font-size: 13px;
			line-height: 146%;
			&.active {
				color: @blue;
			}
		}
	}
}

.volunteers {
	margin-top: 50px;
	width: 100%;
	flex-wrap: wrap;
}

.volunteer {
	display: block;
	width: 25%;
	padding: 0 32px;
	margin-bottom: 60px;
	text-align: center;

	&-image {
		position: relative;
		img {
			width: 150px;
			height: 150px;
			border-radius: 50%;
		}
	}

	&-rating {
		position: absolute;
		right: 20px;
		top: 10px;
		width: 28px;
		height: 28px;
		line-height: 28px;
		text-align: center;
		border-radius: 50%;
		background: #1756C5;
		.medium();
		font-size: 12px;
		color: #E9F3FF;
	}

	&-name {
		margin-top: 12px;
		line-height: 120%;
		.medium();
		color: #333333;
	}

	&-place {
		margin-top: 4px;
		font-size: 13px;
		line-height: 120%;
		color: #76767A;
	}
}

.schools {
	margin-top: 50px;
	width: 100%;

	.school {
		display: block;
		width: 100%;
		padding-bottom: 25px;
		margin-bottom: 30px;
		border-bottom: 1px solid #D9D9DE;

		&-title {
			.medium();
			font-size: 18px;
			line-height: 140%;
		}

		&-info {
			margin-top: 8px;
		}

		&-place {
			max-width: 435px;
			width: 100%;
			flex-shrink: 0;
			line-height: 24px;
			color: #333333;
		}
		&-phone {
			display: inline-block;
			width: 200px;
			margin-left: 45px;
			.medium();
			font-size: 18px;
			line-height: 140%;
			flex-shrink: 0;
		}

		&-user {
			line-height: 24px;
			color: #333333;
		}
	}
}

.articles {
	margin: 50px -15px 0 -15px;
	width: 100%;
	flex-wrap: wrap;

	.view-more {
		width: 100%;
	}
}

.article {
	width: calc(100% / 3 - 30px);
	margin: 0 15px 30px 15px;
	border: 1px solid #D9D9DE;
	border-radius: 4px;
	overflow: hidden;

	&-body {
		padding: 16px 24px;
	}

	&-image {
		width: calc(100% + 2px);
		height: 150px;
		margin: 0 -1px;
		img {
			width: 100%;
			height: 100%;
		}
	}

	&-date {
		font-size: 10px;
		line-height: 140%;
		color: #76767A;

		svg {
			fill: none;
			margin-right: 6px;
		}
	}

	&-title {
		margin-top: 8px;
		.medium();
		font-size: 18px;
		line-height: 140%;
		color: #333333;
	}
}

.full-gallery {
	.content-gallery {
		margin-top: 10px;
	}

	.content-photo {
		margin-bottom: 55px;
	}
}

.data-list {
	border-bottom: 1px solid #D9D9DE;
	padding-bottom: 10px;

	li {
		cursor: pointer;
		line-height: 120%;
		margin-right: 25px;
		position: relative;

		&.active {
			.medium();
			color: #1756C5;
			&::after {
				content: '';
				position: absolute;
				left: 0;
				bottom: -11px;
				width: 100%;
				height: 1px;
				background: #1756C5;
			}
		}
	}
}

.data-content {
	margin-top: 50px;

	.articles {
		margin-top: 0;
		margin-right: 70px;
	}
	.article {
		width: calc(100% / 2 - 30px);
		&-image {
			position: relative;
		}
		&-play {
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			width: 30px;
			height: 30px;
			border-radius: 50%;
			border: 3px solid @light;
			cursor: pointer;
		}
	}
}

.fancybox-content {
	width: 800px !important;
	height: 500px !important;
}

.data-item {
	padding: 12px 2px;
	border-bottom: 1px solid #E5E5EB;
	font-size: 14px;
	line-height: 120%;
	color: #333333;
	&:hover {
		.data-title {
			text-decoration: underline;
			color: @dark;
		}

		svg {
			fill: #333333;
		}

		.data-load {
			svg {
				fill: none;
				stroke: #E34E09;
			}
		}
	}
	svg {
		margin-right: 8px;
		fill: #CCCCCC;
	}
}

.data-items {
	margin-right: 30px;
	width: 100%;
}

.data-ctg {
	margin-left: auto;
	width: 320px;
	flex-shrink: 0;
	border: 1px solid #D9D9DE;
	border-radius: 2px;
	padding: 30px 32px;

	&-title {
		line-height: 120%;
		color: #7C8793;
	}

	.check {
		margin-top: 5px;
		&-box {
			border: 1px solid #E4E4E4;
			border-radius: 2px;
		}
		&-text {
			font-size: 15px;
			line-height: 150%;
			color: @dark;
		}
		input {
			&:checked + .check-box {
				background: #EC324F;
				border: 1px solid #EC324F;
				&::after {
					top: -4px;
					content: url('../img/minified-svg/checked.svg');
				}
			}
		}
	}
}

.data-buttons {
	margin-top: 40px;
	justify-content: space-between;

	.clear {
		padding: 12px 20px;
		font-size: 15px;
		line-height: 150%;
		text-transform: none;
		color: #7C8793;
		border: 1px solid #D9D9DE;
		border-radius: 2px;
	}

	.btn-blue {
		background: #1756C5;
		border: 1px solid #1756C5;
		border-radius: 2px;
		color: @light;
		font-size: 13px;
		line-height: 100%;
		text-transform: uppercase;
	}
}

.data-tab {
	display: none;
	&.active {
		display: block;
	}
}

.data-load {
	margin-left: auto;

	svg {
		margin-right: 0;
		fill: none;
		stroke: #1756C5;
		stroke-width: 1.3;
	}
}

.full-art {
	max-width: 700px;

	& > * {
		margin-bottom: 20px;
		color: #333333;
	}

	h2 {
		.medium();
		font-size: 20px;
		line-height: 120%;
	}

	p {
		font-size: 16px;
		line-height: 150%;
	}
}


.admin-sert {
	padding-bottom: 30px;
	border-bottom: 1px solid #D9D9DE;

	&-info {
		margin-top: 20px;
		margin-bottom: 30px;
		font-size: 14px;
		line-height: 140%;
		color: #041121;
	}
}

@media screen and (max-width: 1400px) {
	.wrapper {
		max-width: 1000px;
	}

	#mapa {
		width: 100% !important; 

		svg {
			max-width: 100%;
			height: auto;
		}
	}

	.nav-list-item {
		margin-right: 15px;
		font-size: 14px;
	}

	.slider-nav {

	}

	.slider .main-right {
		right: -10px;
	}

	.slider .main-left {
		left: -10px;
	}

	.kids-list {
		margin-left: 100px;
	}

	.search {
		width: 150px;
	}

	.login {
		margin-left: 25px;
	}

	.slider-content {
		padding: 25px 45px;
	}

	.slider-title {
		font-size: 24px;
		margin-left: 20px;
	}
	.slider-button {
		margin-top: 25px;
	}
	.slider-pagination {
		top: 25px;
	}

	.numbers .num {
		font-size: 24px;
	}

	.news, .partners, .footer {
		margin-top: 50px;
	}

	.news-item {
		width: calc(100% / 2 - 32px);
		margin-bottom: 24px;
	}

	.lectures-info {
		width: 200px;
	}

	.title {
		font-size: 24px;
	}

	.lecture {
		padding: 20px 16px 20px 32px;
	}

	.lecture-title {
		font-size: 16px;
		height: 70px;
	}

	.use-info {
		width: 300px;
		margin-right: 40px;
	}

	.unicef-kz .slider-title {
		margin-left: 0;
	}

	.partners-nav {
		display: none;
	}

	.partners-slider {
		margin-top: 20px;
	}

	.footer-column {
		margin-left: 20px;
	}

	.content-s {
		.content-left {
			display: none;
		}
	}

	.content .wrapper {
		padding-left: 15px;
		max-width: 100%;
	}

	.section-gray .wrapper {
		padding-left: 15px;
		max-width: 100%;
	}

	.section-gray {
		.content-left {
			display: none;
		}
	}

	.content {
		overflow: hidden;
	}

	.content-gallery {
		margin: 30px -15px 0 -15px;
		flex-wrap: wrap;
	}

	.content-photo {
		width: calc(100% / 3 - 30px);
		height: auto;
		margin: 0 15px 20px 15px;

		img {
			width: 100%;
		}
	}

	.priority-items {
		flex-wrap: wrap;
		justify-content: center;
	}

	.priority-item {
		margin: 0 20px 20px 20px;
	}

	.contacts-info {
		width: 400px;
		padding: 25px;
	}

	.contacts-phone {
		font-size: 16px;
	}

	.contacts-map {
		height: 500px;
	}

	.response-icon {
		width: 250px;
		height: 250px;
	}
	.response-404 {
		font-size: 200px;
	}

	.response {
		min-height: 100vh;
	}

	.response-image {
		height: 500px;
	}

	.response-center {
		margin-top: 100px;
	}

	.filters {
		width: 250px;
		margin-right: 50px;
	}

	.volunteer {
		width: calc(100% / 3);
		padding: 0 15px;
	}

	.schools .school-info {
		flex-wrap: wrap;
	}

	.schools .school-place {
		max-width: 100%;
		margin-bottom: 4px;
	}

	.schools .school-phone {
		margin-left: 0;
	}

	.table {
		overflow: hidden;
		overflow-x: auto;
	}

	.table table {
		width: max-content;
	}

	.view-more {
		flex-wrap: wrap-reverse;
	}

	.layout {
		padding-bottom: 50px;
	}

	.layout-content {
		max-width: 100%;
		overflow: hidden;
		padding-bottom: 75px;
		padding-left: 5px;
	}

	.pagination {
		margin: 15px 0;
	}

	.article {
		width: calc(100% / 2 - 30px);
	}
}


@media screen and (max-width: 1023px) {
	.wrapper {
		max-width: 800px;
	}
	.slider-nav {
		display: none;
	}

	.header .btn-light {
		margin-left: 15px;
	}

	.logo {
		font-size: 20px;
		margin-left: 0;
	}

	.nav-list {
		display: none;
	}

	.search {
		width: 100%;
	}

	.slider-title {
		font-size: 20px;
		margin-left: 0;
	}

	.slider-content {
		max-width: 60%;
		padding: 15px 10px 25px 45px;
	}

	.slider-pagination {
		display: none;
	}

	.slider-text {
		margin-left: 40px;
	}

	.kids-row {
		flex-wrap: wrap-reverse;
	}

	.kids-list {
		margin-left: 0;
		margin-bottom: 20px;
	}

	.numbers-content {
		flex-wrap: wrap;
		justify-content: center;
	}

	.numbers-item {
		margin-bottom: 20px;
	}
	.numbers .num {
		font-size: 40px;
	}

	.lectures {
		margin-top: 50px;
		overflow: hidden;
	}

	.lectures-content {
		flex-wrap: wrap;
	}

	.lectures-info {    
		display: flex;
		align-items: center;
		max-width: 100%;
		width: 100%;
		padding-right: 32px;
		margin-bottom: 20px;
	}
	.lectures .btn-blue {
		margin-left: auto;
		margin-top: 0;
	}

	.partners .swiper-slide {
		margin-right: 25px !important;
	}

	.footer-top {
		flex-wrap: wrap;
	}
	.footer-form {
		margin-left: 0;
		margin-top: 20px;
		max-width: 100%;
	}

	.burger {
		display: flex;
	}

	.mobile-menu {
		.nav-list {
			display: block;
			padding: 20px 15px;
		}

		.nav-list-item {
			font-size: 15px;
			margin-bottom: 15px;
		}
	}

	.auth-text {
		flex-wrap: wrap;
	}

	.contacts-info {
		width: 100%;
		left: 15px;
		height: auto;
		position: relative;
		top: 0;
		left: 0;
		transform: none;
		padding: 0 0 25px 0;
	}

	.contacts-tab .wrapper {
		position: relative;
		top: 0;
		left: 0;
		transform: none;
		order: 1;
	}

	.contacts-map {
		order: 2;
	}

	.contacts-tab.active {
		display: flex;
		flex-direction: column;
	}

	.response-icon {
		margin-right: 25px;
	}
	.response-404 {
		font-size: 150px;
	}
	.response-thanks {
		font-size: 100px;
	}

	.volunteer {
		width: 50%;
	}
}

@media screen and (max-width: 768px) {
	.slider {
		.swiper-slide {
			background-image: url(../img/general/slider-img1.png);
			background-repeat: no-repeat;
			background-color: @blue;
			height: auto;
			img {
				display: none;
			}
		}
	}

	.slider-content {
		position: relative;
		max-width: 100%;
		padding: 25px 25px 25px 100px;
	}
	.slider-title {
		margin-left: 0;
		color: @light;
	}
	.slider-text {
		margin-left: 0;
		color: @light;
	}

	.slider-button {
		margin-left: 0;
		color: @light;
		border: 1px solid @light;
	}

	.direction .swiper-slide {
		padding: 24px;
		width: calc(100% / 1 - 16px);
	}

	.use-content {
		flex-wrap: wrap;
	}

	.use-info {
		width: 100%;
		max-width: 100%;
		margin-right: 0;
	}

	.use .title {
		max-width: 100%;
	}
	.use-text, .use .btn-blue {
		margin-top: 20px;
	}
	.use-video {
		margin-top: 20px;
	}

	.unicef-kz .slider-content {
		max-width: 100%;
	}

	.direction-row {
		flex-wrap: wrap;

		.link {
			margin: 10px 0;
		}
	}

	.kids-image {
		flex-shrink: 1;
	}

	.numbers-item:not(:last-child) {
		margin-right: 0;
	}

	.numbers-item {
		margin: 0 20px 20px 20px;
	}

	.numbers-content {
		text-align: center;
	}

	.mission-title .title {
		font-size: 20px;
	}

	.mission .quote {
		top: -20px;
	}

	.news-item {
		width: calc(100% / 1 - 32px);
		padding: 20px 15px;
	}

	.lecture {
		width: calc(100% / 1 - 32px);
		margin: 0 16px 20px 32px;
	}
	.lectures-info {
		flex-wrap: wrap;
	}
	.logo-title {
		display: none;
	}

	.socials {
		display: none;
	}
	.lang {
		display: none;
	}
	
	.header .btn-light {
		margin-left: auto;
		text-align: center;
		text-transform: none;
		font-size: 12px;
	}
	.logo-qv {
		margin-right: 15px;
	}

	.btn {
		padding: 15px;
	}

	.lectures .btn-blue {
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.use {
		margin-top: 50px;
	}

	.use-video {
		height: 300px;
	}

	.unicef-kz {
		margin-top: 50px;
	}
	.footer-info {
		width: 100%;
	}
	.footer-column {
		margin-left: 0;
		margin-right: 20px;
		margin-bottom: 20px;
	}

	.news {
		overflow: hidden;
	}

	.auth-login {
		padding: 20px 15px;
	}

	.auth-row {
		flex-wrap: wrap;
	}
	.auth .forgot {
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.auth-header {
		padding: 20px 15px;
	}

	.auth-body {
		padding: 0 15px 20px 15px;
	}
	.auth-inputs .input {
		width: calc(100% / 1 - 32px);
		margin-bottom: 20px;
	}
	.auth .selects {
		flex-wrap: wrap;
	}
	.auth .selects .select {
		width: calc(100% / 1 - 12px);
		margin-bottom: 10px;
	}
	
	.input .nice-select .current {
		display: block;
		max-width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.input .nice-select .list {
		max-width: 100%;
	}
	.nice-select .option {
		max-width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.info .activity .text {
		font-size: 14px;
	}

	.content-row {
		flex-wrap: wrap;

		.content-right {
			margin-top: 20px;
		}
	}

	.response-icon {
		display: none;
	}

	.response-info {
		padding: 0 15px;
	}

	.response-404 {
		font-size: 100px;
	}

	.response-thanks {
		font-size: 60px;
	}

	.layout-row {
		flex-wrap: wrap;
	}
	.filters {
		width: 100%;
	}

	.filters-form {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		flex-wrap: wrap;

		.input {
			width: 49%;
		}
	}

	.filters-sort {
		margin-top: 0;
		width: 100%;
	}

	.article-title {
		font-size: 16px;
	}

	.article-body {
		padding: 15px;
	}
}

@media screen and (max-width: 480px) {
	#mapa::after {
		height: 0;
	}
	.auth-list {
		flex-direction: column;
	}

	.info-row {
		flex-direction: column;
	}

	.info-row > * {
		width: 100%;
		margin-bottom: 20px;
	}

	.info-row b {
		margin-top: 20px;
	}

	.content-photo {
		width: calc(100% / 2 - 30px);
	}

	.content-s, .content {
		padding: 20px 0;
	}

	.priority-icons svg {
		width: 50px;
		height: 50px;
	}

	.priority-icons {
		justify-content: center;
		margin-top: 15px;
	}

	.priority-item {
		margin-bottom: 30px;
	}

	.priority-title {
		height: auto;
	}

	.examples-items {
		flex-wrap: wrap;
	}

	.examples-item {
		width: calc(100% / 1 - 20px);
	}

	.content-gray {
		padding: 20px 15px;
	}

	.content-more {
		svg {
			margin-left: 10px;
		}
	}

	.section-gray {
		padding: 20px 0;
	}

	.content-left {
		margin-right: 0;
		margin: 0 auto;
	}

	.filters-form .input {
		width: 100%;
	}

	.volunteer {
		width: 100%;
	}

	.article {
		width: 100%;
		margin: 0 0 30px 0;
	}

	.article-image {
		height: auto;
	}

	.articles {
		margin: 50px 0 0 0;
	}

	.kids-image {
		display: none;
	}
}