<div class="overlay">
	<div class="modal modal-request">
		<div class="modal-head">
			<div class="modal-title">Подать заявку</div>
			<div class="modal-desc">Пожалуйста, подтвердите участие в уроке.</div>
			<div class="modal-close">&times;</div>
		</div>
		<div class="align-top modal-info">
			<div class="modal-col">
				<div class="modal-col-title">Дата</div>
				<div class="modal-col-text">21.10.2021</div>
			</div>
			<div class="modal-col">
				<div class="modal-col-title">Время</div>
				<div class="modal-col-text">10:00 - 11:00</div>
			</div>
			<div class="modal-col">
				<div class="modal-col-title">Школа</div>
				<div class="modal-col-text">Начальная школа № 33 им. Н.Абдирова</div>
			</div>
			<div class="modal-col">
				<div class="modal-col-title">Классы</div>
				<div class="modal-col-text">1-5</div>
			</div>
			<div class="modal-col">
				<div class="modal-col-title">Волонтеры</div>
				<div class="modal-col-text">1/2 занято</div>
			</div>
		</div>
		<div class="modal-content">
			<div class="modal-col-title">Волонтеры</div>
			<div class="align-top modal-volonts">
				<div class="align-top modal-volont">
					<div class="modal-volont-image">
						<img src="%=static=%img/general/volont.png" alt="">
					</div>
					<div class="modal-volont-info">
						<div class="modal-volont-name">Бахыт Мухтарова</div>
						<a href="tel:+77050000077" class="modal-volont-phone">+7 705 000 00 77</a>
						<a href="mailto:bakhytm@gmail.com" class="modal-volont-email">bakhytm@gmail.com</a>
						<div class="align-center content-socials">
							<a href="/" class="content-social">
								{{Icon iconName="vk-gray"}}
							</a>
							<a href="/" class="content-social">
								{{Icon iconName="insta-gray"}}
							</a>
							<a href="/" class="content-social">
								{{Icon iconName="ok"}}
							</a>
						</div>
					</div>
				</div>
				<div class="align-top modal-volont">
					<div class="modal-volont-image">
						<img src="%=static=%img/general/volont-not.png" alt="">
					</div>
					<div class="modal-volont-info">
						<div class="modal-volont-name">Абрахманов Султан</div>
						<a href="tel:+77050000077" class="modal-volont-phone">+7 705 000 00 77</a>
						<a href="mailto:bakhytm@gmail.com" class="modal-volont-email">bakhytm@gmail.com</a>
						<div class="align-center content-socials">
							<a href="/" class="content-social">
								{{Icon iconName="insta-gray"}}
							</a>
						</div>
					</div>
				</div>
			</div>

			<form class="modal-link">
				<div class="modal-col-title">Ссылка</div>
				<div class="input">
					<textarea placeholder="Вставьте ссылку для преподавателя класса"></textarea>
				</div>

				<button class="btn btn-blue">подать заявку</button>
			</form>
		</div>
	</div>

	<div class="modal modal-anketa">
		<div class="modal-head">
			<div class="modal-title">Анкета волонтера</div>
			<div class="modal-close">&times;</div>
		</div>
		<div class="modal-content">
			<div class="modal-volont-image">
				<img src="%=static=%img/general/volont.png" alt="">
			</div>
			<div class="align-center modal-volont-name">
				<span>Бахыт Мухтарова</span>
				<div class="rating">
					<span>5.0</span>
					{{Icon iconName="star"}}
				</div>
			</div>
			<div class="modal-row">
				<div class="modal-name">Область:</div>
				<div class="modal-text">Алматинская</div>
			</div>
			<div class="modal-row">
				<div class="modal-name">Населенный пункт:</div>
				<div class="modal-text">Алматы</div>
			</div>
			<div class="modal-row">
				<div class="modal-name">Направления:</div>
				<div class="align-center modal-directions">
					<div class="modal-direction">GenU</div>
					<div class="modal-direction">Эко</div>
				</div>
			</div>
			<div class="modal-row">
				<div class="modal-name">Контакты:</div>
				<div class="modal-volont-info">
					<a href="tel:+77050000077" class="modal-volont-phone">+7 705 000 00 77</a>
					<a href="mailto:bakhytm@gmail.com" class="modal-volont-email">bakhytm@gmail.com</a>
					<div class="align-center content-socials">
						<a href="/" class="content-social">
							{{Icon iconName="vk-gray"}}
						</a>
						<a href="/" class="content-social">
							{{Icon iconName="insta-gray"}}
						</a>
						<a href="/" class="content-social">
							{{Icon iconName="ok"}}
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal modal-write">
		<div class="modal-head">
			<div class="modal-title">Написать отзыв</div>
			<div class="modal-desc">Пожалуйста, оцените деятельность волонтеров по уроку. Ваша оценка повлияет на рейтинг волонтеров.</div>
			<div class="modal-close">&times;</div>
		</div>
		<div class="align-top modal-info">
			<div class="modal-col">
				<div class="modal-col-title">Дата</div>
				<div class="modal-col-text">21.10.2021</div>
			</div>
			<div class="modal-col">
				<div class="modal-col-title">Время</div>
				<div class="modal-col-text">10:00 - 11:00</div>
			</div>
			<div class="modal-col">
				<div class="modal-col-title">Школа</div>
				<div class="modal-col-text">Начальная школа № 33 им. Н.Абдирова</div>
			</div>
			<div class="modal-col">
				<div class="modal-col-title">Классы</div>
				<div class="modal-col-text">1-5</div>
			</div>
		</div>

		<form class="modal-content">
			<div class="row modal-variants">
				<div class="modal-vol-name"></div>
				<div class="modal-variant">
					Ораторские способности
				</div>
				<div class="modal-variant">
					Организационные навыки
				</div>
				<div class="modal-variant">
					Этическая оценка
				</div>
				<div class="modal-variant">
					Ваш комментарий
				</div>
			</div>
			<div class="align-center modal-vol">
				<div class="modal-vol-name">Бахыт Мухтарова</div>
				<div class="modal-radios">
					<label class="align-center radio">
						<input type="radio" name="oratory-1">
						<span class="align-center radio-box"></span>
						<span class="radio-text">1</span>
					</label>
					<label class="align-center radio">
						<input type="radio" name="oratory-1">
						<span class="align-center radio-box"></span>
						<span class="radio-text">2</span>
					</label>
					<label class="align-center radio">
						<input type="radio" name="oratory-1">
						<span class="align-center radio-box"></span>
						<span class="radio-text">3</span>
					</label>
					<label class="align-center radio">
						<input type="radio" name="oratory-1">
						<span class="align-center radio-box"></span>
						<span class="radio-text">4</span>
					</label>
					<label class="align-center radio">
						<input type="radio" name="oratory-1">
						<span class="align-center radio-box"></span>
						<span class="radio-text">5</span>
					</label>
				</div>
				<div class="modal-radios">
					<label class="align-center radio">
						<input type="radio" name="organize-1">
						<span class="align-center radio-box"></span>
						<span class="radio-text">1</span>
					</label>
					<label class="align-center radio">
						<input type="radio" name="organize-1">
						<span class="align-center radio-box"></span>
						<span class="radio-text">2</span>
					</label>
					<label class="align-center radio">
						<input type="radio" name="organize-1">
						<span class="align-center radio-box"></span>
						<span class="radio-text">3</span>
					</label>
					<label class="align-center radio">
						<input type="radio" name="organize-1">
						<span class="align-center radio-box"></span>
						<span class="radio-text">4</span>
					</label>
					<label class="align-center radio">
						<input type="radio" name="organize-1">
						<span class="align-center radio-box"></span>
						<span class="radio-text">5</span>
					</label>
				</div>
				<div class="modal-radios">
					<label class="align-center radio">
						<input type="radio" name="etn-1">
						<span class="align-center radio-box"></span>
						<span class="radio-text">1</span>
					</label>
					<label class="align-center radio">
						<input type="radio" name="etn-1">
						<span class="align-center radio-box"></span>
						<span class="radio-text">2</span>
					</label>
					<label class="align-center radio">
						<input type="radio" name="etn-1">
						<span class="align-center radio-box"></span>
						<span class="radio-text">3</span>
					</label>
					<label class="align-center radio">
						<input type="radio" name="etn-1">
						<span class="align-center radio-box"></span>
						<span class="radio-text">4</span>
					</label>
					<label class="align-center radio">
						<input type="radio" name="etn-1">
						<span class="align-center radio-box"></span>
						<span class="radio-text">5</span>
					</label>
				</div>
				<div class="modal-comment">
					<div class="input">
						<textarea placeholder="Поделитесь мнением"></textarea>
					</div>
				</div>
			</div>
			<div class="align-center modal-vol">
				<div class="modal-vol-name">Асель Иманова</div>
				<div class="modal-radios">
					<label class="align-center radio">
						<input type="radio" name="oratory-2">
						<span class="align-center radio-box"></span>
						<span class="radio-text">1</span>
					</label>
					<label class="align-center radio">
						<input type="radio" name="oratory-2">
						<span class="align-center radio-box"></span>
						<span class="radio-text">2</span>
					</label>
					<label class="align-center radio">
						<input type="radio" name="oratory-2">
						<span class="align-center radio-box"></span>
						<span class="radio-text">3</span>
					</label>
					<label class="align-center radio">
						<input type="radio" name="oratory-2">
						<span class="align-center radio-box"></span>
						<span class="radio-text">4</span>
					</label>
					<label class="align-center radio">
						<input type="radio" name="oratory-2">
						<span class="align-center radio-box"></span>
						<span class="radio-text">5</span>
					</label>
				</div>
				<div class="modal-radios">
					<label class="align-center radio">
						<input type="radio" name="organize-2">
						<span class="align-center radio-box"></span>
						<span class="radio-text">1</span>
					</label>
					<label class="align-center radio">
						<input type="radio" name="organize-2">
						<span class="align-center radio-box"></span>
						<span class="radio-text">2</span>
					</label>
					<label class="align-center radio">
						<input type="radio" name="organize-2">
						<span class="align-center radio-box"></span>
						<span class="radio-text">3</span>
					</label>
					<label class="align-center radio">
						<input type="radio" name="organize-2">
						<span class="align-center radio-box"></span>
						<span class="radio-text">4</span>
					</label>
					<label class="align-center radio">
						<input type="radio" name="organize-2">
						<span class="align-center radio-box"></span>
						<span class="radio-text">5</span>
					</label>
				</div>
				<div class="modal-radios">
					<label class="align-center radio">
						<input type="radio" name="etn-2">
						<span class="align-center radio-box"></span>
						<span class="radio-text">1</span>
					</label>
					<label class="align-center radio">
						<input type="radio" name="etn-2">
						<span class="align-center radio-box"></span>
						<span class="radio-text">2</span>
					</label>
					<label class="align-center radio">
						<input type="radio" name="etn-2">
						<span class="align-center radio-box"></span>
						<span class="radio-text">3</span>
					</label>
					<label class="align-center radio">
						<input type="radio" name="etn-2">
						<span class="align-center radio-box"></span>
						<span class="radio-text">4</span>
					</label>
					<label class="align-center radio">
						<input type="radio" name="etn-2">
						<span class="align-center radio-box"></span>
						<span class="radio-text">5</span>
					</label>
				</div>
				<div class="modal-comment">
					<div class="input">
						<textarea placeholder="Поделитесь мнением"></textarea>
					</div>
				</div>
			</div>
			<button class="btn btn-blue">Оценить волонтеров</button>
		</form>
	</div>

	<div class="modal modal-delete">
		<div class="modal-head">
			<div class="modal-title">Подтверждение удаления занятия </div>
			<div class="modal-close">&times;</div>
		</div>
		<div class="align-center modal-alert">
			{{Icon iconName="alert-circle"}}
			<div class="modal-group">
				<div class="modal-col-title">Вы уверены?</div>
				<div class="modal-col-text">После подтверждения будет удалено запланированное занятие</div>
			</div>
		</div>
		<div class="modal-content">
			<div class="align-center modal-btns">
				<button class="modal-remove">Удалить</button>
				<a href="#" class="modal-cancel">Отменить</a>
			</div>
		</div>
	</div>
</div>