<footer class="footer">
	<div class="wrapper">
		<div class="align-top footer-top">
			<div class="footer-info">
				<div class="align-center footer-item">
					<div class="footer-icon">{{Icon iconName="unicef-blue"}}</div>
					<div class="footer-name">ЮНИСЕФ в Казахстане</div>
				</div>
				<div class="align-center footer-item">
					<div class="footer-icon">{{Icon iconName="qv-dark"}}</div>
					<div class="footer-name">Единая платформа волонтёров QazVolunteer</div>
				</div>
				<div class="align-center footer-item">
					<div class="footer-icon">{{Icon iconName="markello"}}</div>
					<div class="footer-name">Разработка сайта Markello</div>
				</div>
			</div>
			<div class="row footer-column">
				<div class="footer-title">Страницы</div>
				<div class="footer-links">
					<a href="#" class="footer-link">Волонтеры</a>
					<a href="#" class="footer-link">Школы</a>
					<a href="#" class="footer-link">Календарь лекций</a>
					<a href="#" class="footer-link">Направления</a>
					<a href="#" class="footer-link">Галерея</a>
					<a href="#" class="footer-link">Наша деятельность</a>
					<a href="#" class="footer-link">Контакты</a>
				</div>
			</div>
			<div class="row footer-column">
				<div class="footer-title">Информация</div>
				<div class="footer-links">
					<a href="#" class="footer-link">Частые вопросы и ответы</a>
					<a href="#" class="footer-link">Руководство</a>
					<a href="#" class="footer-link">СМИ о нас</a>
					<a href="#" class="footer-link">Политика конфиденциальности</a>
				</div>
			</div>
			<div class="footer-form">
				<div class="footer-title">Лайфхаки и советы</div>
				<div class="footer-text">Подпишитесь на рассылку и будьте в курсе всех актуальных новостей</div>
				<form>
					<div class="input">
						<input type="text" placeholder="Электронная почта">
					</div>
					<label class="align-top check">
						<input type="checkbox">
						<span class="align-center check-box"></span>
						<span class="check-text">Нажимая на кнопку “Подписаться”, я принимаю условия Политики конфиденциальности и даю своё согласие. </span>
					</label>
					<button class="btn btn-bg-blue">
						<span>подписаться</span>
					</button>
				</form>
			</div>
		</div>
		<div class="footer-copy">
			© ЮНИСЕФ & Национальная волонтерская сеть 2021
		</div>
	</div>
</footer>