<div class="alerts"> <!-- .active -->
	<div class="alert error">
		<div class="align-center alert-head">
			{{Icon iconName="alert-logo"}}
			<div class="alert-close">&times;</div>
		</div>
		<div class="alert-text">
			<p>Ошибка!</p>
			<p>Заполните обязательные поля.</p>
		</div>
	</div>
	<div class="alert success">
		<div class="align-center alert-head">
			{{Icon iconName="alert-logo"}}
			<div class="alert-close">&times;</div>
		</div>
		<div class="alert-text">
			<p>Ошибка!</p>
			<p>Заполните обязательные поля.</p>
		</div>
	</div>
	<div class="alert warning">
		<div class="align-center alert-head">
			{{Icon iconName="alert-logo"}}
			<div class="alert-close">&times;</div>
		</div>
		<div class="alert-text">
			<p>Ошибка!</p>
			<p>Заполните обязательные поля.</p>
		</div>
	</div>
</div>