<div class="content content-s">
    <div class="wrapper">
        <div class="align-top content-row">
            <div class="content-left"></div>
            <div class="content-right">
                <h3 class="subtitle">Галерея</h3>
                <div class="align-top content-gallery">
                    <a href="%=static=%img/general/bekind-photo.png" class="align-center content-photo" data-fancybox="gallery">
                        <img src="%=static=%img/general/bekind-photo.png" alt="">
                    </a>
                    <a href="%=static=%img/general/genu-photo.png" class="align-center content-photo" data-fancybox="gallery">
                        <img src="%=static=%img/general/genu-photo.png" alt="">
                    </a>
                    <a href="%=static=%img/general/plastic-photo.png" class="align-center content-photo" data-fancybox="gallery">
                        <img src="%=static=%img/general/plastic-photo.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>