<div class="slider unicef-kz">
    <div class="swiper-slide">
        <img src="%=static=%img/general/unicef-kz.png" alt="">
        <div class="slider-content">
            <div class="slider-title">
                ЮНИСЕФ Казахстан 
            </div>
            <div class="text slider-text">
                Узнайте, как мы поддерживаем детей 
                и защищаем их права 
            </div>
            <a href="#" class="slider-button">
                Наша деятельность 
            </a>
        </div>
    </div>
</div>