<header class="header">
	<div class="wrapper">
		<div class="align-center header-row">
			<a href="index.html" class="align-center logo">
				{{Icon iconName="unicef-logo"}}
				<span class="logo-title">Unicef</span>
			</a>
			<a href="index.html" class="align-center logo-qv">
				{{Icon iconName="qv-logo"}}
				<span class="logo-title">Единая Платформа Волонтёров</span>
			</a>

			<div class="align-center socials">
				<a href="/" class="align-center social">
					{{Icon iconName="facebook"}}
				</a>
				<a href="/" class="align-center social">
					{{Icon iconName="vk"}}
				</a>
				<a href="/" class="align-center social">
					{{Icon iconName="instagram"}}
				</a>
			</div>

			<div class="lang">
				<div class="align-center lang-current">
					QZ
				</div>
				<div class="lang-container">
					<a href="#" class="align-center">РУ</a>
					<a href="#" class="align-center">EN</a>
				</div>
			</div>

			<a href="/" class="btn btn-light">
				Стать волонтером
			</a>
		</div>
	</div>
</header>

<div class="mobile-menu">
	<div class="mobile-head">
		<div class="mobile-close">&times;</div>
		<a href="index.html" class="align-center logo">
			{{Icon iconName="unicef-logo"}}
			<span class="logo-title">Unicef</span>
		</a>
		<a href="index.html" class="align-center logo-qv">
			{{Icon iconName="qv-logo"}}
			<span class="logo-title">Единая Платформа Волонтёров</span>
		</a>
	</div>
	<ul class="align-center nav-list">
		<li class="align-center nav-list-item">
			<a href="#">Волонтеры</a>
			{{Icon iconName="arrow-down"}}
			<ul>
				<li>
					<a href="#">Волонтеры</a>
				</li>
				<li>
					<a href="#">Амбассадоры</a>
				</li>
				<li>
					<a href="#">Волонтерство за рубежом</a>
				</li>
				<li>
					<a href="#">Лучший волонтер 2020</a>
				</li>
			</ul>
		</li>
		<li class="align-center nav-list-item">
			<a href="#">Школы</a>
		</li>
		<li class="align-center nav-list-item">
			<a href="#">Направления</a>
			{{Icon iconName="arrow-down"}}
			<ul>
				<li>
					<a href="#">Волонтеры</a>
				</li>
				<li>
					<a href="#">Амбассадоры</a>
				</li>
				<li>
					<a href="#">Волонтерство за рубежом</a>
				</li>
				<li>
					<a href="#">Лучший волонтер 2020</a>
				</li>
			</ul>
		</li>
		<li class="align-center nav-list-item">
			<a href="#">Календарь лекций</a>
		</li>
		<li class="align-center nav-list-item">
			<a href="#">Галерея</a>
		</li>
		<li class="align-center nav-list-item">
			<a href="#">О нас</a>
		</li>
		<li class="align-center nav-list-item">
			<a href="#">Контакты</a>
		</li>
	</ul>
</div>

<nav class="nav">
	<div class="align-center wrapper">
		<div class="burger">
			<span></span>
			<span></span>
			<span></span>
		</div>
		<ul class="align-center nav-list">
			<li class="align-center nav-list-item">
				<a href="#">Волонтеры</a>
				{{Icon iconName="arrow-down"}}
				<ul>
					<li>
						<a href="#">Волонтеры</a>
					</li>
					<li>
						<a href="#">Амбассадоры</a>
					</li>
					<li>
						<a href="#">Волонтерство за рубежом</a>
					</li>
					<li>
						<a href="#">Лучший волонтер 2020</a>
					</li>
				</ul>
			</li>
			<li class="align-center nav-list-item">
				<a href="#">Школы</a>
			</li>
			<li class="align-center nav-list-item">
				<a href="#">Направления</a>
				{{Icon iconName="arrow-down"}}
				<ul>
					<li>
						<a href="#">Волонтеры</a>
					</li>
					<li>
						<a href="#">Амбассадоры</a>
					</li>
					<li>
						<a href="#">Волонтерство за рубежом</a>
					</li>
					<li>
						<a href="#">Лучший волонтер 2020</a>
					</li>
				</ul>
			</li>
			<li class="align-center nav-list-item">
				<a href="#">Календарь лекций</a>
			</li>
			<li class="align-center nav-list-item">
				<a href="#">Галерея</a>
			</li>
			<li class="align-center nav-list-item">
				<a href="#">О нас</a>
			</li>
			<li class="align-center nav-list-item">
				<a href="#">Контакты</a>
			</li>
		</ul>

		<form class="align-center search">
			<div class="search-input">
				<input type="text" placeholder="Поиск">
			</div>
			<button class="search-btn">
				{{Icon iconName="search"}}
			</button>
		</form>

		<a href="login.html" class="align-center login">
			{{Icon iconName="login"}}
			<span>Войти</span>
		</a>
	</div>
</nav>