 <div class="direction">
    <div class="wrapper">
        <div class="align-center direction-row">
            <h3 class="title">Направления волонтерства</h3>
            <a href="/" class="link">Смотреть все направления</a>
        </div>

        <div class="direction-slider">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <a href="#" class="swiper-slide green">
                        <img src="%=static=%img/general/direction/1.png" alt="" class="direction-img">
                        <div class="direction-content">
                            <div class="direction-view">
                                <div class="title direction-title">GenU ЮНИСЕФ</div>
                                <div class="text direction-text">
                                    Обучение по улучшению навыков написания резюме, собеседований, стратегий поиска работы, а также основных навыков межличностного общения, необходимых для будущей карьеры
                                </div>
                            </div>
                            <div class="align-center direction-link">
                                <span>Подробнее</span>
                                {{Icon iconName="arrow-right"}}
                            </div>
                        </div>
                    </a>
                    <a href="#" class="swiper-slide blue">
                        <img src="%=static=%img/general/direction/2.png" alt="" class="direction-img">
                        <div class="direction-content">
                            <div class="direction-view">
                                <div class="title direction-title">Plastic Free</div>
                                <div class="text direction-text">
                                    Цель привить детям от 7 до 10 лет культуру минимизации использования пластика.
                                </div>
                            </div>
                            <div class="align-center direction-link">
                                <span>Подробнее</span>
                                {{Icon iconName="arrow-right"}}
                            </div>
                        </div>
                    </a>
                    <a href="#" class="swiper-slide orange">
                        <img src="%=static=%img/general/direction/1.png" alt="" class="direction-img">
                        <div class="direction-content">
                            <div class="direction-view">
                                <div class="title direction-title">Be Kind</div>
                                <div class="text direction-text">
                                    UNICEF BeKind призван снизить «индекс» терпимости к школьной травле и помочь создать безопасную школьную среду
                                </div>
                            </div>
                            <div class="align-center direction-link">
                                <span>Подробнее</span>
                                {{Icon iconName="arrow-right"}}
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>