<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>{{title}}</title>
<meta content="" name="description">
<meta content="" name="keywords">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta content="telephone=no" name="format-detection">
<meta name="HandheldFriendly" content="true">

<link href="%=static=%css/main%=hash=%%=min=%.css" rel="stylesheet" type="text/css">

{{#if useSocialMetaTags}}
<meta property="og:title" content="" />
<meta property="og:url" content="" />
<meta property="og:description" content="" />
<meta property="og:image" content="" />
<meta property="og:image:type" content="image/jpeg" />
<meta property="og:image:width" content="500" />
<meta property="og:image:height" content="300" />
<meta property="twitter:description" content="" />
<link rel="image_src" href="" />
{{/if}}

<link rel="icon" type="image/x-icon" href="favicon.ico">
<script>
    (function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)
</script>
