<div class="align-center pagination">
	<div class="pagination-arrow pagination-prev disabled">
		{{Icon iconName="pagination-arrow"}}
	</div>
	<div class="pagination-num active">1</div>
	<div class="pagination-num">2</div>
	<div class="pagination-num">3</div>
	<div class="pagination-num">4</div>
	<div class="pagination-num">5</div>
	<div class="pagination-num">...</div>	
	<div class="pagination-num">10</div>
	<div class="pagination-arrow pagination-next">
		{{Icon iconName="pagination-arrow"}}
	</div>
</div>