<div class="bread">
	<div class="wrapper">
		<div class="align-center bread-links">
			<a href="index.html" class="bread-link">Главная</a>
			<a href="#" class="bread-link">Ссылка</a>
		</div>
	</div>
</div>