<div class="navbar">
	<div class="navbar-top">
		<a href="/" class="align-center logo">
			{{Icon iconName="unicef-blue"}}
			<span class="logo-title">Unicef</span>
		</a>
		<ul class="navbar-menu">
			<li class="navbar-menu-item">
				<a class="align-center active">
					{{Icon iconName="home"}}
					<span>Сводка</span>
				</a>
				<ul>
					<li class="active"><a href="admin-lessons.html">Уроки</a></li>
					<li><a href="admin-volont.html">Волонтеры</a></li>
					<li><a href="admin-school.html">Школы</a></li>
					<li><a href="admin-student.html">Ученики</a></li>
				</ul>
			</li>
			<li class="navbar-menu-item">
				<a href="admin-timetable.html" class="align-center">
					{{Icon iconName="calendar-admin"}}
					<span>Расписание занятий</span>
				</a>
			</li>
			<li class="navbar-menu-item">
				<a class="align-center">
					{{Icon iconName="users"}}
					<span>Пользователи</span>
				</a>
				<ul>
					<li><a href="#">Волонтеры</a></li>
					<li><a href="#">Кураторы</a></li>
					<li><a href="#">Координаторы</a></li>
				</ul>
			</li>
			<li class="navbar-menu-item">
				<a href="admin-pages.html" class="align-center">
					{{Icon iconName="pages"}}
					<span>Страницы</span>
				</a>
			</li>
			<li class="navbar-menu-item">
				<a href="#" class="align-center">
					{{Icon iconName="anketa"}}
					<span>Справочники</span>
				</a>
			</li>
			<li class="navbar-menu-item">
				<a href="#" class="align-center">
					{{Icon iconName="settings"}}
					<span>Настройки</span>
				</a>
			</li>
		</ul>
	</div>
	<div class="navbar-bottom">
		<div class="profile-settings">
			<a href="#" class="align-center profile-link">
				{{Icon iconName="user"}}
				<span>Профиль</span>
			</a>
			<a href="#" class="align-center profile-link">
				{{Icon iconName="external-link"}}
				<span>Перейти на сайт</span>
			</a>
			<a href="#" class="align-center profile-link">
				{{Icon iconName="log-out"}}
				<span>Выйти</span>
			</a>
		</div>
		<div class="align-center profile">
			<div class="profile-photo">
				<img src="%=static=%img/general/admin.png" alt="">
			</div>
			<div class="profile-name">Мерей Тлеугазин</div>
			<div class="profile-arrow">
				{{Icon iconName="triangle-arrow"}}
			</div>
		</div>
	</div>
</div>