<div class="navbar">
	<div class="navbar-top">
		<a href="/" class="align-center logo">
			{{Icon iconName="unicef-blue"}}
			<span class="logo-title">Unicef</span>
		</a>
		<ul class="navbar-menu">
			<li class="navbar-menu-item">
				<a href="kurator-main.html" class="align-center active">
					{{Icon iconName="home"}}
					<span>Главная</span>
				</a>
			</li>
			<li class="navbar-menu-item">
				<a href="/kurator-timetable.html" class="align-center">
					{{Icon iconName="calendar-admin"}}
					<span>Расписание занятий</span>
				</a>
			</li>
			<li class="navbar-menu-item">
				<a href="kurator-settings.html" class="align-center">
					{{Icon iconName="teacher"}}
					<span>Преподаватели</span>
				</a>
			</li>
			<li class="navbar-menu-item">
				<a href="kurator-settings.html" class="align-center">
					{{Icon iconName="settings"}}
					<span>Настройки</span>
				</a>
			</li>
		</ul>
		<ul>
			<li class="navbar-menu-item">
				<a href="/" class="align-center">
					{{Icon iconName="nav-help"}}
					<span>Помощь</span>
				</a>
			</li>
		</ul>
	</div>
	<div class="navbar-bottom">
		<div class="profile-rating">
			<div class="text">Рейтинг</div>
			<div class="profile-num">1400</div>
			<div class="progress">
				<div class="progress-active" style="width: 50px;"></div>
			</div>
		</div>
		<div class="profile-settings">
			<a href="#" class="align-center profile-link">
				{{Icon iconName="user"}}
				<span>Профиль</span>
			</a>
			<a href="#" class="align-center profile-link">
				{{Icon iconName="external-link"}}
				<span>Перейти на сайт</span>
			</a>
			<a href="#" class="align-center profile-link">
				{{Icon iconName="log-out"}}
				<span>Выйти</span>
			</a>
		</div>
		<div class="align-center profile">
			<div class="profile-photo">
				<img src="%=static=%img/general/admin.png" alt="">
			</div>
			<div class="profile-name">Мерей Тлеугазин</div>
			<div class="profile-arrow">
				{{Icon iconName="triangle-arrow"}}
			</div>
		</div>
	</div>
</div>